Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(signups): redesign signups management
  .changeset/eighty-frogs-hug.md
  .changeset/fluffy-flowers-act.md
  packages/api/src/modules/users/resolvers/mutation.accept-registration.ts
  packages/api/src/modules/users/resolvers/mutation.refuse-registration.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-candidate.ts
  packages/api/src/modules/users/resolvers/query.user-candidates.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/components/InputMajor.svelte
  packages/app/src/lib/components/InputNumber.svelte
  packages/app/src/lib/components/Submenu.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/signups/+layout.gql
  packages/app/src/routes/(app)/signups/+layout.svelte
  packages/app/src/routes/(app)/signups/+page.svelte
  packages/app/src/routes/(app)/signups/+page.ts
  packages/app/src/routes/(app)/signups/ModalRefuseReason.svelte
  packages/app/src/routes/(app)/signups/edit/[email]/+page.gql
  packages/app/src/routes/(app)/signups/edit/[email]/+page.svelte
  packages/app/src/routes/(app)/signups/edit/[email]/+page.ts
  packages/app/src/routes/(app)/signups/shared.ts
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: add changeset
  .changeset/curvy-lamps-rescue.md
Due: prettier --write --ignore-unknown

chore: remove .old-app-routes
  .old-app-routes/forms/+page.server.ts
  .old-app-routes/forms/+page.svelte
  .old-app-routes/forms/+page.ts
  .old-app-routes/forms/FormBasicDetails.svelte
  .old-app-routes/forms/[form]/+layout.svelte
  .old-app-routes/forms/[form]/+layout.ts
  .old-app-routes/forms/[form]/answer/[[section]]/+page.server.ts
  .old-app-routes/forms/[form]/answer/[[section]]/+page.svelte
  .old-app-routes/forms/[form]/answer/[[section]]/+page.ts
  .old-app-routes/forms/[form]/answer/[[section]]/CardQuestion.svelte
  .old-app-routes/forms/[form]/answered/+page.svelte
  .old-app-routes/forms/[form]/answered/+page.ts
  .old-app-routes/forms/[form]/answers.[extension]/+server.ts
  .old-app-routes/forms/[form]/answers/+layout.svelte
  .old-app-routes/forms/[form]/answers/+layout.ts
  .old-app-routes/forms/[form]/answers/+page.svelte
  .old-app-routes/forms/[form]/answers/+page.ts
  .old-app-routes/forms/[form]/answers/Header.svelte
  .old-app-routes/forms/[form]/answers/analytics/+page.svelte
  .old-app-routes/forms/[form]/answers/analytics/+page.ts
  .old-app-routes/forms/[form]/edit/+page.server.ts
  .old-app-routes/forms/[form]/edit/+page.svelte
  .old-app-routes/forms/[form]/edit/+page.ts
  .old-app-routes/forms/[form]/edit/BaseFormQuestion.svelte
  .old-app-routes/forms/[form]/edit/FormQuestion.svelte
  .old-app-routes/forms/[form]/edit/FormQuestionChoices.svelte
  .old-app-routes/forms/[form]/edit/FormQuestionScale.svelte
  .old-app-routes/forms/create/+page.svelte
  .old-app-routes/forms/create/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore!: remove /reports/ pages and gitlab issues listing api (closes #1244)
  .changeset/curly-wombats-hang.md
  .changeset/poor-boats-search.md
  packages/api/.graphinx.yaml
  packages/api/barrelsby.config.json
  packages/api/src/modules/gitlab/README.md
  packages/api/src/modules/gitlab/icon.svg
  packages/api/src/modules/gitlab/index.ts
  packages/api/src/modules/gitlab/resolvers/index.ts
  packages/api/src/modules/gitlab/resolvers/issue.comments.ts
  packages/api/src/modules/gitlab/resolvers/query.code-contributors.ts
  packages/api/src/modules/gitlab/resolvers/query.issue.ts
  packages/api/src/modules/gitlab/resolvers/query.issues-by-user.ts
  packages/api/src/modules/gitlab/types/index.ts
  packages/api/src/modules/gitlab/types/issue-comment.ts
  packages/api/src/modules/gitlab/types/issue-state.ts
  packages/api/src/modules/gitlab/types/issue.ts
  packages/api/src/modules/gitlab/utils/gitlab-api.ts
  packages/api/src/modules/gitlab/utils/index.ts
  packages/api/src/modules/gitlab/utils/labels.ts
  packages/api/src/modules/global/resolvers/index.ts
  packages/api/src/modules/global/resolvers/mutation.create-gitlab-issue.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(app)/credits/+page.svelte
  packages/app/src/routes/(app)/credits/+page.ts
  packages/app/src/routes/(app)/reports/+page.svelte
  packages/app/src/routes/(app)/reports/+page.ts
  packages/app/src/routes/(app)/reports/[number]/+page.svelte
  packages/app/src/routes/(app)/reports/[number]/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove ISSUE_STATE_DISPLAY from $lib/display.ts
  packages/app/src/lib/display.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(app): import graphql() from $houdini and not graphql...
  packages/app/src/routes/(app)/signups/shared.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changelog): update public-facing changelog
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/breezy-fans-rule.md
  .changeset/bright-hairs-pay.md
  .changeset/bright-rocks-matter.md
  .changeset/chilled-spoons-guess.md
  .changeset/cold-brooms-pump.md
  .changeset/eleven-donkeys-end.md
  .changeset/fifty-bees-count.md
  .changeset/fifty-cars-judge.md
  .changeset/flat-lamps-stare.md
  .changeset/fuzzy-mirrors-listen.md
  .changeset/happy-dragons-yell.md
  .changeset/mighty-suits-burn.md
  .changeset/ninety-eggs-flash.md
  .changeset/odd-horses-fold.md
  .changeset/quick-buses-kneel.md
  .changeset/quiet-pans-train.md
  .changeset/short-goats-cover.md
  .changeset/strong-pumpkins-hammer.md
  .changeset/swift-seals-bow.md
  .changeset/tame-kids-impress.md
  .changeset/wet-eggs-begin.md
  .changeset/wise-numbers-drive.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/little-games-greet.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

fix(bookmarks): make services in quick access list actually actually clickable
  .changeset/little-games-greet.md
  packages/app/src/lib/components/QuickAccessList.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP
  packages/app/src/lib/components/FormAnnouncement.svelte
  packages/app/src/routes/(app)/announcements/+page.gql
  packages/app/src/routes/(app)/announcements/+page.svelte
  packages/app/src/routes/(app)/announcements/+page.ts
  packages/app/src/routes/(app)/announcements/page.bak.svelte
  packages/app/src/routes/(app)/backrooms/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove #modules/gitlab import from schema definition
  packages/api/src/schema.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove CardComment component
  packages/app/src/lib/components/CardComment.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor: remove unused scripts & some other shenanigans
  packages/api/prisma-client.sh
  packages/api/scripts/crowdsource-3ea-migration/crowdsource-3ea-migration.ts
  packages/app/src/design/variables.scss
  packages/app/src/houdification-progress.csv
  packages/app/src/scripts/houdinification-progress.ts
  packages/app/svelte.config.js
  packages/app/vite.config.js
  scripts/test-oauth-client.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor: remove .houdini suffix from components that no longer have a non-houdini version
  packages/app/src/lib/components/AreaComments.svelte
  packages/app/src/lib/components/AvatarGroup.svelte
  packages/app/src/lib/components/CardArticle.svelte
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/lib/components/CardService.houdini.svelte
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/components/FormPicture.svelte
  packages/app/src/lib/components/GroupMember.svelte
  packages/app/src/lib/components/PickGroup.svelte
  packages/app/src/routes/(app)/+page.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/edit/+layout.svelte
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  packages/app/src/routes/(app)/posts/[id]/edit/+layout.svelte
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
  packages/app/src/routes/(app)/services/[id]/edit/+page.svelte
  packages/app/src/routes/(app)/services/manage/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): remove unused dependencies, -500MB of unpacked size for whole monorepo
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): uuuuuuuuuuuh remove homemade depcheck patch '^^
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(vscode): cleanup .vscode folder
  .vscode/console_log.code-search
  .vscode/extensions.json
  .vscode/graphql.code-snippets
  .vscode/houdini.code-snippets
  .vscode/mjml.code-snippets
  .vscode/pothos.code-snippets
  .vscode/svelte.code-snippets
Due: prettier --write --ignore-unknown

chore: get rid of generate-reserved-usernames-from-routes and generated-dotenv-service-worker
  .yarn/patches/vite-plugin-kit-routes-npm-0.6.11-4c63c495df.patch
  packages/app/package.json
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/check-uid/[uid]/+server.ts
  packages/app/src/scripts/generate-dotenv-service-worker.js
  packages/app/src/scripts/generate-reserved-usernames-from-routes.ts
  packages/app/src/service-worker.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs: update vscode task and CONTRIBUTING.md to use .env watcher
  .vscode/tasks.json
  CONTRIBUTING.md
Due: prettier --write --ignore-unknown

chore: update lockfile...
  yarn.lock
Due: prettier --write --ignore-unknown

chore(prisma): remove irrelevant & empty migration
  packages/db/prisma/migrations/20241112144600_user_rename_reservation_to_bookings/migration.sql
Due: prettier --write --ignore-unknown

chore(prisma): make sure migration SQL files only contain real changes
  .changeset/gold-mangos-rest.md
  packages/db/prisma/migrations/20241123005143_id_generation_use_explicit_typecasts/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

chore(renovate): try adding graphinx template manager
  renovate.json
Due: prettier --write --ignore-unknown

chore(renovate): add graphinx jsonschema manager, try fixing graphinx template manager
  renovate.json
Due: prettier --write --ignore-unknown

build(app): fix typing of InputMajor:major
  packages/app/src/lib/components/InputMajor.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove CardComment usage on /reports/:number
  packages/app/src/routes/(app)/reports/[number]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(app): fix typing error in InputMajor
  packages/app/src/lib/components/InputMajor.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/curriculum/+page.svelte
  packages/app/src/routes/signup/FormSignup.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(signups management): total count of top title would go into negatives
  packages/app/src/routes/(app)/signups/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(signups)!: rename Mutation.{accept,refuse}Registration to Mutation.{accept,refuse}UserCandidate
  .changeset/new-readers-yell.md
  packages/api/src/modules/users/resolvers/index.ts
  packages/api/src/modules/users/resolvers/mutation.accept-user-candidate.ts
  packages/api/src/modules/users/resolvers/mutation.refuse-user-candidate.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/signups/shared.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(users): dedupe profile email addresses (fixes #1018)
  .changeset/curvy-lamps-rescue.md
  .gitignore
  packages/api/src/modules/users/types/user-profile-input.ts
  packages/app/src/routes/(app)/users/[uid]/edit/other-emails/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor: handle booking searches way better
  packages/api/src/modules/ticketing/resolvers/event.bookings.ts
  packages/api/src/modules/ticketing/resolvers/event.search-bookings.ts
  packages/api/src/modules/ticketing/types/booking-status.ts
  packages/api/src/modules/ticketing/types/index.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/events/[id]/bookings/+page.gql
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: update ROUTES.ts
  packages/app/src/lib/ROUTES.ts
Due: eslint --fix, prettier --write --ignore-unknown

Apply 1 suggestion(s) to 1 file(s)
  default.md
Due: prettier --write --ignore-unknown

feat(backrooms): show red dot on signups management menu item
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/routes/(app)/backrooms/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(backrooms): add link to it from the sidebar (on desktop)
  packages/app/src/lib/components/ButtonNavigation.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/navigation.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
