Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

fix(bookings): key the each (may fix #1099)
  packages/app/src/routes/(app)/bookings/+page.gql
  packages/app/src/routes/(app)/bookings/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(events): the calendar now shows the day of the month in the event header
  packages/app/src/lib/components/EventsDayHeader.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changeset): create changeset
  .changeset/three-ears-beam.md
Due: prettier --write --ignore-unknown

fix(events): the calendar now shows the day of the month in the event header
  .changeset/three-ears-beam.md
  packages/app/src/lib/components/EventsDayHeader.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(manifest): remove invalid field (this is an chrome extension field not a PWA field)
  packages/app/src/routes/manifest.json/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): add changeset
  .changeset/wise-yaks-yawn.md
Due: prettier --write --ignore-unknown

chore(changeset): modify changeset for convention
  .changeset/wise-yaks-yawn.md
Due: prettier --write --ignore-unknown

chore(changeset): my past two changesets are now following conventions
  .changeset/dry-suns-begin.md
  .changeset/three-ears-beam.md
Due: prettier --write --ignore-unknown

chore(changeset): follow convention
  .changeset/dry-suns-begin.md
  .changeset/three-ears-beam.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/cuddly-dryers-study.md
  .changeset/dry-suns-begin.md
  .changeset/gentle-items-decide.md
  .changeset/mighty-bats-film.md
  .changeset/three-ears-beam.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

feat(app): sentry support
  .changeset/cyan-hornets-flash.md
  .env.example
  ci/docker.gitlab-ci.yml
  ci/volta.gitlab-ci.yml
  packages/app/.gitignore
  packages/app/package.json
  packages/app/src/hooks.client.ts
  packages/app/src/hooks.server.ts
  packages/app/src/lib/sentry.ts
  packages/app/src/routes/+layout.gql
  packages/app/src/routes/+layout.server.ts
  packages/app/src/routes/+layout.svelte
  packages/app/src/routes/check-uid/[uid]/+server.ts
  packages/app/vite.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/cyan-hornets-flash.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

fix(pwa): installability issues
  .changeset/wise-yaks-yawn.md
  packages/app/src/routes/manifest.json/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(ticketing): variable price input was enabled on price change
  .changeset/tricky-ways-suffer.md
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/mutations.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ticketing): could set godsons even when godson limit was diabled
  .changeset/little-garlics-collect.md
  packages/api/src/modules/ticketing/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/little-garlics-collect.md
  .changeset/nice-olives-rush.md
  .changeset/slow-guests-stare.md
  .changeset/tricky-ways-suffer.md
  .changeset/wise-yaks-yawn.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(ci): fix sed
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(db): fix borked migration
  .changeset/old-birds-march.md
  .changeset/tough-masks-begin.md
  packages/api/CHANGELOG.md
  packages/app/CHANGELOG.md
  packages/db/CHANGELOG.md
  packages/db/prisma/migrations/20240907185040_variable_prices/migration.sql
  packages/db/prisma/migrations/20240908061852_transition_price_to_minmax_price/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/old-birds-march.md
  .changeset/tough-masks-begin.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(ticketing): global event capacity was not taken into account
  .changeset/yellow-news-sneeze.md
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/api/src/modules/ticketing/resolvers/ticket.places-left.ts
  packages/api/src/modules/ticketing/utils/places.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(ticketing): cannot book on any event
  .changeset/late-shrimps-visit.md
  packages/db/prisma/migrations/20240908084441_registration_add_price/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

chore(changeset): bump @db
  .changeset/dirty-poets-grab.md
Due: prettier --write --ignore-unknown

fix(db): update fulltextsearch trigger for registration
  .changeset/modern-horses-breathe.md
  packages/api/src/lib/fulltextsearch.sql
  packages/db/prisma/migrations/20240908085832_fix_registration_search_update_trigger/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

fix(db): fix update search trigger migration
  packages/db/prisma/migrations/20240908085832_fix_registration_search_update_trigger/migration.sql
Due: prettier --write --ignore-unknown

fix(api): minimum price was sent to lydia event when paying more
  .changeset/thin-baboons-shave.md
  packages/api/src/modules/ticketing/resolvers/mutation.pay-booking.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(api): log lydia payment requests
  packages/api/src/modules/payments/utils/lydia/transactions.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/dirty-poets-grab.md
  .changeset/late-shrimps-visit.md
  .changeset/modern-horses-breathe.md
  .changeset/thin-baboons-shave.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(posts): link to event was lost on save
  .changeset/tiny-tigers-call.md
  packages/app/src/lib/components/FormArticle.houdini.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): allow managing ticket groups
  .changeset/nasty-islands-divide.md
  .changeset/orange-peaches-wonder.md
  packages/api/src/modules/ticketing/resolvers/event.ticket-group.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.delete-ticket-group.ts
  packages/api/src/modules/ticketing/resolvers/mutation.set-ticket-group.ts
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-ticket-group.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/TextTicketGroupSummary.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/events/[id]/edit/ticket-groups/[group]/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/ticket-groups/[group]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/ticket-groups/[group]/mutations.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/group/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/group/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/mutations.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(settings): edit saved lydia phone
  .changeset/fresh-pans-notice.md
  .changeset/wild-nails-pump.md
  packages/api/src/modules/users/resolvers/mutation.save-lydia-phone-number.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/IconLydia.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.gql
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(events): make entire event card clickable
  packages/app/src/lib/components/CardEvent.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(wording): fix wording of validation error on ticket group capacity input
  packages/app/src/routes/(app)/events/[id]/edit/ticket-groups/[group]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(posts): anyone could edit a post
  .changeset/weak-mayflies-applaud.md
  packages/api/src/modules/links/resolvers/mutation.add-links.ts
  packages/api/src/modules/links/utils/permissions.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article.ts
  packages/api/src/modules/posts/types/article.ts
  packages/api/src/modules/posts/utils/permissions.ts
  packages/api/src/permissions/member.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(posts): fix canEditArticles
  packages/api/src/modules/posts/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(ticketing): fix query for Ticket.registrations
  .changeset/dirty-rocks-exercise.md
  packages/api/src/modules/ticketing/types/ticket.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(devel): clear redis cache before seeding database
  packages/db/package.json
  packages/db/seed/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

fix(ticketing): translate some error messages, default phone to user's lydia phone when not set (closes #1134)
  packages/api/src/modules/ticketing/resolvers/mutation.pay-booking.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(app): buttonlike: cannot read properties of null (reading 'likes') (closes #1124)
  packages/app/src/lib/components/ButtonLike.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): modaldialog close click handler: use e.currenttarget instead of element (closes #1126)
  packages/app/src/lib/components/ModalDialog.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(social links): don't use named capture groups (closes #1122)
  packages/app/src/lib/components/PillLink.svelte
  packages/app/src/lib/social.generated.ts
  packages/app/src/scripts/generate-socials-json.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown
