Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(posts): use /posts/:id instead of /posts/:group/:slug
  packages/api/src/lib/context.ts
  packages/api/src/modules/groups/resolvers/query.groups.ts
  packages/api/src/modules/posts/resolvers/query.article.ts
  packages/api/src/modules/posts/utils/notifications.ts
  packages/api/src/modules/shop/resolvers/group.shop-items.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings.ts
  packages/api/src/modules/ticketing/resolvers/event.search-bookings.ts
  packages/api/src/modules/ticketing/resolvers/user.booking.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/CardArticle.houdini.svelte
  packages/app/src/lib/components/FormArticle.houdini.svelte
  packages/app/src/lib/components/FormArticle.svelte
  packages/app/src/lib/typenames.ts
  packages/app/src/lib/zeus.ts
  packages/app/src/routes/(app)/events/[group]/[uid]/+layout.ts
  packages/app/src/routes/(app)/events/[group]/[uid]/+page.svelte
  packages/app/src/routes/(app)/events/[group]/[uid]/+page.ts
  packages/app/src/routes/(app)/groups/[uid]/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/+page.ts
  packages/app/src/routes/(app)/groups/[uid]/shop/orders/+page.svelte
  packages/app/src/routes/(app)/posts/[group]/+layout.ts
  packages/app/src/routes/(app)/posts/[id]/+page.gql
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  packages/app/src/routes/(app)/posts/[id]/+page.ts
  packages/app/src/routes/(app)/posts/[id]/edit/+page.gql
  packages/app/src/routes/(app)/posts/[id]/edit/+page.svelte
  packages/app/src/routes/(app)/users/[uid]/+page.svelte
  packages/app/src/routes/(app)/users/[uid]/+page.ts
  packages/app/static/manifest.json
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(env)!: rename FRONTEND_ORIGIN to PUBLIC_FRONTEND_ORIGIN
  .env.example
  packages/api/scripts/generate-promo-code.ts
  packages/api/src/global.d.ts
  packages/api/src/lib/google-wallet.ts
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
  packages/api/src/modules/forms/resolvers/mutation.mail-form-answers.ts
  packages/api/src/modules/oauth/resolvers/mutation.authorize.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/api/src/modules/users/resolvers/mutation.create-password-reset.ts
  packages/api/src/modules/users/resolvers/mutation.register-google-credential.ts
  packages/api/src/modules/users/resolvers/mutation.request-email-change.ts
  packages/api/src/modules/users/resolvers/mutation.start-registration.ts
  packages/api/src/modules/users/utils/registration.ts
  packages/api/src/server/booking-pdf.ts
  packages/api/src/server/graphql.ts
  packages/api/src/server/oauth.ts
  packages/app/src/lib/calendars.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changelog): prepare changelog
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore(git): add post merge hook to notify when yarn install and/or yarn reset is needed
  .husky/post-merge
Due: prettier --write --ignore-unknown

chore(release): v1.67.1
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

docs(readme): redirect non-french-speaking ppl to my portfolio
  README.md
Due: prettier --write --ignore-unknown

feat(api): add LocalID scalar and Node.localID
  packages/api/src/lib/builder.ts
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
  packages/api/src/modules/global/resolvers/index.ts
  packages/api/src/modules/global/resolvers/node.local-id.ts
  packages/api/src/modules/global/types/index.ts
  packages/api/src/modules/global/types/local-id.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(ticketing): fix can{Scan,See}bookings
  packages/api/src/modules/ticketing/resolvers/event.can-scan-bookings.ts
  packages/api/src/modules/ticketing/resolvers/event.can-see-bookings.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(events): fix going to /events/:id from /events not working sometimes
  packages/app/src/routes/(app)/events/[id]/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(api): create localID instead of using splitID(...)[1]
  packages/api/scripts/generate-promo-code.ts
  packages/api/src/lib/global-id.ts
  packages/api/src/lib/google-wallet.ts
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
  packages/api/src/modules/events/utils/notifications.ts
  packages/api/src/modules/forms/resolvers/mutation.mail-form-answers.ts
  packages/api/src/modules/forms/types/form-section.ts
  packages/api/src/modules/forms/types/form.ts
  packages/api/src/modules/global/resolvers/node.local-id.ts
  packages/api/src/modules/notifications/resolvers/query.notifications.ts
  packages/api/src/modules/oauth/resolvers/third-party-app.error-logs.ts
  packages/api/src/modules/oauth/resolvers/third-party-app.favicon-url.ts
  packages/api/src/modules/posts/resolvers/query.article.ts
  packages/api/src/modules/posts/utils/notifications.ts
  packages/api/src/modules/users/types/quick-signup.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(env)!: rename FRONTEND_ORIGIN to PUBLIC_FRONTEND_ORIGIN
  .env.example
  packages/api/src/global.d.ts
  packages/api/src/lib/google-wallet.ts
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
  packages/api/src/modules/forms/resolvers/mutation.mail-form-answers.ts
  packages/api/src/modules/oauth/resolvers/mutation.authorize.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/api/src/modules/users/resolvers/mutation.create-password-reset.ts
  packages/api/src/modules/users/resolvers/mutation.register-google-credential.ts
  packages/api/src/modules/users/resolvers/mutation.request-email-change.ts
  packages/api/src/modules/users/resolvers/mutation.start-registration.ts
  packages/api/src/modules/users/utils/registration.ts
  packages/api/src/server/booking-pdf.ts
  packages/api/src/server/graphql.ts
  packages/api/src/server/oauth.ts
  packages/app/src/lib/calendars.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(lint): lintfix ModalCreateCustomPage
  packages/app/src/lib/components/ModalCreateCustomPage.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): migrate to Pothos v4!
  packages/api/package.json
  packages/api/src/lib/builder.ts
  packages/api/src/modules/comments/types/commentable.ts
  packages/api/src/modules/global/resolvers/node.local-id.ts
  packages/api/src/modules/pages/resolvers/group.pages.ts
  packages/api/src/modules/pages/resolvers/mutation.delete-page.ts
  packages/api/src/modules/pages/resolvers/student-association.pages.ts
  packages/api/src/modules/shop/types/shop-payment.ts
  packages/api/src/modules/users/resolvers/query.all-users.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/ItemBuyingTable.svelte
  packages/db/package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): navtop for scanning events and /events/[id] sub-pages
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/zeus.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/+layout.ts
  packages/app/src/routes/(app)/events/[id]/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): use /services/:id instead of /services/:gid
  packages/api/src/modules/services/resolvers/query.service.ts
  packages/api/src/modules/services/types/service.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardService.svelte
  packages/app/src/lib/components/FormService.svelte
  packages/app/src/routes/(app)/services/+page.gql
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(release): v1.68.0
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

fix(db): hotfix after partially run migration
  CHANGELOG.md
  packages/db/prisma/migrations/20240702004115_ticket_make_slug_unique_per_event/migration.sql
Due: prettier --write --ignore-unknown

chore(release): v1.68.1
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

chore(release): v1.68.2
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

fix(prod): don't crash when failing to write schema to ../../app
  CHANGELOG.md
  packages/api/src/schema.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): v1.68.3
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

fix(api): make ShopItem a Node
  CHANGELOG.md
  packages/api/src/modules/shop/types/shop-item.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): v1.68.4
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

Revert "chore(release): v1.68.4"
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

fix(shop): fix definition of ShopItem
  packages/api/src/modules/shop/types/shop-item.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(signups): don't try to compute suggestedUid when user hasn't chosen a first/last name yet
  packages/api/src/modules/users/types/user-candidate.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): prevent uid collisions when validating user candidates
  packages/api/src/lib/uid.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): fix signup process
  packages/api/src/modules/users/resolvers/mutation.complete-registration.ts
  packages/app/src/routes/(app)/register/[[quickSignupCode]]/+page.svelte
  packages/app/src/routes/(app)/register/continue/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(signups): allow deactivating singups
  .env.example
  packages/api/src/global.d.ts
  packages/api/src/modules/users/resolvers/mutation.start-registration.ts
  packages/app/src/routes/(app)/register/[[quickSignupCode]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(vscode): define vscode tasks for convinience
  .husky/post-merge
  .vscode/launch.json
  .vscode/tasks.json
  CONTRIBUTING.md
  package.json
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
