Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(auth): use ?native=1 instead of ?protocol and ?include_token_in_url
  .eslintrc.cjs
  packages/api/src/server/auth/oauth2.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(notifications): refactor notify() and sendNotification()
  packages/api/src/modules/notifications/utils/send.ts
Due: eslint --fix, prettier --write --ignore-unknown

Apply 1 suggestion(s) to 1 file(s)
  packages/api/src/modules/payments/utils/lydia/pay.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(notifications): avoid nested throw in deleteSubscription
  packages/api/src/modules/notifications/utils/send.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/fast-pugs-fix.md
  .changeset/five-grapes-smoke.md
  .changeset/friendly-moose-dance.md
  .changeset/funny-radios-press.md
  .changeset/giant-bugs-chew.md
  .changeset/honest-shoes-tell.md
  .changeset/lemon-masks-leave.md
  .changeset/lucky-planets-type.md
  .changeset/metal-snails-sparkle.md
  .changeset/nice-dodos-leave.md
  .changeset/ninety-olives-deliver.md
  .changeset/purple-rats-visit.md
  .changeset/rare-fans-fry.md
  .changeset/shiny-berries-kiss.md
  .changeset/slow-days-grab.md
  .changeset/sweet-bugs-explode.md
  .changeset/thick-meals-rest.md
  .changeset/three-candles-sniff.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): put most deps out of dev
  .changeset/dry-bananas-battle.md
  packages/api/package.json
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/dry-bananas-battle.md
  packages/api/CHANGELOG.md
  packages/api/package.json
Due: prettier --write --ignore-unknown

fix(ButtonSecondary): remove custom longpress event implementation
  .changeset/selfish-ligers-applaud.md
  packages/app/src/app.d.ts
  packages/app/src/lib/components/ButtonSecondary.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(graphinx): remove nonexistant bar-weeks module
  packages/api/.graphinx.yaml
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/selfish-ligers-applaud.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

feat(settings): allow changing theme
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP
  packages/api/src/modules/themes/resolvers/index.ts
  packages/api/src/modules/themes/resolvers/mutation.set-theme-value.ts
  packages/api/src/modules/themes/resolvers/mutation.upsert-theme.ts
  packages/api/src/modules/themes/resolvers/query.theme.ts
  packages/api/src/modules/themes/resolvers/user.can-create-themes-on.ts
  packages/api/src/modules/themes/types/theme.ts
  packages/api/src/modules/themes/utils/defaults.ts
  packages/api/src/modules/themes/utils/index.ts
  packages/api/src/modules/themes/utils/permissions.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/components/NavigationTabs.svelte
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
  packages/app/src/lib/display.ts
  packages/app/src/lib/theme.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/(app)/settings/theme/+page.gql
  packages/app/src/routes/(app)/settings/theme/+page.svelte
  packages/app/src/routes/(app)/settings/theme/ThemePreviewCard.svelte
  packages/app/src/routes/+layout.gql
  packages/app/src/routes/+layout.svelte
  packages/app/src/routes/+layout.ts
  packages/app/src/service-worker.ts
  packages/db/prisma/migrations/20241010000756_themes_make_dates_optional/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(lydia): improve bank accounts management page, allow deleting lydia accounts
  packages/api/src/modules/payments/resolvers/index.ts
  packages/api/src/modules/payments/resolvers/mutation.delete-lydia-account.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(native): store token across app restarts
  packages/app/android/app/capacitor.build.gradle
  packages/app/android/capacitor.settings.gradle
  packages/app/package.json
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/login/+page.ts
  packages/app/src/routes/(app)/logout/+page.server.ts
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(capacitor): remove serverside code for bookings and login, make local login work!
  packages/app/android/app/src/main/java/app/churros/MainActivity.java
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/client.ts
  packages/app/src/lib/env.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/login/+page.server.ts
  packages/app/src/routes/(app)/login/+page.svelte
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(android): make back gesture/button go back in history
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(capacitor): make oauth login work‼️
  packages/app/android/app/build.gradle
  packages/app/android/app/capacitor.build.gradle
  packages/app/android/app/src/main/AndroidManifest.xml
  packages/app/android/capacitor.settings.gradle
  packages/app/android/variables.gradle
  packages/app/ios/App/App/Info.plist
  packages/app/ios/App/Podfile
  packages/app/package.json
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): make /logout work
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/logout/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/four-candles-rest.md
Due: prettier --write --ignore-unknown

fix(registration): do not allow custom username
  .changeset/four-candles-rest.md
Due: prettier --write --ignore-unknown

chore: regenerate yarn lockfile
  yarn.lock
Due: prettier --write --ignore-unknown

feat(native): make logout work
  packages/app/src/routes/(app)/logout/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(capacitor): make oauth login work‼️
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): handle push notifications (wip)
  packages/app/package.json
  packages/app/src/lib/components/AnalyticsTracker.svelte
  packages/app/src/lib/notifications.ts
  packages/app/src/routes/(app)/notifications/+page.gql
  packages/app/src/routes/(app)/notifications/+page.svelte
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor: add native sources as submodules
  .gitmodules
Due: prettier --write --ignore-unknown

docs(dotenv): mention that 10.0.2.2 only works on AVDs, not physical devices. facilitate ngrok usage
  .env.example
  .ngrok.yaml
  package.json
Due: prettier --write --ignore-unknown

feat(uid): remove bar-weeks from softbanned uids
  packages/app/src/routes/check-uid/[uid]/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(notifications): implement sending notifications to native-issued subscription endpoints
  .env.example
Due: prettier --write --ignore-unknown

feat(native): notifications fkn work!!! (tested with a real APK)
  .eslintignore
  packages/app/capacitor.config.ts
  packages/app/src/lib/notifications.ts
  packages/app/src/routes/(app)/notifications/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(ci): rewrite build and drop unused jobs build now use the docker job
  .gitignore
  .gitlab-ci.yml
  ci/bot.gitlab-ci.yml
  ci/build.gitlab-ci.yml
  ci/build/api.gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  ci/build/db.gitlab-ci.yml
  ci/build/sync.gitlab-ci.yml
  ci/docker.gitlab-ci.yml
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(ci/build): conditionally mount secret
  ci/build.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(env): correctly display validation errors
  packages/api/src/lib/env.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(build): prevent initialization import problems by importing ENV from ./env.js in lib/ files
  packages/api/src/lib/apple-wallet.ts
  packages/api/src/lib/builder.ts
  packages/api/src/lib/google-wallet.ts
  packages/api/src/lib/ldap-school.ts
  packages/api/src/lib/mail.ts
  packages/api/src/lib/storage.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(env): don't use zod-validate-env
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/lib/env.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
