Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

feat(services): houdinify & redesign services page
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/groups/types/group.ts
  packages/api/src/modules/services/resolvers/query.services.ts
  packages/api/src/modules/services/resolvers/query.user-services.ts
  packages/api/src/modules/services/types/index.ts
  packages/api/src/modules/services/types/service-owner.ts
  packages/api/src/modules/services/types/service.ts
  packages/api/src/modules/student-associations/types/student-association.ts
  packages/api/src/server/storage.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/Avatar.svelte
  packages/app/src/lib/components/AvatarSchool.svelte
  packages/app/src/lib/components/AvatarStudentAssociation.svelte
  packages/app/src/lib/components/CardService.houdini.svelte
  packages/app/src/lib/components/index.ts
  packages/app/src/lib/display.ts
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/events/[id]/edit/recurrence/+page.svelte
  packages/app/src/routes/(app)/services/+page.gql
  packages/app/src/routes/(app)/services/+page.svelte
  packages/db/prisma/migrations/20240809061614_student_association_make_uid_required/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(sessioncache): purgeUserSessions did not delete associated session:* keys
  packages/api/src/lib/sessioncache.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(pwa): maybe fix constant cache misses in service worker
  packages/app/src/service-worker.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): v1.69.1
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

fix(husky): apply deprecation
  .husky/post-merge
Due: prettier --write --ignore-unknown

feat(api): add Query.loggedIn
  packages/api/src/modules/global/resolvers/index.ts
  packages/api/src/modules/global/resolvers/query.logged-in.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): extension of import in barrel file was wrong
  packages/api/src/modules/global/resolvers/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(api): support for passport + oauth2 client
  .env.example
  packages/api/package.json
  packages/api/src/global.d.ts
  packages/api/src/lib/index.ts
  packages/api/src/lib/redis.ts
  packages/api/src/lib/sessioncache.ts
  packages/api/src/lib/user-session.ts
  packages/api/src/server/auth/oauth2.ts
  packages/api/src/server/auth/session.ts
  packages/api/src/server/express.ts
  packages/api/src/server/graphql.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(api): support for session logout
  packages/api/src/server/auth/logout.ts
  packages/api/src/server/express.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(api): support for passport-http-bearer
  packages/api/package.json
  packages/api/src/lib/index.ts
  packages/api/src/lib/token-session.ts
  packages/api/src/lib/user-names.ts
  packages/api/src/lib/user-session.ts
  packages/api/src/server/auth/anonymous.ts
  packages/api/src/server/auth/bearer.ts
  packages/api/src/server/express.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(api): populate graphql context with express one
  packages/api/src/lib/context.ts
  packages/api/src/lib/index.ts
  packages/api/src/server/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(api): support for token logout
  packages/api/src/global.d.ts
  packages/api/src/lib/token-session.ts
  packages/api/src/lib/user-session.ts
  packages/api/src/modules/users/resolvers/mutation.logout.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(app): drop oauth
  .env.example
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/users/[uid]/edit/+page.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/+page.ts
  packages/app/src/routes/(external)/authorize/+page.svelte
  packages/app/src/routes/(external)/authorize/+page.ts
  packages/app/src/routes/(external)/identity/+server.ts
  packages/app/src/routes/check-uid/[uid]/+server.ts
  packages/app/src/routes/developers/+layout.svelte
  packages/app/src/routes/developers/+layout.ts
  packages/app/src/routes/developers/+server.ts
  packages/app/src/routes/developers/apps/+page.svelte
  packages/app/src/routes/developers/apps/+page.ts
  packages/app/src/routes/developers/apps/AppsList.svelte
  packages/app/src/routes/developers/apps/ButtonToggleActiveApp.svelte
  packages/app/src/routes/developers/apps/FormApp.svelte
  packages/app/src/routes/developers/apps/[id]/+page.svelte
  packages/app/src/routes/developers/apps/[id]/+page.ts
  packages/app/src/routes/developers/apps/[id]/LogsTable.svelte
  packages/app/src/routes/developers/apps/create/+page.server.ts
  packages/app/src/routes/developers/apps/create/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(api): rename UserSession to SessionUser
  packages/api/src/lib/index.ts
  packages/api/src/lib/session-user.ts
  packages/api/src/lib/token-session.ts
  packages/api/src/modules/groups/resolvers/mutation.add-group-member.ts
  packages/api/src/modules/groups/resolvers/mutation.delete-group-member.ts
  packages/api/src/modules/groups/resolvers/mutation.self-join-group.ts
  packages/api/src/modules/groups/resolvers/mutation.upsert-group-member.ts
  packages/api/src/modules/groups/resolvers/mutation.upsert-group.ts
  packages/api/src/modules/links/resolvers/link.computed-value.ts
  packages/api/src/modules/users/resolvers/mutation.delete-token.ts
  packages/api/src/modules/users/resolvers/mutation.reset-password.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-permissions.ts
  packages/api/src/modules/users/resolvers/mutation.update-user.ts
  packages/api/src/modules/users/resolvers/mutation.validate-email.ts
  packages/api/src/server/auth/oauth2.ts
  packages/api/src/server/auth/session.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): cleanup session code and env
  .env.example
  packages/api/src/global.d.ts
  packages/api/src/lib/utils.ts
  packages/api/src/server/auth/logout.ts
  packages/api/src/server/auth/oauth2.ts
  packages/api/src/server/auth/session.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): link Express.User to prisma query
  packages/api/src/global.d.ts
  packages/api/src/lib/session-user.ts
  packages/api/src/lib/token-session.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: update changelog
  CHANGELOG.md
Due: prettier --write --ignore-unknown

feat: adding maskable icons to manifest, screenshots and using relative route for shortcut
  packages/app/static/manifest.json
  packages/app/static/maskable_icon_x192.png
  packages/app/static/maskable_icon_x512.png
  packages/app/static/screen-wide.png
Due: prettier --write --ignore-unknown

feat(login): implement UI for /login?migrate
  CHANGELOG.md
  packages/app/src/routes/(app)/login/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(release): v1.70.0
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

feat(login?migrate): propose going back after successful migration
  CHANGELOG.md
  packages/app/src/routes/(app)/login/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(release): v1.71.0
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

chore(charteclubs): upload new pdf version
  packages/app/static/charte_des_clubs.pdf
Due: prettier --write --ignore-unknown

chore(changesets): init
  .changeset/README.md
  .changeset/config.json
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): version db and fix sync / api / app packages dependencies
  .changeset/curvy-dots-play.md
  packages/api/package.json
  packages/app/package.json
  packages/db/package.json
  packages/sync/package.json
Due: prettier --write --ignore-unknown

chore(yarn): upgrade to latest version
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(ci): avoid run bot in a separate pipeline
  ci/bot.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(ci): add changesets ci
  .gitlab-ci.yml
  ci/changesets.gitlab-ci.yml
  ci/volta.gitlab-ci.yml
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: drop release-it
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(ci): disable churros bot
  .gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(changesets): use git changelog
  .changeset/config.json
  package.json
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(ci): use a Conventional Commits message for changesets
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(ci): run yarn install to update lock file
  ci/changesets.gitlab-ci.yml
  package.json
Due: prettier --write --ignore-unknown

fix(ci): use a better ci title
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix: sentence not making sense
  packages/app/src/routes/(app)/login/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ui): new nav bars (wip)
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/svelte.code-snippets
  packages/app/package.json
  packages/app/src/design/app.scss
  packages/app/src/design/default-theme.scss
  packages/app/src/lib/components/CardArticle.houdini.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/components/OverflowMenu.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/tabs.ts
  packages/app/src/lib/toasts.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  packages/app/tsconfig.json
  packages/app/vite.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ui): use bottom drawer for overflow menus on mobile, more navtop definitions
  packages/app/src/design/app.scss
  packages/app/src/lib/components/ButtonCopyToClipboard.svelte
  packages/app/src/lib/components/OverflowMenu.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ui): make desktop layout
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/NavigationTop.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: make body the scrollable container
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/QuickAccessList.svelte
  packages/app/src/lib/scroll.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/+page.svelte
  packages/app/src/routes/(app)/NavigationTop.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown
