Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(themes): weird list behavior after updating a theme
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
  packages/app/src/routes/(app)/settings/theme/+page.gql
  packages/app/src/routes/(app)/settings/theme/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(themes): query RootLayout's $editingTheme could be empty
  packages/app/src/routes/+layout.gql
  packages/app/src/routes/+layout.svelte
  packages/app/src/routes/+layout.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(themes): preview cards' background was transparent
  packages/app/src/routes/(app)/settings/theme/ThemePreviewCard.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(theme preview card): make edit button more visible
  packages/app/src/routes/(app)/settings/theme/ThemePreviewCard.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: draft privacy policy
  PRIVACY.md
Due: prettier --write --ignore-unknown

chore: ajout politique de rétention des données
  PRIVACY.md
Due: prettier --write --ignore-unknown

feat(ticketing): allow hiding ticket capacities
  .changeset/eleven-donkeys-end.md
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
  packages/db/prisma/migrations/20241106203412_event_add_show_capacity/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ldap): don't sync bot accounts at login or profile updates
  .changeset/rich-buckets-own.md
  packages/api/src/modules/users/resolvers/mutation.login.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-curriculum.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-profile.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(docs): document Credential.active
  packages/api/src/modules/users/types/credential.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(app): remove unused Component & data request in CardEvent
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/lib/components/CardFeedEvent.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing)!: use the Capacity scalar properly
  .changeset/happy-dragons-yell.md
  packages/api/src/lib/builder.ts
  packages/api/src/modules/events/types/capacity.ts
  packages/api/src/modules/ticketing/resolvers/event.places-left.ts
  packages/api/src/modules/ticketing/resolvers/ticket.places-left.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/components/TextTicketSummary.svelte
  packages/app/src/lib/display.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(tickets): clarify when displayed places count is due to having additional permissions
  .changeset/short-goats-cover.md
  packages/app/src/lib/components/CardTicket.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): only allow Edit-level managers to bypass place count visibility
  .changeset/strong-pumpkins-hammer.md
  packages/api/src/modules/ticketing/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(api): extract number|typeof CapacityUnlimitedValue to type alias and use it where necessary
  packages/api/src/lib/builder.ts
  packages/api/src/modules/ticketing/resolvers/event.places-left.ts
  packages/api/src/modules/ticketing/resolvers/ticket.places-left.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(event managers): show inherited event managers from group memberships on event managers page
  .changeset/mighty-suits-burn.md
  packages/api/src/modules/events/resolvers/event.inherited-managers.ts
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/types/event-manager-maybe-inherited.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/events/types/inherited-event-manager.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/components/GroupMember.svelte
  packages/app/src/lib/components/InputSelectOneDropdown.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemManager.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app/ticketing): improve help modals
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(git): remove deadname from mailmap
  .mailmap
Due: prettier --write --ignore-unknown

feat(event manager invites): add caveat to success type of use mutation when user is already a manager
  packages/api/src/modules/events/resolvers/mutation.use-event-manager-invite.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/join-managers/[code]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(event manager invites): add create/update/delete in UI
  packages/api/src/modules/events/resolvers/mutation.upsert-event-manager-invite.ts
  packages/api/src/modules/events/resolvers/query.event-manager-invite.ts
  packages/api/src/modules/events/types/event-manager-invite.ts
  packages/api/src/modules/events/types/event.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/components/InputDateTime.svelte
  packages/app/src/lib/components/InputNumber.svelte
  packages/app/src/lib/components/InputTextGhost.svelte
  packages/app/src/lib/components/LoadingText.svelte
  packages/app/src/lib/display.ts
  packages/app/src/lib/mutations.ts
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemInvite.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(event manager): fix EventManagerInvite.qrcode
  packages/api/src/modules/events/types/event-manager-invite.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(event managers): add event manager invites system
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/resolvers/mutation.create-event.ts
  packages/api/src/modules/events/resolvers/mutation.use-event-manager-invite.ts
  packages/api/src/modules/events/types/event-manager-invite.ts
  packages/api/src/modules/events/types/event-manager-power-level.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/events/utils/index.ts
  packages/api/src/modules/events/utils/invites.ts
  packages/api/src/modules/events/utils/permissions.ts
  packages/api/src/modules/ticketing/resolvers/booking.qr-code.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/join-managers/[code]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/join-managers/[code]/+page.ts
  packages/db/prisma/migrations/20241107220036_add_event_manager_invites/migration.sql
  packages/db/prisma/migrations/20241107222903_event_manager_invite_add_permissions/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(event manager invites): move /join-managers to app for shorter urls
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/join-managers/[code]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(event manager): don't use mutationSucceeded in join-managers page
  packages/app/src/routes/(app)/events/[id]/join-managers/[code]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(app): move join-managers mutation to page.svelte
  packages/app/src/routes/(app)/events/[id]/join-managers/[code]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/join-managers/[code]/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(event manager invites): add upsert & delete mutations
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/resolvers/mutation.delete-event-manager-invite.ts
  packages/api/src/modules/events/resolvers/mutation.upsert-event-manager-invite.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat(event manager invites): improve loading state appearance when joining
  packages/app/src/routes/(app)/join-managers/[code]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(events): display managers' used invitation links in manager list
  packages/api/src/modules/events/resolvers/event-manager.used-invite.ts
  packages/api/src/modules/events/resolvers/index.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemInvite.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemManager.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor(loading): move big loadingchurros + gradient text to component
  packages/app/src/lib/components/LoadingScreen.svelte
  packages/app/src/routes/(app)/login/done/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(event manager invites): fix caching & inconsistent db state problems
  packages/api/src/modules/events/resolvers/mutation.delete-event-manager.ts
  packages/api/src/modules/events/resolvers/mutation.remove-event-manager.ts
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemManager.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(event manager invites): display new managers from invites in list in real-time
  packages/api/src/modules/events/resolvers/mutation.use-event-manager-invite.ts
  packages/api/src/modules/events/resolvers/query.event.ts
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(event manager invites): improve UI
  packages/api/src/modules/events/types/event-manager-invite.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemInvite.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemManager.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(event manager invites): throw with clean error message when invite not found
  packages/api/src/modules/events/resolvers/mutation.use-event-manager-invite.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
