Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(k8s): create churros kustomization
  kubernetes/churros/api/deployment.yaml
  kubernetes/churros/api/kustomization.yaml
  kubernetes/churros/api/services.yaml
  kubernetes/churros/app/deployment.yaml
  kubernetes/churros/app/kustomization.yaml
  kubernetes/churros/app/service.yaml
  kubernetes/churros/kustomization.yaml
  kubernetes/churros/sync/cronjob.yaml
  kubernetes/churros/sync/kustomization.yaml
  kubernetes/deployment.yaml
  kubernetes/image-policy.yaml
  kubernetes/ingress.yaml
  kubernetes/kustomization.yaml
  kubernetes/namespace.yaml
  kubernetes/postgresql.yaml
  kubernetes/postgresql/cluster.yaml
  kubernetes/postgresql/kustomization.yaml
  kubernetes/redis.yaml
  kubernetes/redis/deployment.yaml
  kubernetes/redis/kustomization.yaml
  kubernetes/redis/service.yaml
  kubernetes/services.yaml
  kubernetes/volumes.yaml
Due: prettier --write --ignore-unknown

fix(k8s): format yaml
  kubernetes/churros/api/deployment.yaml
  kubernetes/churros/api/kustomization.yaml
  kubernetes/churros/api/services.yaml
  kubernetes/churros/app/deployment.yaml
  kubernetes/churros/app/kustomization.yaml
  kubernetes/churros/app/service.yaml
  kubernetes/churros/kustomization.yaml
  kubernetes/churros/sync/cronjob.yaml
  kubernetes/churros/sync/kustomization.yaml
  kubernetes/kustomization.yaml
  kubernetes/postgresql/kustomization.yaml
  kubernetes/redis/deployment.yaml
  kubernetes/redis/kustomization.yaml
  kubernetes/redis/service.yaml
Due: prettier --write --ignore-unknown

chore(snippets): import $page for houdinipage
  .vscode/houdini.code-snippets
Due: prettier --write --ignore-unknown

feat: implement settings, notifications, user permissions management and GDPR dump
  packages/api/src/modules/global/resolvers/query.logged-in.ts
  packages/api/src/modules/users/resolvers/mutation.answer-godparent-request.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-permissions.ts
  packages/api/src/modules/users/resolvers/mutation.upsert-godparent-request.ts
  packages/api/src/modules/users/types/user.ts
  packages/api/src/modules/users/utils/permissions.ts
  packages/api/src/server/gdpr.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/PickStudentAssociation.svelte
  packages/app/src/lib/components/PickThings.svelte
  packages/app/src/lib/mutations.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/notifications/+page.gql
  packages/app/src/routes/(app)/notifications/+page.svelte
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/(app)/settings/+page.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/+layout.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/permissions/+page.gql
  packages/app/src/routes/(app)/users/[uid]/edit/permissions/+page.svelte
  packages/app/src/routes/check-uid/[uid]/+server.ts
  packages/app/src/routes/gdpr/+server.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: implement godparent requests management, social links edition (no display text)
  packages/api/src/modules/users/resolvers/index.ts
  packages/api/src/modules/users/resolvers/mutation.answer-godparent-request.ts
  packages/api/src/modules/users/resolvers/mutation.delete-godchild.ts
  packages/api/src/modules/users/resolvers/mutation.delete-godparent.ts
  packages/api/src/modules/users/types/user.ts
  packages/app/schema.graphql
  packages/app/src/lib/client.ts
  packages/app/src/lib/components/AreaEditLinks.svelte
  packages/app/src/lib/components/InputPerson.svelte
  packages/app/src/routes/(app)/groups/[uid]/edit/links/+page.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/contribution/+page.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/contribution/ItemContribution.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/family/+page.gql
  packages/app/src/routes/(app)/users/[uid]/edit/family/+page.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/links/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(zeus): fix zeus graphql schema path for build
  packages/app/package.json
Due: prettier --write --ignore-unknown

build(app): fix me being dumb af
  packages/app/src/routes/(app)/users/[uid]/edit/permissions/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(scripts): add global, parallel yarn check
  package.json
  packages/app/package.json
  packages/arborist/package.json
  packages/db/package.json
  packages/mock-n7-ldap/package.json
  packages/oauth-client/package.json
  packages/sync/package.json
Due: prettier --write --ignore-unknown

feat(contributions): rename route to .../contributions and fix deletion
  packages/api/src/modules/student-associations/resolvers/mutation.delete-contribution.ts
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/users/[uid]/edit/+layout.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/contributions/+page.gql
  packages/app/src/routes/(app)/users/[uid]/edit/contributions/+page.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/contributions/ItemContribution.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build: fix build
  packages/app/schema.graphql
  packages/app/src/routes/(app)/users/[uid]/edit/family/+page.gql
  packages/app/src/routes/(app)/users/[uid]/edit/family/+page.svelte
  packages/app/src/routes/gdpr/+server.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(notifications): rename {un,}subscription mutations, fix toasts.mutation calls
  packages/api/src/modules/notifications/resolvers/index.ts
  packages/api/src/modules/notifications/resolvers/mutation.delete-notification-subscription.ts
  packages/api/src/modules/notifications/resolvers/mutation.subscribe-to-notifications.ts
  packages/api/src/modules/notifications/resolvers/mutation.unsubscribe-from-notifications.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/notifications/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(clipboard): handle clipboard write errors
  packages/app/src/lib/components/ButtonCopyToClipboard.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(notifications): finish page
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/notifications/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): implement NAVTOP_COPY_ID
  packages/app/src/app.d.ts
  packages/app/src/lib/components/ButtonCopyToClipboard.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/+page.gql
  packages/app/src/routes/(app)/events/[id]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(homepage): make it look a little better
  packages/app/src/lib/components/CardArticle.houdini.svelte
  packages/app/src/routes/(app)/+page.svelte
  packages/app/src/routes/(app)/+page.ts
  packages/app/src/routes/(app)/my-groups.gql
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(graphql): update schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

build(api): don't mix and match zod and custom validators
  packages/api/src/lib/uid.ts
  packages/api/src/modules/groups/resolvers/mutation.create-group.ts
  packages/api/src/modules/groups/resolvers/mutation.upsert-group.ts
  packages/api/src/modules/users/resolvers/mutation.start-signup.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-candidate.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(notifications): take expiration time into account when subscribing
  packages/app/src/routes/(app)/notifications/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(uid): allow 2-chars UIDs for existing resources, disallow for new groups and users
  packages/api/src/modules/global/types/uid.ts
  packages/api/src/modules/groups/resolvers/mutation.create-group.ts
  packages/api/src/modules/users/resolvers/mutation.start-signup.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-candidate.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(promotions): set applicable offers on events instead of tickets, add UI to select them
  packages/api/scripts/generate-promo-code.ts
  packages/api/scripts/modules-import-graph.png
  packages/api/src/modules/events/resolvers/event.enabled-special-offers.ts
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/resolvers/mutation.set-event-applicable-offers.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/payments/utils/promotions.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/events/[id]/edit/+layout.gql
  packages/app/src/routes/(app)/events/[id]/edit/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/mutations.ts
  packages/db/prisma/migrations/20240826191832_move_applicable_promotions_to_events/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(welcome): subscribe to notifications with houdini
  packages/app/src/routes/(app)/welcome/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: update graphql schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

fix(api): fix call to actualPrice in Ticket.price
  packages/api/src/modules/ticketing/types/ticket.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): don't try to set applicable offers on tickets...
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

fix(events): fix weird typing problem on MaybeLoading<PromotionType$options> but whatever
  packages/app/src/routes/(app)/events/[id]/edit/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(api): disable notifications rescheduling
  packages/api/src/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): upgrade @inp-net/ldap7
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(profile): 404 on profiles with 2-chars uids
  packages/app/src/params/uid.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(profile): cannot set pictures of groups
  packages/api/src/lib/pictures.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(login): oauth login redirection is borked in prod
  packages/app/src/lib/components/AreaComments.houdini.svelte
  packages/app/src/lib/components/ButtonSecondary.svelte
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/lib/components/FormPicture.svelte
  packages/app/src/lib/components/MaybeError.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/routes/(app)/+error.svelte
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/+error.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(profile): prevent trying to change picture when file is null
  packages/app/src/lib/components/FormPicture.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): avatars can sometimes be squished (closes #1043)
  packages/app/src/lib/components/Avatar.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(profiles): order group and user memberships (closes #1053)
  packages/api/src/modules/groups/resolvers/user.groups.ts
  packages/api/src/modules/groups/types/group.ts
  packages/api/src/modules/groups/utils/sort.ts
  packages/api/src/modules/users/types/user.ts
  packages/db/prisma/migrations/20240829113640_reorder_group_types/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

fix(login): try to fix login cache issues
  packages/api/src/server/auth/oauth2.ts
  packages/app/houdini.config.js
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/login/+page.server.ts
  packages/app/src/routes/(app)/login/done/+page.svelte
  packages/app/src/routes/(app)/logout/+page.server.ts
  packages/app/src/routes/(app)/logout/+page.svelte
  packages/app/src/routes/(app)/logout/+server.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(profile): missing right alignment on school uid copy button (closes #1045)
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(profile): inferrence of social media names and usernames on pilllink[social] is broken (closes #1034)
  packages/app/src/lib/components/AreaEditLinks.svelte
  packages/app/src/lib/components/PillLink.svelte
  packages/app/src/lib/social.generated.ts
  packages/app/src/scripts/generate-socials-json.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): report issue modal does not work (closes #1032)
  packages/api/src/modules/groups/utils/index.ts
  packages/app/src/app.d.ts
  packages/app/src/lib/components/ModalReportIssue.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(notifications): surface errors when enabling notifications (closes #1052)
  packages/app/src/routes/(app)/notifications/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(profile): add button to manage user contributions
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(events): /events/id/edit/image is borked (closes #1033)
  packages/app/src/routes/(app)/events/[id]/edit/image/+page.gql
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
