Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

fix(app): force-reload static CSS
  .changeset/brave-seals-sneeze.md
  packages/app/src/app.html
Due: prettier --write --ignore-unknown

fix(app): missing major error on quick signup was not surfaced
  packages/app/src/routes/signup/FormSignup.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(api): cannot signup as first year
  packages/api/src/modules/users/resolvers/mutation.start-signup.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): update changeset
  .changeset/weak-flies-rest.md
Due: prettier --write --ignore-unknown

chore(app): update GraphQL schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

fix(changeset): translate @churros/app-impacted changeset to french
  .changeset/weak-flies-rest.md
Due: prettier --write --ignore-unknown

chore(changeset): fix changeset
  .changeset/ninety-news-shop.md
  .changeset/weak-flies-rest.md
Due: prettier --write --ignore-unknown

chore(buildinfo): fix buildinfo generation (use per-package versions)
  .changeset/shy-otters-thank.md
  scripts/generate-buildinfo.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(posts): disable publish later feature for now
  .changeset/wicked-buses-protect.md
  packages/app/src/lib/components/FormArticle.houdini.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ci): inject version from env
  Dockerfile
  ci/docker.gitlab-ci.yml
  scripts/generate-buildinfo.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove log file and issue files
  build.log
  check.log
  feedback.issurge
  todo.issurge
Due: prettier --write --ignore-unknown

fix(ci): do not build on tag push
  ci/docker.gitlab-ci.yml
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changelog): bump
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/brave-seals-sneeze.md
  .changeset/ninety-news-shop.md
  .changeset/shy-otters-thank.md
  .changeset/weak-flies-rest.md
  .changeset/wicked-buses-protect.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

fix(ci): fix docker file
  Dockerfile
Due: prettier --write --ignore-unknown

fix(ci): remove prisma need that prevent to run job
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix: hotpatch infinite recursion in operationErrorMessages
  packages/app/src/lib/errors.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(groups): cannot edit group picture or details
  packages/api/src/modules/groups/resolvers/mutation.upsert-group.ts
  packages/api/src/modules/groups/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(groups): cannot self-join group
  packages/api/src/modules/groups/resolvers/mutation.self-join-group.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): update changeset
  .changeset/gold-ducks-taste.md
Due: prettier --write --ignore-unknown

fix(ci): correct build-arg opt
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(groups): add button to print handover
  .changeset/smart-badgers-judge.md
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/handover.pdf/+server.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): cannot logout when logged-in via oauth but authed_via was not set
  .changeset/heavy-baboons-train.md
  packages/app/src/routes/(app)/logout/+page.server.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(api): fix build
  packages/api/src/modules/groups/types/group.ts
Due: eslint --fix, prettier --write --ignore-unknown

build: fix build (again)
  packages/api/src/modules/groups/resolvers/group.ancestors.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(ci): manual build on main + disable sast for now
  .gitlab-ci.yml
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/gold-ducks-taste.md
  .changeset/heavy-baboons-train.md
  .changeset/smart-badgers-judge.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

fix(doc): remove oauth module
  packages/api/.graphinx.yaml
Due: prettier --write --ignore-unknown

fix(majors): fix PickMajor being goofy, put majors of school of quicksignup first
  .changeset/flat-kangaroos-kiss.md
  packages/app/src/lib/components/InputMajor.svelte
  packages/app/src/lib/components/PickMajor.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(signups): bypass signup deactivation for quick signups
  .changeset/sweet-pillows-grab.md
  packages/api/src/modules/users/resolvers/mutation.start-signup.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(backrooms): remove forms, add signups
  .changeset/lucky-owls-shout.md
  packages/app/src/routes/(app)/backrooms/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/flat-kangaroos-kiss.md
  .changeset/lucky-owls-shout.md
  .changeset/sweet-pillows-grab.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

fix(ticketing): cannot book ticket with godson limit = 0
  .changeset/thirty-turtles-glow.md
  packages/api/src/modules/ticketing/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/thirty-turtles-glow.md
  packages/api/CHANGELOG.md
  packages/api/package.json
Due: prettier --write --ignore-unknown

fix(welcome): page did not load, some buttons did not work on it
  .changeset/itchy-camels-occur.md
  packages/app/src/routes/(app)/welcome/+page.gql
  packages/app/src/routes/(app)/welcome/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/itchy-camels-occur.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

fix(app): weird color names
  packages/app/src/lib/colors.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(events): pilllink on event look like they have social=true (closes #1079)
  .changeset/witty-cobras-act.md
  packages/app/src/routes/(app)/events/[id]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(tickets): improve wording on ticket beneficiaries (closes #1077)
  .changeset/nice-items-marry.md
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(members): maybe fix 404 on first load (see #1072)
  packages/app/src/routes/(app)/groups/[uid]/edit/members/+page.ts
  packages/app/src/routes/(app)/groups/[uid]/members/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown
