Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(prisma): rebase migrations
  packages/db/prisma/migrations/20240801102148_add_bookmarks_and_themes/migration.sql
  packages/db/prisma/migrations/20240801112436_events_add_global_capacity_optionalize_dates/migration.sql
  packages/db/prisma/migrations/20240802172819_save_shares_count/migration.sql
  packages/db/prisma/migrations/20240805094716_event_managers_add_id/migration.sql
  packages/db/prisma/migrations/20240806184030_ui_v2/migration.sql
Due: prettier --write --ignore-unknown

feat(events): continue bookings
  packages/api/src/lib/builder.ts
  packages/api/src/lib/utils.ts
  packages/api/src/modules/events/resolvers/event.enabled-special-offers.ts
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/query.booking.ts
  packages/app/houdification-progress.csv
  packages/app/package.json
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/AvatarUser.svelte
  packages/app/src/lib/components/BookingBeneficiary.svelte
  packages/app/src/lib/components/CardBooking.svelte
  packages/app/src/lib/components/InputField.svelte
  packages/app/src/lib/components/ModalDialog.svelte
  packages/app/src/lib/components/NavigationTabs.svelte
  packages/app/src/lib/components/OverlayQuickBookings.svelte
  packages/app/src/lib/components/QuickAccessList.svelte
  packages/app/src/lib/errors.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/pins.ts
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/app/src/routes/(app)/bookings/+page.gql
  packages/app/src/routes/(app)/bookings/+page.svelte
  packages/app/src/routes/(app)/bookings/[code].pdf/+server.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings.csv/+server.ts
  packages/app/src/routes/(app)/events/[id]/bookings/+page.gql
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/+page.ts
  packages/app/src/routes/(app)/events/[id]/edit/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/mutations.ts
  packages/app/src/routes/(app)/events/[id]/edit/recurrence/+page.svelte
  packages/app/src/routes/manifest.json/+server.ts
  packages/app/static/manifest.json
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: update generated files after rebase
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(ticketing): implement (most?) mutations needed to tickets editing
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/resolvers/mutation.set-event-beneficiary.ts
  packages/api/src/modules/links/resolvers/mutation.add-links.ts
  packages/api/src/modules/links/resolvers/mutation.update-link.ts
  packages/api/src/modules/links/types/has-links.ts
  packages/api/src/modules/links/utils/permissions.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.create-ticket.ts
  packages/api/src/modules/ticketing/resolvers/mutation.delete-ticket.ts
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket.ts
  packages/api/src/modules/ticketing/resolvers/ticket.can-be-safely-deleted.ts
  packages/api/src/modules/ticketing/utils/tickets.ts
  packages/app/schema.graphql
  packages/db/prisma/migrations/20240806225925_tickets_remove_slug_unicity_constraint/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

feat(api): allow mailto: and tel: protocols as URLs
  packages/api/src/modules/global/types/url.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/PillLink.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(houdini): houdinify some random stuff here and there, remove some unused old components
  packages/app/houdification-progress.csv
  packages/app/schema.graphql
  packages/app/src/lib/components/AreaPaypalPayRegistration.svelte
  packages/app/src/lib/components/BadgeVisibility.svelte
  packages/app/src/lib/components/CardArticle.svelte
  packages/app/src/routes/(app)/[entity=entity_handle]/+server.ts
  packages/app/src/routes/(app)/claim-code/[code]/+page.ts
  packages/app/src/scripts/houdinification-progress.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(seeding): fix import error for updatePicture
  packages/api/src/lib/pictures.ts
  packages/db/seed/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(events): continue bookings
  packages/api/src/modules/ticketing/resolvers/booking.qr-code.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.cancel-booking.ts
  packages/api/src/modules/ticketing/resolvers/mutation.cancel-registration.ts
  packages/api/src/modules/ticketing/resolvers/mutation.create-google-wallet-pass.ts
  packages/api/src/modules/ticketing/resolvers/mutation.pay-booking.ts
  packages/api/src/modules/ticketing/resolvers/query.booking.ts
  packages/api/src/modules/ticketing/resolvers/query.registration-qr-code.ts
  packages/api/src/modules/ticketing/types/registration.ts
  packages/api/src/modules/ticketing/utils/places.ts
  packages/app/schema.graphql
  packages/app/src/lib/analytics.ts
  packages/app/src/lib/components/BaseInputText.svelte
  packages/app/src/lib/components/BookingAuthor.svelte
  packages/app/src/lib/components/BookingPaymentMethod.svelte
  packages/app/src/lib/components/ButtonGhost.svelte
  packages/app/src/lib/components/InputText.svelte
  packages/app/src/lib/components/ItemTicket.svelte
  packages/app/src/lib/components/ModalReportIssue.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/PillLink.svelte
  packages/app/src/lib/components/index.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.gql
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.ts
  packages/app/src/routes/(app)/bookings/[code]/mutations.ts
  packages/app/src/routes/(app)/events/[id]/bookings/+page.gql
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: format and lintfix
  packages/api/src/lib/utils.ts
  packages/api/src/modules/events/resolvers/event.enabled-special-offers.ts
  packages/api/src/modules/events/resolvers/mutation.ban-from-event.ts
  packages/api/src/modules/events/resolvers/mutation.remove-event-manager.ts
  packages/api/src/modules/events/resolvers/mutation.set-event-dates.ts
  packages/api/src/modules/events/resolvers/mutation.update-event-recurrence.ts
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/events/resolvers/mutation.upsert-event-manager.ts
  packages/api/src/modules/events/types/capacity.ts
  packages/api/src/modules/global/types/pictured.ts
  packages/api/src/modules/ticketing/types/registration-counts.ts
  packages/app/src/lib/components/Alert.svelte
  packages/app/src/lib/components/ButtonLike.svelte
  packages/app/src/lib/components/InputDateTime.svelte
  packages/app/src/lib/components/InputDateTimeRange.svelte
  packages/app/src/lib/components/InputFile.svelte
  packages/app/src/lib/components/InputTextGhost.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/changelog/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/ModalDelete.svelte
  packages/app/src/routes/(app)/events/[id]/edit/banned/+page.svelte
  packages/app/src/scripts/generate-socials-json.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/groups/types/group.ts
  packages/api/src/modules/ticketing/resolvers/event.ticket.ts
  packages/api/src/modules/ticketing/types/ticket-constraints-input.ts
  packages/app/schema.graphql
  packages/app/src/hooks.server.ts
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/IconLinkVariant.svelte
  packages/app/src/lib/components/InputDateTime.svelte
  packages/app/src/lib/components/InputDateTimeRange.svelte
  packages/app/src/lib/components/InputToggleTriState.svelte
  packages/app/src/lib/components/ModalDrawer.svelte
  packages/app/src/lib/components/ModalOrDrawer.svelte
  packages/app/src/lib/components/ModalReportIssue.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/index.ts
  packages/app/src/lib/display.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/+layout.ts
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/app/src/routes/(app)/events/[id]/edit/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/SubmenuItemBooleanConstraint.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/links/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/links/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/mutations.ts
  packages/app/src/routes/(app)/groups/[uid]/+page.svelte
  packages/app/src/routes/+layout.server.ts
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove goofy aah logs
  packages/app/src/hooks.server.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/+layout.ts
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): start tickets edition UI
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/hooks.server.ts
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/client.ts
  packages/app/src/lib/components/InputToggle.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/components/TextTicketConstraintsSummary.svelte
  packages/app/src/lib/components/index.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(api): more ticketing stuff
  .vscode/pothos.code-snippets
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
  packages/api/src/modules/events/resolvers/mutation.set-event-beneficiary.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/utils/places.ts
  packages/api/src/modules/payments/utils/promotions.ts
  packages/api/src/modules/ticketing/resolvers/event.places-left.ts
  packages/api/src/modules/ticketing/resolvers/event.update-ticket-constraints.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.book-event.ts
  packages/api/src/modules/ticketing/resolvers/query.ticket.ts
  packages/api/src/modules/ticketing/types/boolean-constraint.ts
  packages/api/src/modules/ticketing/types/index.ts
  packages/api/src/modules/ticketing/types/ticket-constraints-input.ts
  packages/api/src/modules/ticketing/types/ticket-group.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

WIP: fix your grandma's build
  packages/app/src/lib/components/CardArticle.houdini.svelte
  packages/app/src/lib/navigation.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP jen peu plus
  packages/app/schema.graphql
  packages/app/src/lib/components/ModalReportIssue.svelte
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/+layout.ts
  packages/app/src/routes/(app)/events/[id]/edit/recurrence/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Revert "WIP jen peu plus"
  packages/app/schema.graphql
  packages/app/src/lib/components/ModalReportIssue.svelte
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/+layout.ts
  packages/app/src/routes/(app)/events/[id]/edit/recurrence/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Revert "WIP: fix your grandma's build"
  packages/app/src/lib/components/CardArticle.houdini.svelte
  packages/app/src/lib/navigation.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP omg i love ticketing
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/SubmenuItemBooleanConstraint.svelte
  packages/app/src/routes/+layout.server.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: continue
  packages/app/schema.graphql
  packages/app/src/lib/components/AreaEditLinks.svelte
  packages/app/src/lib/components/Avatar.svelte
  packages/app/src/lib/components/PickGroup.svelte
  packages/app/src/lib/components/PickMajor.svelte
  packages/app/src/lib/components/PickThings.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/SubmenuItemBooleanConstraint.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/links/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/links/+page.svelte
  packages/app/src/routes/+layout.server.ts
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: almost done with ticketing stuff!!!!!!!
  packages/api/scripts/modules-import-graph.ts
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/curriculum/types/major.ts
  packages/api/src/modules/events/resolvers/mutation.create-event.ts
  packages/api/src/modules/ticketing/resolvers/mutation.delete-ticket.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/components/Avatar.svelte
  packages/app/src/lib/components/AvatarGroup.houdini.svelte
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/components/InputDateTimeRange.svelte
  packages/app/src/lib/components/InputToggle.svelte
  packages/app/src/lib/components/ModalChangelog.svelte
  packages/app/src/lib/components/ModalDialog.svelte
  packages/app/src/lib/components/ModalOrDrawer.svelte
  packages/app/src/lib/components/PickGroup.svelte
  packages/app/src/lib/components/PickMajor.svelte
  packages/app/src/lib/components/PickThings.svelte
  packages/app/src/lib/components/TextTicketConstraintsSummary.svelte
  packages/app/src/lib/components/TextTicketSummary.svelte
  packages/app/src/lib/components/index.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/+layout.gql
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/ModalDelete.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/mutations.ts
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.svelte
  packages/app/src/routes/(app)/users/[uid]/+page.svelte
  packages/db/prisma/migrations/20240808091325_major_add_picturefile/migration.sql
  packages/db/prisma/migrations/20240808091554_major_add_upsert_dates/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(services): houdinify & redesign services page
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/groups/types/group.ts
  packages/api/src/modules/services/resolvers/query.services.ts
  packages/api/src/modules/services/resolvers/query.user-services.ts
  packages/api/src/modules/services/types/index.ts
  packages/api/src/modules/services/types/service-owner.ts
  packages/api/src/modules/services/types/service.ts
  packages/api/src/modules/student-associations/types/student-association.ts
  packages/api/src/server/storage.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/Avatar.svelte
  packages/app/src/lib/components/AvatarSchool.svelte
  packages/app/src/lib/components/AvatarStudentAssociation.svelte
  packages/app/src/lib/components/CardService.houdini.svelte
  packages/app/src/lib/components/index.ts
  packages/app/src/lib/display.ts
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/events/[id]/edit/recurrence/+page.svelte
  packages/app/src/routes/(app)/services/+page.gql
  packages/app/src/routes/(app)/services/+page.svelte
  packages/db/prisma/migrations/20240809061614_student_association_make_uid_required/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(frontend): temporarily comment out ModalReportIssue
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(tickets): fix SetEventBeneficiary operation
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(events): fix recurrence toggle doing nothing
  packages/app/src/routes/(app)/events/[id]/edit/recurrence/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): implement lydia beneficiary selection and allowed payment methods selection
  packages/api/src/modules/events/resolvers/mutation.set-event-beneficiary.ts
  packages/api/src/modules/payments/types/payment-method.ts
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/ButtonInk.svelte
  packages/app/src/lib/components/InputCheckbox.svelte
  packages/app/src/lib/components/InputCheckboxes.svelte
  packages/app/src/lib/components/InputDateTime.svelte
  packages/app/src/lib/components/InputDateTimeRange.svelte
  packages/app/src/lib/components/InputRadios.svelte
  packages/app/src/lib/components/ModalReportIssue.svelte
  packages/app/src/lib/components/PickGroup.svelte
  packages/app/src/lib/components/PickThings.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/components/index.ts
  packages/app/src/lib/display.ts
  packages/app/src/lib/logos/lydia.svg
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/typing.ts
  packages/app/src/routes/(app)/events/[id]/edit/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/PickBeneficiary.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/mutations.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/payment/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/payment/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
  packages/app/src/routes/+layout.svelte
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(events): scan page
  packages/api/src/modules/ticketing/resolvers/event.can-scan-bookings.ts
  packages/api/src/modules/ticketing/resolvers/mutation.verify-booking.ts
  packages/api/src/modules/ticketing/resolvers/query.booking.ts
  packages/api/src/modules/ticketing/types/registration-verification-result.ts
  packages/api/src/modules/ticketing/types/registration.ts
  packages/api/src/server/lydia.ts
  packages/app/package.json
  packages/app/schema.graphql
  packages/app/src/design/app.scss
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/BookingStatus.svelte
  packages/app/src/lib/components/CardBooking.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/app/src/routes/(app)/bookings/+page.gql
  packages/app/src/routes/(app)/bookings/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.gql
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/scan/+page.gql
  packages/app/src/routes/(app)/events/[id]/scan/+page.svelte
  packages/app/src/routes/(app)/events/[id]/scan/ScanResult.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(seeding): don't re-download downloaded user picture files, it's too damn long
  packages/db/seed/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): upgrade dependencies
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/arborist/package.json
  packages/db/package.json
  packages/mock-n7-ldap/package.json
  packages/oauth-client/package.json
  packages/sync/package.json
Due: prettier --write --ignore-unknown

feat(events): iron out some things, implement book&pay user journey
  packages/api/src/modules/payments/utils/lydia/pay.ts
  packages/api/src/modules/ticketing/resolvers/mutation.create-ticket.ts
  packages/api/src/modules/ticketing/resolvers/mutation.pay-booking.ts
  packages/api/src/modules/ticketing/types/registration.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/api/src/modules/users/resolvers/mutation.save-lydia-phone-number.ts
  packages/api/src/server/lydia.ts
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/AnalyticsTracker.svelte
  packages/app/src/lib/components/CardBooking.svelte
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/components/ModalDrawer.svelte
  packages/app/src/lib/components/ModalOrDrawer.svelte
  packages/app/src/lib/errors.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.gql
  packages/app/src/routes/(app)/bookings/[code]/+page.server.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.ts
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
  packages/app/src/routes/(app)/bookings/[code]/[[step]]/ModalCurrentStep.svelte
  packages/app/src/routes/(app)/bookings/[code]/mutations.ts
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/ModalBookTicket.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/ModalDelete.svelte
  packages/db/prisma/migrations/20240812151750_booking_add_paid_callback_url/migration.sql
  packages/db/prisma/migrations/20240812152032_booking_add_paid_callback_url/migration.sql
  packages/db/prisma/migrations/20240812152144_move_paid_callback_to_lydia_transaction/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(events): continue booking process
  packages/api/src/modules/events/resolvers/mutation.upsert-event-manager.ts
  packages/api/src/modules/ticketing/resolvers/event.my-bookings.ts
  packages/api/src/modules/ticketing/resolvers/mutation.book-event.ts
  packages/api/src/modules/ticketing/resolvers/query.booking.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/api/src/modules/users/resolvers/index.ts
  packages/api/src/modules/users/resolvers/mutation.save-lydia-phone-number.ts
  packages/api/src/modules/users/types/user.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/bookings/[code]/[[step]]/+page.server.ts
  packages/app/src/routes/(app)/bookings/[code]/[[step]]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/[[step]]/+page.ts
  packages/app/src/routes/(app)/events/[id]/+page.gql
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/ModalBookTicket.svelte
  packages/db/prisma/migrations/20240811145834_booking_track_seen_by/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: profile pages
  packages/api/barrelsby.config.json
  packages/api/src/modules/groups/resolvers/mutation.self-join-group.ts
  packages/api/src/modules/groups/types/group.ts
  packages/api/src/modules/profiles/README.md
  packages/api/src/modules/profiles/index.ts
  packages/api/src/modules/profiles/resolvers/index.ts
  packages/api/src/modules/profiles/resolvers/query.profile.ts
  packages/api/src/modules/profiles/types/index.ts
  packages/api/src/modules/profiles/types/profile.ts
  packages/api/src/modules/student-associations/types/student-association.ts
  packages/api/src/modules/users/types/index.ts
  packages/api/src/modules/users/types/user.ts
  packages/api/src/schema.ts
  packages/api/src/server/graphql.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/ButtonShare.svelte
  packages/app/src/lib/components/HTMLContent.svelte
  packages/app/src/params/uid.ts
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
  packages/app/src/routes/(app)/events/[id]/HTMLContent.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(signups): continue
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/InputMajor.svelte
  packages/app/src/lib/components/InputStudentEmail.svelte
  packages/app/src/lib/components/InputUID.svelte
  packages/app/src/routes/(app)/register/continue/+page.svelte
  packages/app/src/routes/(app)/register/continue/+page.ts
  packages/app/src/routes/signup/[qrcode]/+page.gql
  packages/app/src/routes/signup/[qrcode]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
