Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

ci: make test:api:lint required
  ci/test/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(deps): update dependency date-fns to v4
  packages/api/package.json
  packages/api/src/lib/ratelimit.ts
  packages/api/src/modules/events/utils/recurrence.ts
  packages/app/package.json
  packages/app/src/lib/components/CardNotification.svelte
  packages/app/src/lib/components/CardSubject.svelte
  packages/app/src/lib/components/OverlayQuickBookings.svelte
  packages/app/src/lib/dates.ts
  packages/app/src/routes/(app)/birthdays/+page.svelte
  packages/app/src/routes/+layout.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/date-fns-4.x.md
Due: prettier --write --ignore-unknown

chore(git): submodules weren't declared even though the directories were there
  .gitmodules
Due: prettier --write --ignore-unknown

chore(docs): fix deadname in readme
  README.md
Due: prettier --write --ignore-unknown

build: fix build
  packages/app/src/lib/components/PillLink.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build: fix build
  packages/api/src/modules/links/resolvers/booking.link-urls.ts
  packages/app/src/lib/components/PillLink.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): allow dynamic [code] replacement in ticket links, replaced with the booking code
  .changeset/old-games-stare.md
  packages/api/src/modules/links/resolvers/booking.link-names.ts
  packages/api/src/modules/links/resolvers/booking.link-urls.ts
  packages/api/src/modules/links/utils/computed-links.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/PillLink.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.gql
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build: fix build
  packages/api/src/modules/links/resolvers/booking.link-urls.ts
Due: eslint --fix, prettier --write --ignore-unknown

Revert "ci: make test:api:lint required": enfait non mdr
  ci/test/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(deps): update dependency date-fns-tz to ^3.2.0
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(readme): remove status badges
  README.md
Due: prettier --write --ignore-unknown

fix(renovate changeset): ignore @churros
  scripts/generate-renovate-changesets.js
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): remove ignored package mock-n7-ldap
  .changeset/faker-js-faker-9.x.md
Due: prettier --write --ignore-unknown

build: upgrade to prisma v6
  packages/api/src/modules/global/types/errors.ts
  packages/app/src/lib/mutations.ts
  packages/db/prisma/migrations/20250130175152_prisma_v6/migration.sql
  packages/db/prisma/migrations/migration_lock.toml
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

fix(deps): update prisma monorepo to v6
  packages/api/package.json
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

build: fix build
  packages/api/src/modules/global/types/errors.ts
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

keep app mutations.ts
  packages/app/src/lib/mutations.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/faker-js-faker-9.x.md
Due: prettier --write --ignore-unknown

fix(api): prevent crashes when parseISO(user.lastSeenAt) fails
  packages/api/src/lib/last-seen.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(git): ignore barrels in src/permissions
  packages/api/.gitignore
Due: prettier --write --ignore-unknown

build: fix build
  packages/api/src/lib/last-seen.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci(changesets): don't trigger renovate changeset generation when merging release mr
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

refactor(ci/changesets): move commit message for release into variable
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changelog): mention dynamic [code] part in ticket links
  CHANGELOG.md
Due: prettier --write --ignore-unknown

fix(deps): update prisma monorepo to v6 (major)
  packages/api/package.json
  packages/api/src/modules/global/types/errors.ts
  packages/db/package.json
  packages/db/prisma/migrations/20250130175152_prisma_v6/migration.sql
  packages/db/prisma/migrations/migration_lock.toml
  packages/db/prisma/schema.prisma
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/major-prisma-monorepo.md
Due: prettier --write --ignore-unknown

chore(deps): update dependency svelte to v5
  package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency @sentry/sveltekit to ^8.52.1
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency graphql-ws to ^6.0.3
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency ldap-authentication to ^3.2.6
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

WIP
  .vscode/tasks.json
  packages/app/package.json
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/Alert.svelte
  packages/app/src/lib/components/Badge.svelte
  packages/app/src/lib/components/BaseInputText.svelte
  packages/app/src/lib/components/ButtonGhost.svelte
  packages/app/src/lib/components/ButtonInk.svelte
  packages/app/src/lib/components/ButtonLike.svelte
  packages/app/src/lib/components/ButtonNavigation.svelte
  packages/app/src/lib/components/ButtonSecondary.svelte
  packages/app/src/lib/components/ButtonShare.svelte
  packages/app/src/lib/components/CardArticle.houdini copy.svelte
  packages/app/src/lib/components/CardPost.svelte
  packages/app/src/lib/components/CardService.svelte
  packages/app/src/lib/components/CarouselGroups.svelte
  packages/app/src/lib/components/FormPicture.svelte
  packages/app/src/lib/components/InputColor.svelte
  packages/app/src/lib/components/InputNumber.svelte
  packages/app/src/lib/components/InputSocialLinks.svelte
  packages/app/src/lib/components/InputText.svelte
  packages/app/src/lib/components/InputToggleTriState.svelte
  packages/app/src/lib/components/ModalThemeVariables.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/components/OverflowMenu.svelte
  packages/app/src/lib/components/PillLink.svelte
  packages/app/src/lib/components/RelativeTime.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/display.ts
  packages/app/src/lib/i18n.ts
  packages/app/src/lib/logos/lydia.svg
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/+page.svelte
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/SubmenuItemBooleanConstraint.svelte
  packages/app/src/routes/(app)/events/[id]/scan/ScanResult.svelte
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  packages/app/static/colors.css
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(db): share counts for Article and Event shared the same table
  .changeset/light-beds-behave.md
  packages/db/prisma/migrations/20250130230640_fix_shared_by_relations/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

chore(deps): remove some unused packages
  .changeset/spotty-zebras-return.md
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/app/src/lib/ROUTES.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): dedupe
  yarn.lock
Due: prettier --write --ignore-unknown
