Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore(deps): update node.js to v20.18.2
  ci/changesets.gitlab-ci.yml
  package.json
  packages/api/package.json
  packages/arborist/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency houdini to ^1.5.0
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency unaccent to ^0.3.0
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency eslint-config-prettier to v10
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency stylelint-config-standard to v37
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update postgres docker tag to v17
  docker-compose.yml
Due: prettier --write --ignore-unknown

fix(deps): update dependency connect-redis to v8
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/houdini-1.x.md
  .changeset/iconify-json-material-symbols-light-1.x.md
  .changeset/node-20.x.md
  .changeset/nodemailer-6.x.md
  .changeset/pdfmake-0.x.md
  .changeset/typescript-5.x.md
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/material-symbols to ^1.2.14
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency graphinx to ^0.12.2
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency @faker-js/faker to ^9.4.0
  packages/db/package.json
  packages/mock-n7-ldap/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency chalk to ^5.4.1
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/cytoscape-3.x.md
  .changeset/graphql-16.x.md
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/chalk-5.x.md
  .changeset/faker-js-faker-9.x.md
  .changeset/iconify-json-material-symbols-1.x.md
Due: prettier --write --ignore-unknown

fix(deps): update dependency mime to ^4.0.6
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency nodemon to ^3.1.9
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency npm-run-all2 to ^7.0.2
  package.json
  packages/api/package.json
  packages/db/package.json
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency @clack/prompts to ^0.9.1
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency stylelint-config-recess-order to v6
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency date-fns to v4
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/clack-prompts-0.x.md
  .changeset/nodemon-3.x.md
  .changeset/npm-run-all2-7.x.md
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/mime-4.x.md
Due: prettier --write --ignore-unknown

fix(deps): update dependency google-auth-library to ^9.15.1
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update swc monorepo to ^1.10.12
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/google-auth-library-9.x.md
  .changeset/swc-monorepo.md
Due: prettier --write --ignore-unknown

build(api): remove @ts-expect-error, unaccent is now typed
  packages/api/src/modules/users/utils/uid.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(api): migrate connect-redis to v8
  packages/api/src/server/auth/session.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(deps): update dependency unaccent to ^0.3.0
  packages/api/package.json
  packages/api/src/modules/users/utils/uid.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/unaccent-0.x.md
Due: prettier --write --ignore-unknown

fix(deps): update dependency @sveltejs/vite-plugin-svelte to v5
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Revert "Merge branch 'renovate/svelte-gestures-5.x' into 'main'"
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(barrels): remove comitted barrels...
  packages/api/src/modules/posts/resolvers/index.ts
  packages/api/src/permissions/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(app): pin svelte-gestures to 5.0.6
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency connect-redis to v8
  packages/api/package.json
  packages/api/src/server/auth/session.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

fix(deps): update dependency graphql-ws to v6
  packages/api/package.json
  packages/api/src/server/express.ts
  packages/app/package.json
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/connect-redis-8.x.md
  .changeset/graphql-ws-6.x.md
Due: prettier --write --ignore-unknown

fix(app): usage of use:swipe since svelte-gestures downgrade
  packages/app/src/lib/components/OverlayQuickBookings.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

ci(gql schema): force changeset if the schema changes
  ci/test/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(gql schema): improve messages
  ci/test/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

build: fix build
  packages/api/package.json
  packages/api/src/lib/ratelimit.ts
  packages/api/src/modules/events/utils/recurrence.ts
  packages/app/package.json
  packages/app/src/lib/components/CardNotification.svelte
  packages/app/src/lib/components/CardSubject.svelte
  packages/app/src/lib/components/OverlayQuickBookings.svelte
  packages/app/src/lib/dates.ts
  packages/app/src/routes/(app)/birthdays/+page.svelte
  packages/app/src/routes/+layout.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown
