Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

feat(events): finish scan page, add mark as paid btn on booking page for managers
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.mark-booking-as-paid.ts
  packages/api/src/modules/ticketing/types/registration.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardBooking.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.gql
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/mutations.ts
  packages/app/src/routes/(app)/events/[id]/scan/+page.svelte
  packages/app/src/routes/(app)/events/[id]/scan/ScanResult.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(profile): users profile (wip)
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
  packages/api/src/lib/builder.ts
  packages/api/src/lib/ldap-school.ts
  packages/api/src/modules/groups/types/group.ts
  packages/api/src/modules/student-associations/resolvers/user.contributes-to.ts
  packages/api/src/modules/student-associations/types/student-association.ts
  packages/api/src/modules/users/types/user.ts
  packages/api/src/modules/users/utils/index.ts
  packages/api/src/modules/users/utils/names.ts
  packages/api/src/modules/users/utils/registration.ts
  packages/api/src/modules/users/utils/school.ts
  packages/api/src/permissions/school.ts
  packages/app/package.json
  packages/app/schema.graphql
  packages/app/src/app.html
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/AvatarSchool.svelte
  packages/app/src/lib/components/CardArticle.houdini.svelte
  packages/app/src/lib/components/CarouselGroups.svelte
  packages/app/src/lib/components/MemberRoleEmoji.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/components/NavigationTabs.svelte
  packages/app/src/lib/components/TreePersons.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/[uid=uid]/+layout.gql
  packages/app/src/routes/(app)/[uid=uid]/+layout.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/+layout.ts
  packages/app/vite.config.js
  packages/db/prisma/migrations/20240817143548_groups_add_upsert_dates/migration.sql
  packages/db/prisma/schema.prisma
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app/colors): remove problematic color name (wtf wikipédia????)
  packages/app/src/lib/colors.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(profle): finish users (except family tree), finish groups
  .vscode/console_log.code-search
  packages/api/src/modules/groups/resolvers/index.ts
  packages/api/src/modules/groups/resolvers/mutation.set-group-room-open-state.ts
  packages/api/src/modules/groups/resolvers/mutation.update-room-open-state.ts
  packages/api/src/modules/groups/resolvers/mutation.upsert-group.ts
  packages/api/src/modules/groups/types/group.ts
  packages/api/src/modules/groups/utils/permissions.ts
  packages/api/src/modules/users/types/user.ts
  packages/app/package.json
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/colors.ts
  packages/app/src/lib/components/ButtonCopyToClipboard.svelte
  packages/app/src/lib/components/FormGroup.svelte
  packages/app/src/lib/components/InputCheckbox.svelte
  packages/app/src/lib/components/MemberRoleEmoji.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/params/uid.ts
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/check-uid/[uid]/+server.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): changelog popup appeared even without changes to show
  packages/app/src/lib/components/ModalChangelog.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: chore(app): fix build
  build.log
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/links/resolvers/mutation.add-links.ts
  packages/api/src/modules/student-associations/resolvers/mutation.cancel-pending-contribution.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/AreaContribute.svelte
  packages/app/src/lib/components/AreaEditLinks.svelte
  packages/app/src/lib/components/AvatarMajor.svelte
  packages/app/src/lib/components/Badge.svelte
  packages/app/src/lib/components/CardBooking.svelte
  packages/app/src/lib/components/FormAnnouncement.svelte
  packages/app/src/lib/components/FormArticle.houdini.svelte
  packages/app/src/lib/components/FormDocument.svelte
  packages/app/src/lib/components/FormEvent.svelte
  packages/app/src/lib/components/FormEventTicket.svelte
  packages/app/src/lib/components/FormGroup.svelte
  packages/app/src/lib/components/FormPage.svelte
  packages/app/src/lib/components/FormPassword.svelte
  packages/app/src/lib/components/FormPicture.svelte
  packages/app/src/lib/components/InputLinks.svelte
  packages/app/src/lib/typenames.ts
  packages/db/prisma/migrations/20240818144736_make_link_url_unique_per_resource/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(app): continue fixing build
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/index.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/login/+page.svelte
  packages/app/src/routes/(app)/login/mutations.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: format and re-stub buildinfo
  packages/api/.graphinx.yaml
  packages/app/src/lib/buildinfo.ts
  packages/app/src/lib/components/AreaContribute.svelte
  packages/app/src/lib/components/AreaEditLinks.svelte
  packages/app/src/lib/components/FormArticle.houdini.svelte
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/service-worker.ts
  packages/app/svelte.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(app): unbarrelize components
  packages/app/src/lib/components/BookingAuthor.svelte
  packages/app/src/lib/components/BookingBeneficiary.svelte
  packages/app/src/lib/components/CardBooking.svelte
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/components/InputDateTime.svelte
  packages/app/src/lib/components/InputStudentEmail.svelte
  packages/app/src/lib/components/ModalReportIssue.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/components/PickGroup.svelte
  packages/app/src/lib/components/PickThings.svelte
  packages/app/src/lib/components/index.ts
  packages/app/src/routes/(app)/[uid=uid]/+layout.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
  packages/app/src/routes/(app)/bookings/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/ModalBookTicket.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/banned/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/contact/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/SubmenuItemBooleanConstraint.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/links/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/payment/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.svelte
  packages/app/src/routes/(app)/events/[id]/scan/ScanResult.svelte
  packages/app/src/routes/(app)/services/+page.svelte
  packages/app/src/routes/signup/+layout.svelte
  packages/app/src/routes/signup/+page.svelte
  packages/app/src/routes/signup/FormSignup.svelte
  packages/app/src/routes/signup/[qrcode]/+page.svelte
  packages/app/src/routes/signup/finish/[token]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(oauth): implement oauth login & logout on frontend
  packages/api/src/lib/token-session.ts
  packages/api/src/modules/users/utils/registration.ts
  packages/api/src/server/auth/constants.ts
  packages/api/src/server/auth/logout.ts
  packages/api/src/server/auth/oauth2.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/client.ts
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/login/+page.server.ts
  packages/app/src/routes/(app)/logout/+server.ts
  packages/app/src/routes/(app)/my-groups.gql
  packages/app/src/routes/(app)/posts/[id]/+page.gql
  packages/app/src/routes/(app)/posts/[id]/+page.ts
  packages/app/src/routes/(app)/student-associations/[uid]/+page.gql
  packages/app/src/routes/+layout.server.ts
  packages/app/src/routes/+layout.svelte
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(nav): users nav button was never highlighted
  packages/app/src/lib/components/ButtonNavigation.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ssr): globally enable ssr, on prod only for now
  packages/app/src/routes/(app)/+layout.ts
  packages/app/src/routes/(app)/+page.ts
  packages/app/src/routes/(app)/events/[[week=date]]/+page.ts
  packages/app/src/routes/(app)/groups/[uid]/[...page]/+page.ts
  packages/app/src/routes/(app)/groups/[uid]/edit/pages/+layout.ts
  packages/app/src/routes/(app)/student-associations/[uid]/[...page]/+page.ts
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(app): compentize split layout
  packages/app/src/lib/components/Split.svelte
  packages/app/src/routes/(app)/events/[id]/edit/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ssr): enable ssr globally on dev
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(houdinificiation): update progress :)
  packages/app/src/houdification-progress.csv
Due: prettier --write --ignore-unknown

chore: lintfix
  .eslintrc.cjs
  packages/api/src/lib/pictures.ts
  packages/api/src/modules/documents/resolvers/mutation.delete-document.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/AvatarStudentAssociation.svelte
  packages/app/src/lib/components/FormGroup.svelte
  packages/app/src/lib/components/InputGroups.houdini.svelte
  packages/app/src/lib/components/InputSelectOne.svelte
  packages/app/src/lib/components/InputToggleTriState.svelte
  packages/app/src/lib/components/ItemOrder.svelte
  packages/app/src/routes/(app)/documents/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/+page.svelte
  packages/app/src/routes/_component/[...componentName]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(pages): move custom pages to /:uid/:path
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(app)/[uid=uid]/[...page]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/[...page]/+page.ts
  packages/app/src/routes/(app)/[uid=uid]/[...page]/+page@(app).svelte
  packages/app/src/routes/(app)/groups/[uid]/[...page]/+server.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(app/deps): remove dependency on @churros/api
  packages/api/src/lib/errors.ts
  packages/app/package.json
  packages/app/src/lib/client.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove HINT comments for lib/navigation.ts
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/banned/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/contact/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/image/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/recurrence/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/links/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/payment/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.svelte
  packages/app/src/routes/(app)/services/+page.svelte
  packages/app/src/routes/signup/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(build): fix build error for setupIsMobile
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: implement GATs
  packages/api/src/global.d.ts
  packages/api/src/lib/context.ts
  packages/api/src/lib/gat-session.ts
  packages/api/src/lib/session-group.ts
  packages/api/src/lib/token-session.ts
  packages/api/src/modules/groups/resolvers/index.ts
  packages/api/src/modules/groups/resolvers/mutation.create-group-access-token.ts
  packages/api/src/modules/groups/utils/permissions.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article.ts
  packages/api/src/server/auth/bearer.ts
  packages/api/src/server/auth/oauth2.ts
  packages/api/src/server/auth/session.ts
  packages/app/schema.graphql
  packages/db/prisma/migrations/20240824181558_credential_add_gat/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): write database & api changeset (WIP)
  .changeset/fuzzy-tables-flash.md
Due: prettier --write --ignore-unknown

chore(changeset): add changeset for @churros/sync patch bump
  .changeset/lucky-roses-dream.md
Due: prettier --write --ignore-unknown

feat(profile/ae): implement contribute button
  packages/api/src/modules/student-associations/types/student-association.ts
  packages/api/src/modules/student-associations/utils/permissions.ts
  packages/app/src/lib/components/AreaContribute.svelte
  packages/app/src/lib/components/ModalContribute.svelte
  packages/app/src/lib/zeus.ts
  packages/app/src/routes/(app)/[uid=uid]/+layout.gql
  packages/app/src/routes/(app)/[uid=uid]/+layout.svelte
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/email/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): update yarn lockfile
  package.json
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(session): purge session cache correctly
  packages/api/src/lib/index.ts
  packages/api/src/lib/sessioncache.ts
  packages/api/src/modules/events/resolvers/mutation.upsert-event-manager.ts
  packages/api/src/modules/users/resolvers/mutation.save-lydia-phone-number.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-curriculum.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-profile.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(groups): finish group edition!
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/groups/[uid]/edit/bio/+page.gql
  packages/app/src/routes/(app)/groups/[uid]/edit/links/+page.gql
  packages/app/src/routes/(app)/groups/[uid]/edit/members/bulk/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(mailings): prevent crashing api when mailman API can't be contacted
  .changeset/shiny-lemons-boil.md
  packages/api/src/modules/groups/resolvers/mutation.delete-group-member.ts
  packages/api/src/modules/groups/resolvers/mutation.upsert-group-member.ts
  packages/api/src/modules/mails/utils/mailing-lists.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(group): allow non-students to see group pages
  packages/api/src/modules/groups/types/group.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(login): implement ?migrate
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/login/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: implement contributions management
  packages/api/src/lib/index.ts
  packages/api/src/modules/student-associations/resolvers/index.ts
  packages/api/src/modules/student-associations/resolvers/mutation.delete-contribution.ts
  packages/api/src/modules/student-associations/resolvers/mutation.mark-contribution-as-paid.ts
  packages/api/src/modules/student-associations/resolvers/user.can-contribute-to.ts
  packages/api/src/modules/student-associations/resolvers/user.contribution-options.ts
  packages/api/src/modules/student-associations/types/contribution-option.ts
  packages/api/src/modules/student-associations/utils/permissions.ts
  packages/api/src/modules/users/types/user.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/users/[uid]/edit/contribution/+page.gql
  packages/app/src/routes/(app)/users/[uid]/edit/contribution/+page.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/contribution/ItemContribution.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

docs: update modules import graph
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
Due: prettier --write --ignore-unknown

feat(errors): add button to reload page on "no data loaded" case
  packages/app/src/lib/components/MaybeError.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown
