Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore(deps): update dependency vite to v5.4.14
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

ci: take advantage of cache build stages by building android app alongside node frontend
  .eslintignore
  .prettierignore
  Dockerfile
  ci/build.gitlab-ci.yml
  ci/build/android.gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  packages/app/.gitignore
  packages/app/capacitor.config.ts
  packages/app/package.json
  packages/app/svelte.config.js
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

ci(app): don't parallelize adapters
  packages/app/svelte.config.js
Due: eslint --fix, prettier --write --ignore-unknown

ci: maybe working???
  Dockerfile
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: lint & check formatting
  .prettierignore
  ci/build/api.gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  ci/build/db.gitlab-ci.yml
  ci/build/sync.gitlab-ci.yml
  ci/test.gitlab-ci.yml
  ci/test/api.gitlab-ci.yml
  ci/test/app.gitlab-ci.yml
  ci/test/db.gitlab-ci.yml
  ci/test/sync.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: no extraneous lint/format checks on changeset release mr
  ci/test.gitlab-ci.yml
  ci/test/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: fix eslint out of heap error
  ci/test.gitlab-ci.yml
  ci/test/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(app): fix env object typing
  ci/test.gitlab-ci.yml
Due: prettier --write --ignore-unknown

build(app): fix formatting
  .prettierignore
  packages/app/houdini.config.js
  packages/app/src/lib/zeus.ts
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: allow bypassing eslint cuz its broken
  ci/test/api.gitlab-ci.yml
  ci/test/app.gitlab-ci.yml
  ci/test/sync.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(docker): reduce a bit total required disk size to build apk
  Dockerfile
Due: prettier --write --ignore-unknown

ci: fix npm command not found
  Dockerfile
Due: prettier --write --ignore-unknown

chore(docker): run cap sync in builder-app stage, hopefull it gets disk space usage down just enough
  Dockerfile
Due: prettier --write --ignore-unknown

ci(docker): copy node_modules/@capacitor from builder-app
  Dockerfile
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(docker): debug disk usage
  Dockerfile
Due: prettier --write --ignore-unknown

ci(docker): copy @capgo node_modules too
  Dockerfile
Due: prettier --write --ignore-unknown

chore: format files
  packages/api/src/modules/notifications/resolvers/mutation.test-notification.ts
  packages/api/src/server/lydia.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: split apk diawi upload to another job
  ci/build/app.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(native): temporarily change .env.example to bake correct values for the apk
  .env.example
Due: prettier --write --ignore-unknown

chore(deps): update dependency houdini-svelte to ^2.1.4
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(native): move sentry user logic to layout.ts (get rid of layout.server.ts)
  packages/app/src/routes/+layout.server.ts
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(docker): add org.opencontainers.image.source labels
  Dockerfile
Due: prettier --write --ignore-unknown

fix: correct radio buttons in events visibility are now disabled
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: add changeset
  .changeset/perfect-baboons-raise.md
Due: prettier --write --ignore-unknown

Apply 1 suggestion(s) to 1 file(s)
  .changeset/perfect-baboons-raise.md
Due: prettier --write --ignore-unknown

Update 7 files
  ci/build.gitlab-ci.yml
  ci/build/api.gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  ci/build/db.gitlab-ci.yml
  ci/build/sync.gitlab-ci.yml
  ci/test.gitlab-ci.yml
  ci/test/db.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix: correct radio buttons in events visibility are now disabled
  .changeset/perfect-baboons-raise.md
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

ci: auto-cancel old MR pipelines
  ci/build.gitlab-ci.yml
  ci/build/api.gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  ci/build/db.gitlab-ci.yml
  ci/build/sync.gitlab-ci.yml
  ci/test.gitlab-ci.yml
  ci/test/db.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/concurrently-9.x.md
  .changeset/iconify-json-simple-icons-1.x.md
  .changeset/vite-5.x.md
  .changeset/ws-8.x.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/chokidar-4.x.md
  .changeset/concurrently-9.x.md
  .changeset/iconify-json-simple-icons-1.x.md
  .changeset/perfect-baboons-raise.md
  .changeset/svelte-check-4.x.md
  .changeset/sveltejs-kit-2.x.md
  .changeset/tall-ads-double.md
  .changeset/vite-5.x.md
  .changeset/vite-plugin-kit-routes-0.x.md
  .changeset/ws-8.x.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/chokidar-4.x.md
  .changeset/concurrently-9.x.md
  .changeset/iconify-json-simple-icons-1.x.md
  .changeset/svelte-check-4.x.md
  .changeset/sveltejs-kit-2.x.md
  .changeset/vite-5.x.md
  .changeset/vite-plugin-kit-routes-0.x.md
  .changeset/ws-8.x.md
Due: prettier --write --ignore-unknown

Revert "chore(changesets): add changesets for renovate branches"
  .changeset/chokidar-4.x.md
  .changeset/concurrently-9.x.md
  .changeset/iconify-json-simple-icons-1.x.md
  .changeset/svelte-check-4.x.md
  .changeset/sveltejs-kit-2.x.md
  .changeset/vite-5.x.md
  .changeset/vite-plugin-kit-routes-0.x.md
  .changeset/ws-8.x.md
Due: prettier --write --ignore-unknown

chore(deps): update dependency @vizdom/vizdom-ts-node to ^0.1.19
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency postcss-html to ^1.8.0
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/vizdom-vizdom-ts-node-0.x.md
Due: prettier --write --ignore-unknown
