Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(event managers): cannot remove second-to-last manager
  packages/api/src/modules/events/resolvers/mutation.remove-event-manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(event managers): handle lastManagerPowerlevelChanged on removeEventManager result
  packages/app/src/lib/errors.ts
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemManager.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(event manager invites): improve highlighting invite from manager list
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemInvite.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemManager.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build: fix build
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemManager.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: update generated files (woops)
  packages/api/src/modules/events/resolvers/index.ts
  packages/app/schema.graphql
  packages/app/src/routes/check-uid/[uid]/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/great-ladybugs-drive.md
Due: prettier --write --ignore-unknown

chore(git): remove deadname from mailmap
  .mailmap
Due: prettier --write --ignore-unknown

refactor(ticketing)!: remove deprecated Mutation.upsertRegistration
  .changeset/spotty-cows-kneel.md
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): add changesets
  .changeset/afraid-hounds-sing.md
  .changeset/breezy-clouds-behave.md
  .changeset/good-brooms-invite.md
  .changeset/silly-bananas-scream.md
Due: prettier --write --ignore-unknown

feat(events): implement points of contact, improve event bookings list page
  packages/api/src/mail-templates/booking.mjml
  packages/api/src/mail-templates/props.ts
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/mutation.book-event.ts
  packages/api/src/modules/ticketing/resolvers/mutation.verify-booking.ts
  packages/api/src/modules/ticketing/types/registration.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/components/AvatarUser.svelte
  packages/app/src/lib/components/BookingBeneficiary.svelte
  packages/app/src/lib/components/BookingPaymentMethod.svelte
  packages/app/src/lib/dates.ts
  packages/app/src/lib/download.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.gql
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/ModalBookTicket.svelte
  packages/app/src/routes/(app)/events/[id]/bookings.csv/+server.ts
  packages/app/src/routes/(app)/events/[id]/bookings/+page.gql
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/ItemBooking.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/ModalBookingDetails.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/csv.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
  packages/db/prisma/migrations/20241110220155_registration_add_point_of_contact/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(bookings): make accountless bookings enter their name alongside their email address
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/mutation.book-event.ts
  packages/api/src/modules/ticketing/types/registration.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/BookingAuthor.svelte
  packages/app/src/lib/components/BookingBeneficiary.svelte
  packages/app/src/routes/(app)/events/[id]/ModalBookTicket.svelte
  packages/db/prisma/migrations/20241111013537_registration_add_author_name/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(houdini): enable houdini vite plugin smart autoCodeGen
  packages/app/package.json
  packages/app/vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

WIP: loading class instance
  packages/app/src/lib/components/AvatarGroup.houdini.svelte
  packages/app/src/lib/components/BookingBeneficiary.svelte
  packages/app/src/lib/components/BookingPaymentMethod.svelte
  packages/app/src/lib/components/BookingStatus.svelte
  packages/app/src/lib/components/LoadingTextNew.svelte
  packages/app/src/lib/loading.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(profile): add /logout action to overflow menu of own profile
  packages/app/src/lib/navigation.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(backrooms): redesign
  .changeset/late-llamas-attack.md
  .changeset/loud-cups-wonder.md
  packages/api/src/modules/users/resolvers/index.ts
  packages/api/src/modules/users/resolvers/query.user-candidates-count.ts
  packages/api/src/modules/users/resolvers/query.user-candidates.ts
  packages/api/src/modules/users/utils/registration.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/backrooms/+page.gql
  packages/app/src/routes/(app)/backrooms/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): show red dot on backrooms overflow menu item when there are pending signups
  .changeset/two-toys-rush.md
  packages/app/src/lib/components/OverflowMenu.svelte
  packages/app/src/lib/components/OverflowMenuItem.svelte
  packages/app/src/lib/navigation.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor(signups): move to houdini for mutations on /signups
  packages/app/src/routes/(app)/signups/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(quick signups): redesign management pages
  .changeset/fuzzy-mirrors-listen.md
  packages/app/src/lib/components/ButtonShare.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/quick-signups/create/+page.gql
  packages/app/src/routes/(app)/quick-signups/create/+page.server.ts
  packages/app/src/routes/(app)/quick-signups/create/+page.svelte
  packages/app/src/routes/(app)/quick-signups/manage/+page.gql
  packages/app/src/routes/(app)/quick-signups/manage/+page.svelte
  packages/app/src/routes/(app)/quick-signups/manage/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/dry-jars-whisper.md
  .changeset/gorgeous-islands-draw.md
  .changeset/pink-hounds-bake.md
  .changeset/rich-buckets-own.md
  .changeset/silent-walls-eat.md
  .changeset/small-days-pull.md
  .changeset/wicked-seals-tie.md
  .changeset/wild-cycles-eat.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(permissions): make documents access toggle actually trigger the mutation (fixes #1228)
  .changeset/bright-rocks-matter.md
  packages/app/src/routes/(app)/users/[uid]/edit/permissions/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(emails): impossible de faire une demande de changement d'email (closes #1224)
  .changeset/fifty-bees-count.md
  .changeset/flat-lamps-stare.md
  packages/api/src/mail-templates/verify-mail.mjml
  packages/api/src/modules/users/resolvers/mutation.request-email-change.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/users/[uid]/edit/email/+page.svelte
  packages/app/src/routes/(app)/validate-email/[token]/+page.svelte
  packages/app/src/routes/(app)/validate-email/[token]/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(gitlab): make churros repository url env-configurable (closes #1219)
  .changeset/tame-kids-impress.md
  .env.example
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  package.json
  packages/api/.graphinx.yaml
  packages/api/src/env.ts
  packages/api/src/lib/markdown.ts
  packages/api/src/modules/changelogs/resolvers/query.upcoming-changelog.ts
  packages/api/src/modules/gitlab/resolvers/mutation.create-gitlab-issue.ts
  packages/api/src/modules/gitlab/resolvers/query.code-contributors.ts
  packages/api/src/modules/gitlab/resolvers/query.issue.ts
  packages/api/src/modules/gitlab/resolvers/query.issues-by-user.ts
  packages/api/src/modules/gitlab/types/issue.ts
  packages/api/src/server/graphql.ts
  packages/app/src/app.html
  packages/app/src/lib/components/ModalReportIssue.svelte
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/changelog/+page.svelte
  packages/app/src/routes/(app)/credits/+page.svelte
  packages/app/src/routes/(app)/reports/+page.svelte
  packages/arborist/package.json
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(group members): could not change member creation date
  .changeset/wise-numbers-drive.md
  packages/api/src/modules/groups/resolvers/mutation.update-group-member.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(group members): clarify what the date ranges are in listing page (closes #1217)
  .changeset/cold-brooms-pump.md
  packages/app/src/routes/(app)/groups/[uid]/members/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ticketing): forcer visibilité publique/privée/non répertoriée quand billet exté (closes #1231)
  .changeset/quiet-suits-collect.md
  packages/api/src/modules/events/resolvers/mutation.set-event-visibility.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/utils/index.ts
  packages/api/src/modules/events/utils/visibility.ts
  packages/api/src/modules/ticketing/resolvers/event.update-ticket-constraints.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/InputRadios.svelte
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(bookmarks): improve help message when no bookmarks defined (closes #1205)
  .changeset/swift-seals-bow.md
  packages/app/src/lib/components/QuickAccessList.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(bookmarks): fix bookmarked services go nowhere
  .changeset/breezy-fans-rule.md
  .changeset/ninety-eggs-flash.md
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/users/types/bookmark.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/QuickAccessList.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(pickers): button to pick an option would trigger a form submission
  .changeset/quick-buses-kneel.md
  packages/app/src/lib/components/PickThings.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(signup): force opening major picker before anything else (closes #1190)
  .changeset/quiet-pans-train.md
  packages/app/src/lib/components/InputMajor.svelte
  packages/app/src/routes/signup/FormSignup.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(app): fix build
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(posts): make delete button actually do something (closes #1025)
  .changeset/fifty-cars-judge.md
  .changeset/odd-horses-fold.md
  packages/api/src/modules/posts/resolvers/mutation.delete-article.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  packages/app/src/routes/(app)/posts/[id]/ModalDelete.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(events): double navigation on Voir plus link on card (fixes #1197)
  .changeset/bright-sheep-swim.md
  packages/app/src/lib/components/CardEvent.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor(app): remove unused /posts/:group/create route and FormArticle component
  .changeset/bright-hairs-pay.md
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/FormArticle.houdini.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/posts/[[group]]/create/+page.gql
  packages/app/src/routes/(app)/posts/[[group]]/create/+page.svelte
  packages/app/src/routes/(app)/posts/[id]/edit/visibility/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(users): allow users to set their pronouns
  packages/api/src/modules/users/resolvers/mutation.update-user-profile.ts
  packages/api/src/modules/users/types/user-profile-input.ts
  packages/api/src/modules/users/types/user.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/+layout.gql
  packages/app/src/routes/(app)/users/[uid]/edit/+layout.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/mutations.ts
  packages/db/prisma/migrations/20241022220051_user_add_pronouns/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(user profile): put nickname alongside other info, put pronouns alongside uid
  packages/api/src/modules/users/types/user.ts
  packages/api/src/modules/users/utils/names.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(user profile): also put nick alongside uid & pronouns (not sure)
  packages/api/src/modules/users/resolvers/mutation.update-user-profile.ts
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/thirty-kangaroos-yawn.md
Due: prettier --write --ignore-unknown

chore(prisma): rebase migration
  packages/db/prisma/migrations/20241112064746_user_add_pronouns/migration.sql
Due: prettier --write --ignore-unknown

chore(scripts): add prisma migration rebaser
  scripts/rebaseMigrations.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(scripts): name prisma rebaser in kebab-case
  scripts/rebase-migrations.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
