Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore(ldap7): bump version
  packages/api/package.json
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(ldap7): bump version close #1013 as it will be handled by authentik
  packages/api/package.json
  packages/sync/package.json
  packages/sync/src/modules/ldap/users.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

fix(sync): do not sync bot accounts
  packages/sync/src/modules/ldap/users.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(uid): don't try to get src/routes/* dirnames at runtime, generate list at build time
  CHANGELOG.md
  packages/app/package.json
  packages/app/src/routes/check-uid/[uid]/+server.ts
  packages/app/src/scripts/generate-reserved-usernames-from-routes.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(ui): make desktop layout
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/NavigationTop.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ui): new nav bars (wip)
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/svelte.code-snippets
  packages/app/package.json
  packages/app/src/design/app.scss
  packages/app/src/design/default-theme.scss
  packages/app/src/lib/components/CardArticle.houdini.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/components/OverflowMenu.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/tabs.ts
  packages/app/src/lib/toasts.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  packages/app/tsconfig.json
  packages/app/vite.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ui): implement pins
  packages/api/package.json
  packages/api/src/lib/builder.ts
  packages/api/src/modules/users/resolvers/index.ts
  packages/api/src/modules/users/resolvers/mutation.pin.ts
  packages/api/src/modules/users/resolvers/mutation.unpin.ts
  packages/api/src/modules/users/resolvers/query.pinned.ts
  packages/api/src/modules/users/resolvers/user.pins.ts
  packages/api/src/modules/users/types/index.ts
  packages/api/src/modules/users/types/pin.ts
  packages/api/src/server/storage.ts
  packages/app/package.json
  packages/app/schema.graphql
  packages/app/src/lib/components/ButtonGhost.svelte
  packages/app/src/lib/components/ButtonInk.svelte
  packages/app/src/lib/components/ButtonPrimary.svelte
  packages/app/src/lib/components/ButtonSecondary.svelte
  packages/app/src/lib/components/FormPicture.tsunsafe.ts
  packages/app/src/lib/components/ModalDrawer.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/OverflowMenu.svelte
  packages/app/src/lib/components/OverflowMenuItem.svelte
  packages/app/src/lib/components/QuickAccessList.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/pins.ts
  packages/app/src/routes/(app)/+layout.gql
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/+layout.ts
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/db/prisma/migrations/20240728170143_add_pins/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ui): use bottom drawer for overflow menus on mobile, more navtop definitions
  packages/app/src/design/app.scss
  packages/app/src/lib/components/ButtonCopyToClipboard.svelte
  packages/app/src/lib/components/OverflowMenu.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ui): finish (app) layout
  packages/app/src/lib/components/ButtonNavigation.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/OverflowMenu.svelte
  packages/app/src/lib/components/QuickAccessList.svelte
  packages/app/src/lib/mobile.ts
  packages/app/src/lib/scroll.ts
  packages/app/src/lib/tabs.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/+page.gql
  packages/app/src/routes/(app)/+page.svelte
  packages/app/src/routes/(app)/NavigationTop.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

docs(contributing): mention running app/api dev servers separately
  CONTRIBUTING.md
Due: prettier --write --ignore-unknown

feat(ui): disable/hide overflow items when relevant
  packages/api/barrelsby.config.json
  packages/api/src/modules/announcements/resolvers/index.ts
  packages/api/src/modules/announcements/resolvers/mutation.delete-announcement.ts
  packages/api/src/modules/announcements/resolvers/mutation.upsert-announcement.ts
  packages/api/src/modules/announcements/resolvers/user.can-announcements-announcements.ts
  packages/api/src/modules/groups/resolvers/index.ts
  packages/api/src/modules/groups/resolvers/user.can-create-events-on.ts
  packages/api/src/modules/groups/utils/permissions.ts
  packages/api/src/modules/student-associations/index.ts
  packages/api/src/modules/student-associations/resolvers/index.ts
  packages/api/src/modules/student-associations/resolvers/user.can-create-groups-on.ts
  packages/api/src/modules/student-associations/utils/index.ts
  packages/api/src/modules/student-associations/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/OverflowMenuItem.svelte
  packages/app/src/lib/navigation.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: make body the scrollable container
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/QuickAccessList.svelte
  packages/app/src/lib/scroll.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/+page.svelte
  packages/app/src/routes/(app)/NavigationTop.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: improve alerts and login redirections
  packages/app/src/lib/components/Alert.svelte
  packages/app/src/lib/components/AreaComments.houdini.svelte
  packages/app/src/lib/components/AreaComments.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/+error.svelte
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/groups/[uid]/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/shop/[id]/+page.svelte
  packages/app/src/routes/(app)/login/+page.svelte
  packages/app/src/routes/(app)/login/reset/[token]/+page.svelte
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  packages/app/src/routes/(app)/register/[[quickSignupCode]]/+page.svelte
  packages/app/src/routes/(external)/health/+server.ts
  packages/app/src/routes/+error.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(scroll restoration): turns out desktop scroll container was :root and not [data-vaul-drawer-wrapper]
  packages/app/src/routes/(app)/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(vscode): add task to re launch dev servers properly after branch switching
  .vscode/tasks.json
Due: prettier --write --ignore-unknown

fix(api): fix filename for User.canManageAnnouncements resolver
  packages/api/src/modules/announcements/resolvers/index.ts
  packages/api/src/modules/announcements/resolvers/user.can-manage-announcements.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(layout): don't guard setupScrollPositionRestorer under if(browser)
  packages/app/src/routes/(app)/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(themes): proper theming system!! (no ui yet)
  package.json
  packages/api/barrelsby.config.json
  packages/api/src/lib/context.ts
  packages/api/src/lib/global-id.ts
  packages/api/src/lib/sessioncache.ts
  packages/api/src/modules/themes/README.md
  packages/api/src/modules/themes/index.ts
  packages/api/src/modules/themes/resolvers/group.can-create-themes.ts
  packages/api/src/modules/themes/resolvers/index.ts
  packages/api/src/modules/themes/resolvers/mutation.block-theme.ts
  packages/api/src/modules/themes/resolvers/mutation.set-theme-value.ts
  packages/api/src/modules/themes/resolvers/mutation.set-theme-visibility.ts
  packages/api/src/modules/themes/resolvers/mutation.upsert-theme.ts
  packages/api/src/modules/themes/resolvers/query.autodeployed-theme.ts
  packages/api/src/modules/themes/resolvers/query.themes.ts
  packages/api/src/modules/themes/types/index.ts
  packages/api/src/modules/themes/types/theme-value.ts
  packages/api/src/modules/themes/types/theme-variable.ts
  packages/api/src/modules/themes/types/theme-variant.ts
  packages/api/src/modules/themes/types/theme.ts
  packages/api/src/modules/themes/utils/index.ts
  packages/api/src/modules/themes/utils/permissions.ts
  packages/api/src/permissions/member.ts
  packages/api/src/schema.ts
  packages/app/schema.graphql
  packages/app/src/app.html
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/theme.ts
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/themes.css/+server.ts
  packages/app/src/routes/(app)/users/[uid]/edit/+page.svelte
  packages/app/src/routes/+layout.gql
  packages/app/src/routes/+layout.svelte
  packages/app/static/colors.css
  packages/app/static/manifest.json
  packages/db/prisma/migrations/20240731163255_add_themes/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ui): overflow menu has items below the layout top cap
  packages/app/src/lib/components/OverflowMenu.svelte
  packages/app/static/colors.css
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(loading): add technical info to loading overlay
  packages/app/src/app.html
Due: prettier --write --ignore-unknown

feat(ui): animated logo!! + fix quickaccess empty state
  packages/app/src/lib/components/ButtonGhost.svelte
  packages/app/src/lib/components/ButtonNavigation.svelte
  packages/app/src/lib/components/LoadingChurros.svelte
  packages/app/src/lib/components/LogoChurros.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/QuickAccessList.svelte
  packages/app/static/colors.css
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(loading): improve loading overlay
  packages/app/src/app.html
Due: prettier --write --ignore-unknown

fix(nav): fix scrolltop by button click on mobile
  packages/app/src/lib/components/ButtonNavigation.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/OverflowMenu.svelte
  packages/app/src/lib/scroll.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/NavigationTop.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Revert "WIP: start small db changes for new Events UI"
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

chore: format code
  packages/api/src/mail-templates/_footer.mjml
  packages/api/src/mail-templates/form-answers.mjml
  packages/api/src/mail-templates/reset-password.mjml
  packages/api/src/mail-templates/signup-rejected.mjml
  packages/api/src/mail-templates/verify-mail.mjml
  packages/api/src/mail-templates/welcome.mjml
  packages/app/src/design/app.scss
  packages/app/src/lib/components/Badge.svelte
  packages/app/src/lib/components/ButtonSecondary.svelte
  packages/app/src/lib/components/InputRadio.svelte
  packages/app/src/lib/components/OverflowMenuItem.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(prisma): rebase migrations on top of main
  packages/db/prisma/migrations/20240731163255_add_themes/migration.sql
  packages/db/prisma/migrations/20240731205520_add_pins_and_themes/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

refactor(bookmarks): rename pins to bookmarks
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/users/resolvers/index.ts
  packages/api/src/modules/users/resolvers/mutation.bookmark.ts
  packages/api/src/modules/users/resolvers/mutation.unbookmark.ts
  packages/api/src/modules/users/resolvers/query.bookmarked.ts
  packages/api/src/modules/users/resolvers/user.pins.ts
  packages/api/src/modules/users/types/bookmark.ts
  packages/api/src/modules/users/types/index.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/QuickAccessList.svelte
  packages/app/src/lib/pins.ts
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/+layout.gql
  packages/db/prisma/migrations/20240801102148_add_bookmarks_and_themes/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: start small db changes for new Events UI
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

feat(api): add end to end testing
  .graphqlrc.yaml
  packages/api/package.json
  packages/api/scripts/generate-barrelsby-config.ts
  packages/api/src/modules/users/tests/login.hurl
  packages/api/src/modules/users/tests/search.hurl
  packages/api/src/modules/users/tests/user.hurl
  packages/db/seed/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): add missing prettier dev dep (for format-at) on @churros/app
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(links): allow setLinks on Articles
  packages/api/src/modules/links/types/has-links.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat(events): implement event mutations except manager and ticket stuff
  packages/api/scripts/generate-barrelsby-config.ts
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
  packages/api/src/lib/builder.ts
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/resolvers/mutation.ban-from-event.ts
  packages/api/src/modules/events/resolvers/mutation.change-event-organizer.ts
  packages/api/src/modules/events/resolvers/mutation.delete-event-picture.ts
  packages/api/src/modules/events/resolvers/mutation.set-event-co-organizers.ts
  packages/api/src/modules/events/resolvers/mutation.set-event-visibility.ts
  packages/api/src/modules/events/resolvers/mutation.unban-from-event.ts
  packages/api/src/modules/events/resolvers/mutation.update-event-picture.ts
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/events/resolvers/mutation.upsert-event.ts
  packages/api/src/modules/events/tests/bans.hurl
  packages/api/src/modules/events/tests/crud.gql
  packages/api/src/modules/events/tests/organizers.hurl
  packages/api/src/modules/events/tests/visibility.hurl
  packages/api/src/modules/events/types/capacity.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/events/types/ticket-input.ts
  packages/api/src/modules/global/types/index.ts
  packages/api/src/modules/global/types/url.ts
  packages/api/src/modules/groups/resolvers/mutation.upsert-group.ts
  packages/api/src/modules/links/resolvers/index.ts
  packages/api/src/modules/links/resolvers/mutation.set-links.ts
  packages/api/src/modules/links/tests/basic.hurl
  packages/api/src/modules/links/types/has-links.ts
  packages/api/src/modules/links/types/index.ts
  packages/api/src/modules/links/types/link-input.ts
  packages/api/src/modules/links/types/link.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article.ts
  packages/api/src/modules/posts/types/article.ts
  packages/api/src/modules/users/resolvers/mutation.update-user.ts
  packages/api/src/server/express.ts
  packages/app/schema.graphql
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(events): start new mutations
  packages/api/package.json
  packages/api/src/lib/builder.ts
  packages/api/src/lib/utils.ts
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/resolvers/mutation.create-event.ts
  packages/api/src/modules/events/resolvers/mutation.delete-event-manager.ts
  packages/api/src/modules/events/resolvers/mutation.delete-event.ts
  packages/api/src/modules/events/resolvers/mutation.update-event-picture.ts
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/events/resolvers/mutation.upsert-event.ts
  packages/api/src/modules/events/resolvers/mutation.upsert-managers-of-event.ts
  packages/api/src/modules/events/tests/crud.hurl
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/utils/permissions.ts
  packages/api/src/modules/global/types/date-range-input.ts
  packages/api/src/modules/global/types/html.ts
  packages/api/src/modules/global/types/index.ts
  packages/api/src/modules/global/types/markdown.ts
  packages/api/src/modules/global/types/positive-int.ts
  packages/api/src/modules/global/types/short-string.ts
  packages/api/src/modules/ticketing/resolvers/event.can-see-bookings.ts
  packages/api/src/modules/users/tests/user.hurl
  packages/app/schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(events): smol db changes
  packages/db/prisma/migrations/20240801112436_events_add_global_capacity_optionalize_dates/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

feat(links): implement PillLink, use in event details page
  .vscode/settings.json
  packages/api/src/modules/links/resolvers/index.ts
  packages/api/src/modules/links/resolvers/link.computed-value.ts
  packages/api/src/modules/links/resolvers/link.url.ts
  packages/api/src/modules/links/types/link.ts
  packages/api/src/modules/links/utils/computed-links.ts
  packages/app/houdini.config.js
  packages/app/package.json
  packages/app/schema.graphql
  packages/app/src/lib/components/IconLinkVariant.svelte
  packages/app/src/lib/components/PillLink.svelte
  packages/app/src/lib/components/QuickAccessList.svelte
  packages/app/src/lib/social.generated.ts
  packages/app/src/routes/(app)/events/[id]/+page.gql
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/scripts/generate-socials-json.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): upgrade typescript
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/arborist/package.json
  packages/db/package.json
  packages/oauth-client/package.json
Due: prettier --write --ignore-unknown
