Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): polyfill URL.canParse and Array#toReversed
  packages/app/src/lib/polyfills.ts
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): check for navigator.vibrate support everywhere (closes #1121)
  packages/app/src/lib/vibration.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/scan/ScanResult.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ticketing/scan): surface error when camera not found on event scanning view (closes #1127)
  packages/app/src/routes/(app)/events/[id]/scan/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changeset): update changeset
  .changeset/cold-nails-battle.md
Due: prettier --write --ignore-unknown

fix(app): accept null for data on CardBooking
  packages/app/src/lib/components/CardBooking.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): don't crash when trying mutation with invalid date
  packages/app/houdini.config.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(app): remove global top progress bar (closes #1123)
  packages/app/src/app.html
  packages/app/src/routes/+layout.svelte
  packages/app/static/vendor/nprogress.css
  packages/app/static/vendor/nprogress.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Update Contributing.md
  CONTRIBUTING.md
Due: prettier --write --ignore-unknown

fix(ci): add sentry token as build secret
  Dockerfile
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(pay modal): allow going back to phone input after error even if saved lydia phone exists
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(pay modal): maybe fix submitting payment request with empty phone number when saved lydia phone
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(pay modal): tell sentry when a payment goes wrong
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changeset): update changeset
  .changeset/popular-months-visit.md
Due: prettier --write --ignore-unknown

feat(settings): set inputmode tel for lydia phone input
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(apple wallet): update logos
  packages/api/src/lib/apple-wallet.ts
  packages/api/static/apple-wallet-assets/logo-black-thin@256px.png
  packages/api/static/apple-wallet-assets/logo-black@128px.png
  packages/api/static/apple-wallet-assets/logo-color@128px.png
  packages/api/static/apple-wallet-assets/logo-color@256px.png
  packages/api/static/apple-wallet-assets/logo-masked.png
  packages/api/static/apple-wallet-assets/logo-masked@160px.png
  packages/api/static/apple-wallet-assets/logo.png
  packages/api/static/apple-wallet-assets/logo@160px.png
Due: eslint --fix, prettier --write --ignore-unknown

feat(apple wallet): reorganize some fields, add some more fields
  packages/api/src/lib/apple-wallet.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(docs): shorten env var description in global.d.ts, remove unecessary net7-specific comments
  .env.example
  packages/api/src/global.d.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(apple wallet): button to add background color was white in dark mode
  packages/app/src/lib/components/ButtonAddToAppleWallet.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): apple wallet support
  .changeset/dirty-dots-crash.md
  .env.example
  .gitignore
  packages/api/package.json
  packages/api/src/global.d.ts
  packages/api/src/index.ts
  packages/api/src/lib/apple-wallet.ts
  packages/api/src/lib/index.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.create-apple-wallet-pass.ts
  packages/api/static/apple-wallet-assets/logo-masked.png
  packages/api/static/apple-wallet-assets/logo-masked@160px.png
  packages/api/static/apple-wallet-assets/logo.png
  packages/api/static/apple-wallet-assets/logo@160px.png
  packages/app/schema.graphql
  packages/app/src/lib/components/ButtonAddToAppleWallet.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/mutations.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(wallets): don't show misleading success toast on button click
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changelog): prepare user-facing changelog for 2.7.0
  CHANGELOG.md
Due: prettier --write --ignore-unknown

feat(ticketing): implement ticket counting policies
  .changeset/curly-walls-wonder.md
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket.ts
  packages/api/src/modules/ticketing/types/index.ts
  packages/api/src/modules/ticketing/types/ticket-counting-policy.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/places.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/display.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/counting/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/counting/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/mutations.ts
  packages/db/prisma/migrations/20240909102210_ticket_add_counting_policy/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(db): fix update search registration trigger
  packages/api/src/lib/fulltextsearch.sql
Due: prettier --write --ignore-unknown

fix(bookings): fix crash after cancelling booking when going back to bookings list
  packages/app/src/routes/(app)/bookings/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(env): improve documentation of APPLE_WALLET_PASS_TYPE_ID
  .env.example
Due: prettier --write --ignore-unknown

feat(ticketing): apple wallet support
  .changeset/dirty-dots-crash.md
  .env.example
  .gitignore
  packages/api/package.json
  packages/api/src/global.d.ts
  packages/api/src/index.ts
  packages/api/src/lib/apple-wallet.ts
  packages/api/src/lib/index.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.create-apple-wallet-pass.ts
  packages/api/static/apple-wallet-assets/logo-black-thin@256px.png
  packages/api/static/apple-wallet-assets/logo-black@128px.png
  packages/api/static/apple-wallet-assets/logo-color@128px.png
  packages/api/static/apple-wallet-assets/logo-color@256px.png
  packages/app/schema.graphql
  packages/app/src/lib/components/ButtonAddToAppleWallet.svelte
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/mutations.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: try to fix @churros/sync internal dep
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: bump changeset to latest version
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/cold-nails-battle.md
  .changeset/curly-walls-wonder.md
  .changeset/dirty-dots-crash.md
  .changeset/dirty-rocks-exercise.md
  .changeset/fresh-pans-notice.md
  .changeset/nasty-islands-divide.md
  .changeset/orange-peaches-wonder.md
  .changeset/popular-months-visit.md
  .changeset/tiny-tigers-call.md
  .changeset/weak-mayflies-applaud.md
  .changeset/wild-nails-pump.md
  .changeset/yellow-news-sneeze.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(apple wallet): don't crash on error
  packages/api/src/modules/ticketing/resolvers/mutation.create-apple-wallet-pass.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(apple wallet): save thumbs with event ID instead
  packages/api/src/lib/apple-wallet.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): update changeset
  .changeset/gorgeous-keys-love.md
Due: prettier --write --ignore-unknown

fix(apple wallet): use correct sizes for thumbnails
  packages/api/src/lib/apple-wallet.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/gorgeous-keys-love.md
  packages/api/CHANGELOG.md
  packages/api/package.json
Due: prettier --write --ignore-unknown

feat(ticketing): debug canBookEvent with logs
  .changeset/great-wombats-juggle.md
  packages/api/src/lib/logger.ts
  packages/api/src/modules/ticketing/resolvers/mutation.book-event.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(logs): allow fitlering logs by user, area or message through query params
  .changeset/quick-spies-joke.md
  packages/api/src/modules/logs/resolvers/query.logs.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/logs/+page.gql
  packages/app/src/routes/(app)/logs/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/great-wombats-juggle.md
  .changeset/quick-spies-joke.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

feat(ticketing): add deduplicateBookings mutation
  .changeset/happy-bags-invent.md
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.deduplicate-bookings.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(logs/ticketing): log lydia phone used when paying bookings
  packages/api/src/modules/ticketing/resolvers/mutation.pay-booking.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
