Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

fix(migrations coherence): handle both present and absent main branch scenarios
  packages/db/scripts/check-migrations-coherence.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(migrations coherence): fix main branch switching
  packages/db/scripts/check-migrations-coherence.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(changesets renovate): fix git pull invocation
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(renovate changesets): add some logs
  scripts/generate-renovate-changesets.js
Due: eslint --fix, prettier --write --ignore-unknown

Apply 1 suggestion(s) to 1 file(s)
  packages/app/src/lib/components/OverlayQuickBookings.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(yarn): regen lockfile
  yarn.lock
Due: prettier --write --ignore-unknown

chore(yarn): regen lockfile, pin lint-staged
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(prisma): redo migration atop main
  packages/db/prisma/migrations/20241118230142_user_add_private_profile/migration.sql
  packages/db/prisma/migrations/20250126233242_user_add_private_profile/migration.sql
Due: prettier --write --ignore-unknown

feat(docker): add graphql schema target
  Dockerfile
Due: prettier --write --ignore-unknown

ci(build): allow exporting to artifacts instead of image
  ci/build.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: add graphql schema exporter job
  ci/build/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(gql schema): remove environnement
  ci/build/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(OverlayQuickBookings): fix use:swipe usage
  packages/app/src/lib/components/OverlayQuickBookings.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(api): try to fix weird typing issues
  packages/api/src/server/express.ts
  packages/api/src/server/lydia.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(api): remove multer check
  packages/api/src/server/lydia.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(lydia webhook): enforce correct request body structure with zod
  packages/api/src/server/lydia.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(api): fix weird typing issue in cors handler
  packages/api/src/server/express.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci(gql schema): make it output to fs and not image
  ci/build/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(api): add graphql schema coherence test
  .gitlab-ci.yml
  ci/build/api.gitlab-ci.yml
  ci/test.gitlab-ci.yml
  ci/test/api.gitlab-ci.yml
  packages/api/.prettierignore
  packages/api/package.json
  packages/api/src/schema.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: make MR builds conditional
  ci/build/api.gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  ci/build/db.gitlab-ci.yml
  ci/build/sync.gitlab-ci.yml
  ci/test/db.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(docker/api): add git at runtime (temporary measure)
  Dockerfile
Due: prettier --write --ignore-unknown

ci(api): build if sync changes too
  ci/build/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: fix gql schema coherence test
  ci/build/api.gitlab-ci.yml
  ci/test/api.gitlab-ci.yml
  packages/api/src/modules/changelogs/resolvers/query.changelog.ts
  packages/api/src/modules/changelogs/resolvers/query.combined-changelog.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci(gql coherence): remove default arguments using CURRENT_VERSION
  packages/api/src/modules/changelogs/resolvers/mutation.acknowledge-changelog.ts
  packages/api/src/modules/changelogs/resolvers/query.combined-changelog.ts
  packages/api/src/server/devtools.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci(gql schema): prevent undeclared breaking changes
  ci/test/api.gitlab-ci.yml
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

chore(deps): update dependency @sveltejs/kit to ^2.16.1
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency vite-plugin-kit-routes to ^0.7.6
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/tall-ads-double.md
Due: prettier --write --ignore-unknown

ci(gql coherence): remove default arguments using CURRENT_VERSION
  .changeset/tall-ads-double.md
  ci/test/api.gitlab-ci.yml
  packages/api/src/modules/changelogs/resolvers/mutation.acknowledge-changelog.ts
  packages/api/src/modules/changelogs/resolvers/query.combined-changelog.ts
  packages/api/src/server/devtools.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

ci(gql): don't check for undeclared breaking changes on changeset release mr
  ci/test/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: don't build on changeset release uselessly, improve rule for gql breaking changes test
  ci/build/api.gitlab-ci.yml
  ci/build/app.gitlab-ci.yml
  ci/build/db.gitlab-ci.yml
  ci/build/sync.gitlab-ci.yml
  ci/test/api.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/sveltejs-kit-2.x.md
  .changeset/vite-plugin-kit-routes-0.x.md
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/simple-icons to ^1.2.22
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @types/lodash to ^4.17.15
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @types/ws to ^8.5.14
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency concurrently to ^9.1.2
  package.json
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown
