Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(registration): do not allow custom username
  .changeset/four-candles-rest.md
Due: prettier --write --ignore-unknown

docs(dotenv): mention that 10.0.2.2 only works on AVDs, not physical devices. facilitate ngrok usage
  .env.example
  .ngrok.yaml
  package.json
Due: prettier --write --ignore-unknown

chore(app): update logo
  packages/app/static/logo.png
Due: prettier --write --ignore-unknown

feat(native): store token across app restarts
  packages/app/android/app/capacitor.build.gradle
  packages/app/android/capacitor.settings.gradle
  packages/app/package.json
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/login/+page.ts
  packages/app/src/routes/(app)/logout/+page.server.ts
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(capacitor): make oauth login work‼️
  packages/app/android/app/build.gradle
  packages/app/android/app/capacitor.build.gradle
  packages/app/android/app/src/main/AndroidManifest.xml
  packages/app/android/capacitor.settings.gradle
  packages/app/android/variables.gradle
  packages/app/ios/App/App/Info.plist
  packages/app/ios/App/Podfile
  packages/app/package.json
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): set icon & splash screen
  packages/app/package.json
  packages/app/static/logo-dark.svg
  packages/app/static/logo.svg
  yarn.lock
Due: prettier --write --ignore-unknown

chore: regenerate yarn lockfile
  yarn.lock
Due: prettier --write --ignore-unknown

feat(native): notifications fkn work!!! (tested with a real APK)
  .eslintignore
  packages/app/capacitor.config.ts
  packages/app/src/lib/notifications.ts
  packages/app/src/routes/(app)/notifications/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor(loading): move big loadingchurros + gradient text to component
  packages/app/src/lib/components/LoadingScreen.svelte
  packages/app/src/routes/(app)/login/done/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ticketing)!: cleanup User.booking and make it return the User's booking, not the loggedin user's
  .changeset/giant-rice-exercise.md
  .changeset/great-wolves-flow.md
  packages/api/src/modules/ticketing/resolvers/user.booking.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat(ticketing): allow tickets to be accessed via invitation links only
  .changeset/fair-wasps-shave.md
  packages/api/src/modules/ticketing/resolvers/event.update-ticket-constraints.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/api/src/modules/ticketing/resolvers/mutation.use-ticket-invite-code.ts
  packages/api/src/modules/ticketing/resolvers/ticket.invited-users.ts
  packages/api/src/modules/ticketing/resolvers/user.booked-to.ts
  packages/api/src/modules/ticketing/resolvers/user.can-book-ticket.ts
  packages/api/src/modules/ticketing/types/ticket-constraints-input.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/api/src/modules/ticketing/utils/tickets.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/Avatar.svelte
  packages/app/src/lib/components/AvatarUser.svelte
  packages/app/src/lib/components/ButtonInk.svelte
  packages/app/src/lib/components/ButtonShare.svelte
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/components/InputToggle.svelte
  packages/app/src/lib/components/InputToggleWithLabel.svelte
  packages/app/src/lib/components/Submenu.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/i18n.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
  packages/app/src/routes/(app)/events/[id]/+page.gql
  packages/app/src/routes/(app)/events/[id]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/invited/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/invited/+page.svelte
  packages/app/src/routes/(app)/events/[id]/join/[code]/+page.svelte
  packages/app/src/routes/(app)/login/+page.svelte
  packages/db/prisma/migrations/20241113122155_ticket_add_invite_code/migration.sql
  packages/db/prisma/migrations/20241113122554_ticket_add_invited/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing/invites): show total user count & handle infinite scroll
  packages/api/src/modules/ticketing/resolvers/ticket.invited-users.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/invited/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/invited/+page.svelte
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ticketing): fix borked infinite scroll on event bookings management page
  .changeset/chilled-spoons-guess.md
  packages/app/src/lib/components/LoadingScreen.svelte
  packages/app/src/lib/scroll.ts
  packages/app/src/routes/(app)/events/[id]/bookings/+page.gql
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(search): make fullTextSearch actually typesafe
  packages/api/src/lib/search.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(k8s): make housekeeper thresholds easier to configure
  kubernetes/churros/api/cronjob.yaml
Due: prettier --write --ignore-unknown

feat(housekeep): old delete old notifications, make mutation return deleted counts
  kubernetes/churros/api/cronjob.yaml
  packages/api/src/lib/housekeeping.ts
  packages/api/src/modules/global/resolvers/mutation.housekeep.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat(housekeep): validate Mutation.housekeep:token with env var's schema
  packages/api/src/modules/global/resolvers/mutation.housekeep.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(api/scripts): add yarn housekeep to test housekeeper
  packages/api/package.json
Due: prettier --write --ignore-unknown

fix(housekeeper): make default events expiration threshold more reasonable
  kubernetes/churros/api/cronjob.yaml
Due: prettier --write --ignore-unknown

fix(k8s): fix cronjob definition
  kubernetes/churros/api/cronjob.yaml
Due: prettier --write --ignore-unknown

feat(api): add housekeeper
  .changeset/curvy-dancers-juggle.md
  .changeset/selfish-boxes-enjoy.md
  .env.example
  kubernetes/churros/api/cronjob.yaml
  kubernetes/churros/api/kustomization.yaml
  packages/api/package.json
  packages/api/src/env.ts
  packages/api/src/lib/apple-wallet.ts
  packages/api/src/lib/housekeeping.ts
  packages/api/src/lib/index.ts
  packages/api/src/lib/last-seen.ts
  packages/api/src/mail-templates/account-expires-soon.mjml
  packages/api/src/mail-templates/props.ts
  packages/api/src/modules/global/resolvers/index.ts
  packages/api/src/modules/global/resolvers/mutation.housekeep.ts
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/modules/health-checks/utils/checks.ts
  packages/api/src/modules/ticketing/resolvers/mutation.create-apple-wallet-pass.ts
  packages/api/src/server/express.ts
  packages/app/schema.graphql
  packages/db/prisma/migrations/20241112104505_user_add_last_seen_at/migration.sql
  packages/db/prisma/schema.prisma
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(housekeep): also housekeep notifications, gdpr exports and logs
  kubernetes/churros/api/cronjob.yaml
  packages/api/src/lib/housekeeping.ts
  packages/api/src/modules/global/resolvers/mutation.housekeep.ts
  packages/api/src/modules/users/utils/gdpr.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

fix(k8s/housekeep): fix request
  kubernetes/churros/api/cronjob.yaml
Due: prettier --write --ignore-unknown

WIP: add debug logs to figure out whats happening on ios
  packages/app/src/lib/client.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/login/done/+page.svelte
  packages/app/src/routes/+layout.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: json-stringify 606b1460's logs
  packages/app/src/lib/client.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/login/done/+page.svelte
  packages/app/src/routes/+layout.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: ensure logs are json serializable
  packages/app/src/lib/session.ts
Due: eslint --fix, prettier --write --ignore-unknown

WIP: use plain strings in logs because huuuuuuuuuuu yeah
  packages/app/src/lib/client.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
Due: eslint --fix, prettier --write --ignore-unknown

WIP: log token used or <none>
  packages/app/src/lib/client.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): use houdini client plugin to set session token from Preferences
  packages/app/src/lib/client.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: revert (almost all) temp debug logs
  packages/app/src/lib/client.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/login/done/+page.svelte
  packages/app/src/routes/+layout.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): allow searching in bookings list
  .changeset/tall-taxis-peel.md
  packages/api/src/lib/fulltextsearch.sql
  packages/api/src/lib/global-id.ts
  packages/api/src/lib/search.ts
  packages/api/src/modules/ticketing/resolvers/event.search-bookings.ts
  packages/api/src/modules/ticketing/types/registration-search-result.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/BaseInputText.svelte
  packages/app/src/lib/components/BookingBeneficiary.svelte
  packages/app/src/lib/components/LoadingText.svelte
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/events/[id]/bookings/+page.gql
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/ItemBooking.svelte
  packages/db/prisma/migrations/20241114080737_registration_add_fuzzy_search_columns/migration.sql
  packages/db/prisma/migrations/20241114081222_registration_add_internal_beneficiary_to_searchvector/migration.sql
  packages/db/prisma/migrations/20241114081527_/migration.sql
  packages/db/prisma/migrations/20241114082526_registration_make_fuzzysearch_columns_nullable/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): rounded corners were not applied on every line of multiline loading text
  packages/app/src/lib/components/LoadingText.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(docs): don't depend on the user having dot installed to generate modules import graph (closes #1199)
  packages/api/CONTRIBUTING.md
  packages/api/package.json
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
  packages/api/scripts/modules-import-graph.svg
  packages/api/scripts/modules-import-graph.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(gitlab): add fun lil script to list issues assigned to you w/o assigned MRs
  scripts/issues-todo.fish
Due: prettier --write --ignore-unknown

chore(manager invites): fix wording on UseEventManagerInviteResult.alreadyManager
  packages/api/src/modules/events/resolvers/mutation.use-event-manager-invite.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(manager invites): fix typo on deleteEventManagerInvite:kickManagers
  packages/api/src/modules/events/resolvers/mutation.delete-event-manager-invite.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(prisma): remove duplicate migration
  packages/db/prisma/migrations/20241112090225_event_add_show_capacity/migration.sql
Due: prettier --write --ignore-unknown

chore(issue template): don't assume ppl know what a balise is
  .gitlab/issue_templates/Default.md
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
