Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

WIP: demo page for asking ppl about it w/ a screenshot
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/(questinp)/forms/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: private profiles (doesn't work on profile pics, fuck you express)
  packages/api/src/modules/groups/types/group.ts
  packages/api/src/modules/users/types/user.ts
  packages/api/src/modules/users/utils/permissions.ts
  packages/api/src/permissions/index.ts
  packages/api/src/permissions/school.ts
  packages/api/src/permissions/users.ts
  packages/api/src/server/storage.ts
  packages/db/prisma/migrations/20241118230142_user_add_private_profile/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

WIP: yay it works!!!
  packages/api/package.json
  packages/api/src/permissions/users.ts
  packages/api/src/server/auth/token-cookie.ts
  packages/api/src/server/express.ts
  packages/api/src/server/storage.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(security): put document filepaths behind an authwall
  packages/api/src/permissions/documents.ts
  packages/api/src/permissions/index.ts
  packages/api/src/server/storage.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(ticketing): fix borked infinite scroll on event bookings management page
  .changeset/chilled-spoons-guess.md
  packages/app/src/lib/components/LoadingScreen.svelte
  packages/app/src/lib/scroll.ts
  packages/app/src/routes/(app)/events/[id]/bookings/+page.gql
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/login/done/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(posts): make delete button actually do something (closes #1025)
  .changeset/bright-hairs-pay.md
  .changeset/fifty-cars-judge.md
  .changeset/odd-horses-fold.md
  packages/api/src/modules/posts/resolvers/mutation.delete-article.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/FormArticle.houdini.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/posts/[[group]]/create/+page.gql
  packages/app/src/routes/(app)/posts/[[group]]/create/+page.svelte
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  packages/app/src/routes/(app)/posts/[id]/ModalDelete.svelte
  packages/app/src/routes/(app)/posts/[id]/edit/visibility/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(signup): force opening major picker before anything else (closes #1190)
  .changeset/quick-buses-kneel.md
  .changeset/quiet-pans-train.md
  packages/app/src/lib/components/InputMajor.svelte
  packages/app/src/lib/components/PickThings.svelte
  packages/app/src/routes/signup/FormSignup.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(bookmarks): improve help message when no bookmarks defined, make bookmarked services actually clickable
  .changeset/breezy-fans-rule.md
  .changeset/ninety-eggs-flash.md
  .changeset/swift-seals-bow.md
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/users/types/bookmark.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/QuickAccessList.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: drop github workflow as it's broken
  .github/workflows/build.yml
Due: prettier --write --ignore-unknown

feat(ticketing): improve privacy of places left and ticket capacity numbers
  .changeset/eleven-donkeys-end.md
  .changeset/happy-dragons-yell.md
  .changeset/mighty-suits-burn.md
  .changeset/short-goats-cover.md
  .changeset/strong-pumpkins-hammer.md
  packages/api/src/lib/builder.ts
  packages/api/src/modules/events/resolvers/event.inherited-managers.ts
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/events/types/capacity.ts
  packages/api/src/modules/events/types/event-manager-maybe-inherited.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/events/types/inherited-event-manager.ts
  packages/api/src/modules/ticketing/resolvers/event.places-left.ts
  packages/api/src/modules/ticketing/resolvers/ticket.places-left.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/lib/components/CardFeedEvent.svelte
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/components/GroupMember.svelte
  packages/app/src/lib/components/InputSelectOneDropdown.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/components/TextTicketSummary.svelte
  packages/app/src/lib/display.ts
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemManager.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
  packages/db/prisma/migrations/20241112090225_event_add_show_capacity/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(docs): fix uncategorized items
  packages/api/.graphinx.yaml
  packages/api/docs/logo-masked-dark.png
  packages/api/src/modules/events/types/event-search-result.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket-constraints.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(group members): clarify what the date ranges are in listing page & fix member creation date change
  .changeset/cold-brooms-pump.md
  .changeset/wise-numbers-drive.md
  packages/api/src/modules/groups/resolvers/mutation.update-group-member.ts
  packages/app/src/routes/(app)/groups/[uid]/members/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(app): remove outdated route entry from $lib/navigation.ts
  packages/app/src/lib/navigation.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(app): don't pass a MaybeLoading to ItemBooking:highlightCode
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app/overflow menus): show red dot badge on overflow menu open button when an action inside has it
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/components/OverflowMenu.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(backrooms): prevent layout shift of menu items after loading
  packages/app/src/routes/(app)/backrooms/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(app): cast to MaybeLoading<T> on /events/:id/bookings's bookings variable def
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(format): fix formatting on id-prefix-to-typenames map
  packages/api/src/lib/global-id.ts
  packages/app/src/lib/typenames.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changelog): update public-facing changelog
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/breezy-fans-rule.md
  .changeset/bright-hairs-pay.md
  .changeset/bright-rocks-matter.md
  .changeset/chilled-spoons-guess.md
  .changeset/cold-brooms-pump.md
  .changeset/eleven-donkeys-end.md
  .changeset/fifty-bees-count.md
  .changeset/fifty-cars-judge.md
  .changeset/flat-lamps-stare.md
  .changeset/fuzzy-mirrors-listen.md
  .changeset/happy-dragons-yell.md
  .changeset/mighty-suits-burn.md
  .changeset/ninety-eggs-flash.md
  .changeset/odd-horses-fold.md
  .changeset/quick-buses-kneel.md
  .changeset/quiet-pans-train.md
  .changeset/short-goats-cover.md
  .changeset/strong-pumpkins-hammer.md
  .changeset/swift-seals-bow.md
  .changeset/tame-kids-impress.md
  .changeset/wet-eggs-begin.md
  .changeset/wise-numbers-drive.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(bookmarks): make services in quick access list actually actually clickable
  .changeset/little-games-greet.md
  packages/app/src/lib/components/QuickAccessList.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/little-games-greet.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(scripts): fix build:android
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(deps): upgrade deps
  .changeset/perfect-rats-train.md
  package.json
  packages/api/package.json
  packages/api/src/lib/builder.ts
  packages/app/package.json
  packages/app/src/design/app.scss
  packages/app/src/lib/components/ModalReportIssue.svelte
  packages/app/src/service-worker.ts
  packages/arborist/package.json
  packages/db/package.json
  packages/mock-n7-ldap/package.json
  packages/sync/package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(app): don't import from @churros/api in service worker
  packages/app/src/service-worker.ts
Due: eslint --fix, prettier --write --ignore-unknown

WIP: first try at a k8s kustomization
  kubernetes/churros/notella/deployment.yaml
  kubernetes/churros/notella/kustomization.yaml
  kubernetes/nats/kustomization.yaml
  kubernetes/nats/nats.conf
  kubernetes/nats/service.yaml
  kubernetes/nats/statefulset.yaml
Due: prettier --write --ignore-unknown

chore(gitlab): add a merge request template
  default.md
Due: prettier --write --ignore-unknown

chore(prisma): update runtime library patch
  packages/db/patches/runtime_library.patch
Due: prettier --write --ignore-unknown

feat(native): add share support
  packages/app/package.json
  packages/app/src/lib/components/ButtonShare.svelte
  packages/app/src/lib/share.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(prisma): remove runtime library patch!
  packages/api/scripts/add-search-support.ts
  packages/db/package.json
  packages/db/patches/runtime_library.patch
Due: eslint --fix, prettier --write --ignore-unknown

chore(typescript): remove now useless @ts-expect-error
  packages/api/src/lib/google.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(family): migrate from zeus to houdini on search input query (see #1177)
  packages/app/src/lib/components/InputPerson.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Apply 1 suggestion(s) to 1 file(s)
  default.md
Due: prettier --write --ignore-unknown

feat(users): add pronouns
  .changeset/thirty-kangaroos-yawn.md
  packages/api/src/modules/users/resolvers/mutation.update-user-profile.ts
  packages/api/src/modules/users/types/user-profile-input.ts
  packages/api/src/modules/users/types/user.ts
  packages/api/src/modules/users/utils/names.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/+layout.gql
  packages/app/src/routes/(app)/users/[uid]/edit/+layout.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/mutations.ts
  packages/db/prisma/migrations/20241112064746_user_add_pronouns/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

docs(themes): document $lib/themes functions
  packages/app/src/lib/theme.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(themes): weird behavior on theme cards list when saving theme value when in /settings/theme
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
  packages/app/src/routes/(app)/settings/theme/+page.gql
  packages/app/src/routes/(app)/settings/theme/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(themes): image-type theme variables where not visibily updated before reloading
  packages/app/src/app.d.ts
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(themes): missing variables in RootLayout query
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: merge main
  .changeset/thirty-kangaroos-yawn.md
  .gitignore
  .vscode/settings.json
  packages/api/src/modules/users/resolvers/mutation.update-user-profile.ts
  packages/api/src/modules/users/types/user-profile-input.ts
  packages/api/src/modules/users/types/user.ts
  packages/api/src/modules/users/utils/names.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/InputPerson.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/+layout.gql
  packages/app/src/routes/(app)/users/[uid]/edit/+layout.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/mutations.ts
  packages/app/src/routes/(app)/users/[uid]/edit/other-emails/+page.svelte
  packages/db/prisma/migrations/20241112064746_user_add_pronouns/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove vscode settings changes
  .vscode/settings.json
Due: prettier --write --ignore-unknown
