Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): update changeset
  .changeset/five-grapes-smoke.md
  .changeset/lucky-planets-type.md
Due: prettier --write --ignore-unknown

fix(schools): pass rest props to Avatar from AvatarSchool
  packages/app/src/lib/components/AvatarSchool.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): fix posts UI rework changeset
  .changeset/giant-bugs-chew.md
Due: prettier --write --ignore-unknown

chore(deps): upgrade dependencies
  package.json
  packages/api/.graphinx.yaml
  packages/api/package.json
  packages/api/src/modules/forms/resolvers/form.answers-by-user.ts
  packages/app/package.json
  packages/app/src/lib/buildinfo.ts
  packages/app/src/lib/components/InputPickObjects.svelte
  packages/app/src/lib/scroll.ts
  packages/app/src/lib/subscriptions.ts
  packages/app/svelte.config.js
  packages/app/vite.config.js
  packages/arborist/package.json
  packages/arborist/tsconfig.json
  packages/db/package.json
  packages/mock-n7-ldap/package.json
  packages/oauth-client/package.json
  packages/oauth-client/tsconfig.json
  packages/sync/package.json
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): upgrade some more deps, add script to run npm-upgrade on all packages
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/arborist/package.json
  packages/db/package.json
  packages/mock-n7-ldap/package.json
  packages/sync/package.json
Due: prettier --write --ignore-unknown

chore(deps): update yarn, don't update @types/express to v5, update more deps
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  packages/api/package.json
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(changeset): add changeset
  .changeset/hip-islands-begin.md
Due: prettier --write --ignore-unknown

chore(deps): regenerate yarn.lock
  yarn.lock
Due: prettier --write --ignore-unknown

fix(schools): pass school= and not studentAssociation= to AvatarSchool in PickSchools
  packages/app/src/lib/components/PickSchool.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): fix CardEvent
  packages/app/src/lib/components/CardEvent.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Add renovate.json
  renovate.json
Due: prettier --write --ignore-unknown

feat: mixed search
  .changeset/many-kids-smell.md
  packages/api/barrelsby.config.json
  packages/api/src/modules/documents/resolvers/query.search-documents.ts
  packages/api/src/modules/events/resolvers/query.search-events.ts
  packages/api/src/modules/events/types/even-search-result.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/global/resolvers/index.ts
  packages/api/src/modules/global/resolvers/query.search.ts
  packages/api/src/modules/global/types/index.ts
  packages/api/src/modules/global/types/mixed-search-result.ts
  packages/api/src/modules/posts/resolvers/query.search-articles.ts
  packages/api/src/modules/posts/types/article-search-result.ts
  packages/api/src/modules/posts/types/index.ts
  packages/api/src/modules/search/README.md
  packages/api/src/modules/search/index.ts
  packages/api/src/modules/search/resolvers/index.ts
  packages/api/src/modules/search/resolvers/query.search.ts
  packages/api/src/modules/search/types/index.ts
  packages/api/src/modules/search/types/search-result.ts
  packages/api/src/modules/search/types/searchable-resources.ts
  packages/api/src/schema.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardArticle.houdini.svelte
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/routes/(app)/search/[[q]]/+page.gql
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/dull-cycles-flash.md
  .changeset/giant-bugs-chew.md
  .changeset/many-kids-smell.md
  .changeset/spotty-countries-perform.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

WIP: robots.txt
  packages/api/src/server/storage.ts
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/robots.txt/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): upgrade dependencies
  .changeset/hip-islands-begin.md
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  packages/api/.graphinx.yaml
  packages/api/package.json
  packages/api/src/modules/forms/resolvers/form.answers-by-user.ts
  packages/app/package.json
  packages/app/src/lib/buildinfo.ts
  packages/app/src/lib/components/InputPickObjects.svelte
  packages/app/src/lib/scroll.ts
  packages/app/src/lib/subscriptions.ts
  packages/app/svelte.config.js
  packages/app/vite.config.js
  packages/arborist/package.json
  packages/arborist/tsconfig.json
  packages/db/package.json
  packages/mock-n7-ldap/package.json
  packages/oauth-client/package.json
  packages/oauth-client/tsconfig.json
  packages/sync/package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/hip-islands-begin.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/arborist/CHANGELOG.md
  packages/arborist/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/oauth-client/CHANGELOG.md
  packages/oauth-client/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

docs(env): add PUBLIC_API_ORIGIN_*
  .env.example
  packages/api/src/global.d.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(capacitor): remove serverside code for bookings and login, make local login work!
  packages/api/src/modules/ticketing/resolvers/mutation.check-if-booking-is-paid.ts
  packages/app/android/app/src/main/java/app/churros/MainActivity.java
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/client.ts
  packages/app/src/lib/env.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.server.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/login/+page.server.ts
  packages/app/src/routes/(app)/login/+page.svelte
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(capacitor): make oauth login work‼️
  .env.example
  packages/api/src/server/auth/oauth2.ts
  packages/app/android/app/build.gradle
  packages/app/android/app/capacitor.build.gradle
  packages/app/android/app/src/main/AndroidManifest.xml
  packages/app/android/capacitor.settings.gradle
  packages/app/android/variables.gradle
  packages/app/ios/App/App/Info.plist
  packages/app/ios/App/Podfile
  packages/app/package.json
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(android): make back gesture/button go back in history
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): store token across app restarts
  packages/app/android/app/capacitor.build.gradle
  packages/app/android/capacitor.settings.gradle
  packages/app/package.json
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/login/+page.ts
  packages/app/src/routes/(app)/logout/+page.server.ts
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/four-candles-rest.md
Due: prettier --write --ignore-unknown

feat(native): make logout work
  packages/app/src/routes/(app)/logout/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(capacitor): make oauth login work‼️
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(registration): do not allow custom username
  .changeset/four-candles-rest.md
Due: prettier --write --ignore-unknown

feat(native): make /logout work
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/logout/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: regenerate yarn lockfile
  yarn.lock
Due: prettier --write --ignore-unknown

chore(ci): use prebuilt image + only update lockfile
  ci/changesets.gitlab-ci.yml
  package.json
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/four-candles-rest.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

fix: diplay correct root actions when not connected
  .changeset/angry-peas-try.md
  packages/app/src/lib/navigation.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): drop oauth generated module
  packages/api/src/modules/oauth/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: add .env in contribuing
  CONTRIBUTING.md
Due: prettier --write --ignore-unknown

fix(registration): do not allow custom username
  .changeset/four-candles-rest.md
  packages/api/src/modules/users/resolvers/mutation.start-signup.ts
  packages/app/schema.graphql
  packages/app/src/routes/check-uid/[uid]/+server.ts
  packages/app/src/routes/signup/FormSignup.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ci): rename docs job
  ci/docker.gitlab-ci.yml
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/pink-bananas-rush.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
Due: prettier --write --ignore-unknown

chore(docs): fix intro markdown markup
  packages/api/.graphinx.yaml
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
