Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore(devx): don't set a default USER_DELETED_WEBHOOK in .env.example
  .env.example
Due: prettier --write --ignore-unknown

feat(user deletion): lift webhook errors to users, log things
  packages/api/src/modules/users/resolvers/mutation.delete-user.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(logout): make local logout actually work, even when account was deleted (and so token is invalid)
  packages/app/src/routes/(app)/logout/+page.server.ts
  packages/app/src/routes/(app)/logout/+page.svelte
  packages/app/src/routes/+layout.server.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(user deletion): improve delete-account page
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/delete-account/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(toasts): toast using callbacks or labels triggered Svelte warnings about unknown props in console
  .changeset/serious-gorillas-smash.md
  packages/app/src/lib/components/Toast.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build: fix build
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(app)/delete-account/+page.svelte
  packages/app/vite.config.js
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): upgrade vite-plugin-kit-routes instead of patching it
  .yarn/patches/vite-plugin-kit-routes-npm-0.6.11-4c63c495df.patch
  packages/app/package.json
  packages/app/vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(yarn): dedupe lockfile
  yarn.lock
Due: prettier --write --ignore-unknown

refactor(navtop): export function to update top nav's title
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/i18n.ts
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/scan/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP dodo
  packages/api/src/modules/announcements/resolvers/mutation.delete-announcement.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/FormAnnouncement.svelte
  packages/app/src/lib/components/InputDateTimeRange.svelte
  packages/app/src/lib/components/ModalConfirmDelete.svelte
  packages/app/src/lib/components/ModalMarkdownHelp.svelte
  packages/app/src/lib/components/ModalOrDrawer.svelte
  packages/app/src/lib/mutations.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/announcements/+page.svelte
  packages/app/src/routes/(app)/announcements/FormAnnouncement.svelte
  packages/app/src/routes/(app)/announcements/[id]/edit/+page.gql
  packages/app/src/routes/(app)/announcements/[id]/edit/+page.svelte
  packages/app/src/routes/(app)/announcements/create/+page.svelte
  packages/app/src/routes/(app)/announcements/page.bak.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): prevent ticket price being set to non-zero if there are no payment methods defined
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add readonly to InputText
  packages/app/src/lib/components/InputText.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): prevent ticket price modification (unless if it is to set it to 0) in front if there are no payment methods
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(announcements): use split layout view for announcements management
  packages/app/src/routes/(app)/announcements/+layout.gql
  packages/app/src/routes/(app)/announcements/+layout.svelte
  packages/app/src/routes/(app)/announcements/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(settings): add button to clear $hiddenAnnouncements
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(announcements): improve announcements layouting on desktop
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/Announcements.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): prevent removing payment method if price is not 0
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: lint & format
  packages/app/src/lib/components/InputDateTimeRange.svelte
  packages/app/src/lib/components/ModalMarkdownHelp.svelte
  packages/app/src/routes/(app)/announcements/FormAnnouncement.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changeset): add changeset
  .changeset/tall-tools-doubt.md
Due: prettier --write --ignore-unknown

refactor: migrate InputSchools to PickSchool
  packages/app/src/lib/components/FormPicture.tsunsafe.ts
  packages/app/src/lib/components/InputSchools.svelte
  packages/app/src/lib/components/PickSchool.svelte
  packages/app/src/routes/(app)/quick-signups/create/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(db): re-add missing dev dep for seeding script
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

build: fix build
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/Announcements.svelte
  packages/app/src/routes/(app)/announcements/FormAnnouncement.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changeset): add changeset
  .changeset/poor-mice-push.md
  .changeset/stupid-files-bake.md
Due: prettier --write --ignore-unknown

refactor(houdini): move /health to houdini
  .changeset/blue-ligers-juggle.md
  packages/app/src/routes/(external)/health/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(kiosk)!: remove kioskReload mechanism
  .changeset/few-jars-visit.md
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/resolvers/mutation.kiosk-reload.ts
  packages/api/src/modules/events/resolvers/subscription.kiosk-reload.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

refactor(kiosk): move /kiosk to Houdini, remove kioskReload subscription support
  .changeset/stale-jobs-shake.md
  packages/app/src/app.d.ts
  packages/app/src/lib/client.ts
  packages/app/src/routes/(external)/kiosk/+page.svelte
  packages/app/src/routes/(external)/kiosk/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): allow setting 4th yeartier on graduation year constraint (closes #1194)
  .changeset/real-bears-matter.md
  packages/app/src/lib/components/Submenu.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(gitlab): add a merge request template
  default.md
Due: prettier --write --ignore-unknown

feat(users): make gdpr data download button work (closes #1222)
  .changeset/bright-poems-wink.md
  packages/api/src/mail-templates/gdpr-export-ready.mjml
  packages/api/src/mail-templates/props.ts
  packages/api/src/modules/global/types/errors.ts
  packages/api/src/modules/users/resolvers/index.ts
  packages/api/src/modules/users/resolvers/mutation.create-gdpr-export.ts
  packages/api/src/modules/users/resolvers/user.gdpr-export.ts
  packages/api/src/modules/users/utils/gdpr.ts
  packages/api/src/modules/users/utils/index.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Apply 1 suggestion(s) to 1 file(s)
  renovate.json
Due: prettier --write --ignore-unknown

chore: update lib/ROUTES.ts
  packages/app/src/lib/ROUTES.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(yarn): update lockfile
  yarn.lock
Due: prettier --write --ignore-unknown

chore(devx): gitignore lib/ROUTES.ts
  packages/app/.gitignore
  packages/app/src/lib/ROUTES.ts
Due: eslint --fix, prettier --write --ignore-unknown

Revert "chore(devx): gitignore lib/ROUTES.ts"
  packages/app/.gitignore
  packages/app/src/lib/ROUTES.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(app): upgrade vite-plugin-kit-routes, dedupe lockfile after main merge
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(renovate): switch graphinx manifest version managers' datasource to git-tags
  renovate.json
Due: prettier --write --ignore-unknown

fix(renovate): don't use currentDigest capture group, use currentValue instead
  renovate.json
Due: prettier --write --ignore-unknown

chore: Configure Renovate
  renovate.json
Due: prettier --write --ignore-unknown

chore(deps): update dependency @changesets/cli to v2.27.10
  yarn.lock
Due: prettier --write --ignore-unknown
