Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(settings): add debug mode toggle
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): buttonsecondary links vs buttons don't have the same height (closes #1050)
  packages/app/src/lib/components/ButtonSecondary.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(profile): missing spacing an alignment on user schools (closes #1040)
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(profile): never show full url on social PillLinks
  packages/app/src/lib/components/PillLink.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): fix missing horizontal padding on / (closes #1038)
  packages/app/src/routes/(app)/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): implement creating groups
  packages/app/src/lib/components/ModalCreateGroup.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(posts): handle event-linked posts more clearly until we have a proper event picker
  feedback.issurge
  packages/api/src/modules/groups/utils/permissions.ts
  packages/api/src/modules/posts/resolvers/index.ts
  packages/api/src/modules/posts/resolvers/mutation.create-post.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article.ts
  packages/api/src/modules/posts/utils/index.ts
  packages/api/src/modules/posts/utils/uid.ts
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/components/FormArticle.houdini.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/+page.svelte
  packages/app/src/routes/(app)/events/[id]/+layout.gql
  packages/app/src/routes/(app)/events/[id]/+layout.svelte
  packages/app/src/routes/(app)/posts/[id]/edit/+page.svelte
  packages/db/prisma/migrations/20240829132110_articles_drop_slug_unicity_constraint/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): close button on modalchangelog does not work (closes #1060)
  packages/app/src/lib/components/ModalChangelog.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(services): don't show error when a service has no owner (closes #1059)
  packages/api/src/modules/services/resolvers/query.services.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(search): search does not show results until 2nd or 3rd time hitting enter (closes #1057)
  feedback.issurge
  packages/api/src/modules/groups/resolvers/query.search-groups.ts
  packages/api/src/modules/users/resolvers/query.search-users.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/search/[[q]]/+page.gql
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
  packages/app/src/routes/(app)/search/[[q]]/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): weird spacing above top navbar
  packages/app/src/lib/components/ModalCreateGroup.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(homepage): spacing was added between parts of bookmarks list on mobile
  packages/app/src/lib/components/QuickAccessList.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): disable ssr for now: not shown as loggedin on first page load...
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(search): maybe fix search not working
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(search): make it dégueu but fonctionnel
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): show spinner until page is hydrated
  packages/app/src/app.html
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(events): add author as manager when creating event
  packages/api/src/modules/events/resolvers/mutation.create-event.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(app): improve /birthdays, maybe make it work too
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/birthdays/+page.gql
  packages/app/src/routes/(app)/birthdays/+page.svelte
  packages/app/src/routes/(app)/birthdays/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(events): cannot access event that can be edited
  packages/api/src/modules/events/resolvers/query.event.ts
  packages/api/src/modules/events/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(db): finalize prisma docker
  Dockerfile
  packages/db/entrypoint.sh
Due: prettier --write --ignore-unknown

feat(k8s): add existing deployment
  kubernetes/deployment.yaml
  kubernetes/image-policy.yaml
  kubernetes/ingress.yaml
  kubernetes/namespace.yaml
  kubernetes/postgresql.yaml
  kubernetes/redis.yaml
  kubernetes/services.yaml
  kubernetes/sync.yaml
  kubernetes/volumes.yaml
Due: prettier --write --ignore-unknown

feat(k8s): create churros kustomization
  kubernetes/churros/api/deployment.yaml
  kubernetes/churros/api/kustomization.yaml
  kubernetes/churros/api/services.yaml
  kubernetes/churros/app/deployment.yaml
  kubernetes/churros/app/kustomization.yaml
  kubernetes/churros/app/service.yaml
  kubernetes/churros/kustomization.yaml
  kubernetes/churros/sync/cronjob.yaml
  kubernetes/churros/sync/kustomization.yaml
  kubernetes/deployment.yaml
  kubernetes/image-policy.yaml
  kubernetes/ingress.yaml
  kubernetes/kustomization.yaml
  kubernetes/namespace.yaml
  kubernetes/postgresql.yaml
  kubernetes/postgresql/cluster.yaml
  kubernetes/postgresql/kustomization.yaml
  kubernetes/redis.yaml
  kubernetes/redis/deployment.yaml
  kubernetes/redis/kustomization.yaml
  kubernetes/redis/service.yaml
  kubernetes/services.yaml
  kubernetes/volumes.yaml
Due: prettier --write --ignore-unknown

fix(k8s): format yaml
  kubernetes/churros/api/deployment.yaml
  kubernetes/churros/api/kustomization.yaml
  kubernetes/churros/api/services.yaml
  kubernetes/churros/app/deployment.yaml
  kubernetes/churros/app/kustomization.yaml
  kubernetes/churros/app/service.yaml
  kubernetes/churros/kustomization.yaml
  kubernetes/churros/sync/cronjob.yaml
  kubernetes/churros/sync/kustomization.yaml
  kubernetes/kustomization.yaml
  kubernetes/postgresql/kustomization.yaml
  kubernetes/redis/deployment.yaml
  kubernetes/redis/kustomization.yaml
  kubernetes/redis/service.yaml
Due: prettier --write --ignore-unknown

fix(k8s): correct images name + drop migration in api entrypoint
  kubernetes/churros/api/deployment.yaml
  kubernetes/churros/app/deployment.yaml
  kubernetes/churros/sync/cronjob.yaml
  packages/api/entrypoint.sh
Due: prettier --write --ignore-unknown

feat(k8s): add default namespace
  kubernetes/kustomization.yaml
  kubernetes/namespace.yaml
Due: prettier --write --ignore-unknown

fix(k8s): fix podAntiAffinity
  kubernetes/churros/api/deployment.yaml
  kubernetes/churros/app/deployment.yaml
  kubernetes/redis/deployment.yaml
Due: prettier --write --ignore-unknown

fix(k8s): rename cluster
  kubernetes/postgresql/cluster.yaml
Due: prettier --write --ignore-unknown

fix: planning shows one month instead of one week (and weekly view still work as intended)
  packages/app/src/routes/(app)/events/[[week=date]]/+page.gql
  packages/app/src/routes/(app)/events/[[week=date]]/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(ci): support for changeset
  Dockerfile
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(ci): fix buildkit
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(ci): add success message after docker build
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(k8s): rename postgres secret
  kubernetes/churros/api/deployment.yaml
  kubernetes/churros/sync/cronjob.yaml
Due: prettier --write --ignore-unknown

fix(k8s): correct redis service
  kubernetes/redis/service.yaml
Due: prettier --write --ignore-unknown

fix(k8s): add ingress in repo
  kubernetes/churros/ingress.yaml
  kubernetes/churros/kustomization.yaml
Due: prettier --write --ignore-unknown

chore(changeset): split ui-v2 changeset
  .changeset/chatty-houses-design.md
  .changeset/fuzzy-tables-flash.md
  .changeset/tough-llamas-arrive.md
Due: prettier --write --ignore-unknown

fix(ci): wait prisma to finish before starting jobs that use this package
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changelog): v2.0.0
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/chatty-houses-design.md
  .changeset/curvy-dots-play.md
  .changeset/fuzzy-tables-flash.md
  .changeset/lucky-roses-dream.md
  .changeset/purple-kiwis-wash.md
  .changeset/shiny-lemons-boil.md
  .changeset/tough-llamas-arrive.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changeset): add changeset
  .changeset/ninety-news-shop.md
Due: prettier --write --ignore-unknown

fix(app): remove non-functionning old event URL redirection
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(app)/events/[id]/[slug]/[...path]/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
