Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

fix(groups): maybe fix unexpected error on resolution of group.members in canEditGroup
  packages/api/src/modules/groups/types/group.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(profile/edit): l'image est déformée (closes #1066)
  .changeset/silver-pears-mate.md
  packages/app/src/lib/components/FormPicture.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(k8s): add configmap to churros
  kubernetes/churros/sync/cronjob.yaml
Due: prettier --write --ignore-unknown

fix(k8s): add churros-secrets in churros-sync
  kubernetes/churros/sync/cronjob.yaml
Due: prettier --write --ignore-unknown

fix(registration): upsert user in ldap
  .changeset/clever-fans-cough.md
  packages/api/src/modules/users/resolvers/mutation.complete-signup.ts
  packages/api/src/modules/users/resolvers/mutation.start-signup.ts
  packages/api/src/modules/users/utils/registration.ts
  packages/db/prisma/migrations/20240902200743_hash_usercandidate_password/migration.sql
  packages/db/prisma/schema.prisma
  scripts/generate-buildinfo.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(registration): omit userCandidate password in logs
  packages/api/src/modules/users/resolvers/mutation.complete-signup.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: field password is now churrosPassword on userCandidate
  packages/api/src/modules/users/resolvers/mutation.login.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(uid): prevent case-only uniques in UIDs
  packages/api/src/lib/uid.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(uid): lowercase all UIDs on input
  packages/api/src/modules/global/types/uid.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): update changeset
  .changeset/mighty-seahorses-doubt.md
Due: prettier --write --ignore-unknown

Apply 4 suggestion(s) to 2 file(s)
  packages/api/src/modules/users/resolvers/mutation.complete-signup.ts
  packages/api/src/modules/users/utils/registration.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: typo
  packages/api/src/modules/users/utils/registration.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): update changeset
  .changeset/clever-fans-cough.md
Due: prettier --write --ignore-unknown

fix(profile picture): respond with 404 when pictureURL is unset
  packages/app/src/routes/(app)/[uid=uid].png/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): update changeset
  .changeset/fresh-numbers-pump.md
Due: prettier --write --ignore-unknown

fix(signups): upsert user in ldap
  .changeset/clever-fans-cough.md
  packages/api/src/modules/users/resolvers/mutation.complete-signup.ts
  packages/api/src/modules/users/resolvers/mutation.login.ts
  packages/api/src/modules/users/resolvers/mutation.start-signup.ts
  packages/api/src/modules/users/utils/registration.ts
  packages/db/prisma/migrations/20240902200743_hash_usercandidate_password/migration.sql
  packages/db/prisma/schema.prisma
  scripts/generate-buildinfo.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/clever-fans-cough.md
  .changeset/fresh-numbers-pump.md
  .changeset/mighty-seahorses-doubt.md
  .changeset/nice-items-marry.md
  .changeset/silver-pears-mate.md
  .changeset/witty-cobras-act.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(ticketing): add external payment method
  .changeset/five-llamas-reply.md
  packages/api/src/modules/payments/types/payment-method.ts
  packages/app/schema.graphql
  packages/app/src/lib/display.ts
  packages/db/prisma/migrations/20240903113223_payment_methods_add_external/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

feat(bookings): show booking links at the end of the payment journey
  .changeset/odd-wasps-carry.md
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(contributions): allow marking contributions as paid when we are admin of at least one of the AEs, not all of them
  .changeset/dirty-rings-yawn.md
  packages/api/src/modules/student-associations/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(booking): fix wording on modal title of links step
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(handover): fix app crash when no president or treasurer
  .changeset/dry-lamps-breathe.md
  packages/api/src/server/handover-pdf.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/dirty-rings-yawn.md
  .changeset/dry-lamps-breathe.md
  .changeset/five-llamas-reply.md
  .changeset/odd-wasps-carry.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(uid.png): use 302 redirect instead of 301
  packages/app/src/routes/(app)/[uid=uid].png/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(handover.pdf): use 302 redirect instead of 301
  packages/app/src/routes/(app)/groups/[uid]/handover.pdf/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(profiles): show join button even when canEditDetails
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(user profiles): improve birthday input label wording
  packages/app/src/routes/(app)/users/[uid]/edit/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(group): cannot self-join groups (closes #1102)
  .changeset/gentle-items-decide.md
  packages/api/src/modules/groups/resolvers/mutation.self-join-group.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(groups): add Group.membership
  .changeset/cuddly-dryers-study.md
  packages/api/src/modules/groups/types/group.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat(ticketing): add price to csv exports in bookings (closes #1081)
  .changeset/slow-guests-stare.md
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(db): split price to min/max price
  .changeset/nice-olives-rush.md
  packages/db/prisma/migrations/20240904193844_/migration.sql
  packages/db/prisma/migrations/20240904194212_/migration.sql
  packages/db/prisma/migrations/20240904194247_ticket_remove_temp_default/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

fix(event): link to other tickets was black on imaged events in light mode
  .changeset/mighty-bats-film.md
  packages/app/src/lib/components/CardEvent.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: add permissions to delete links related to users
  .changeset/dry-suns-begin.md
  packages/api/src/modules/links/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: regenerate graphql schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

chore(changeset): transition from minor to patch in changeset
  .changeset/dry-suns-begin.md
Due: prettier --write --ignore-unknown

feat(ticketing): implement variable prices UI and API
  packages/api/src/lib/utils.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/payments/utils/lydia/pay.ts
  packages/api/src/modules/payments/utils/paypal/pay.ts
  packages/api/src/modules/payments/utils/promotions.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-counts.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/mutation.book-event.ts
  packages/api/src/modules/ticketing/resolvers/mutation.create-ticket.ts
  packages/api/src/modules/ticketing/resolvers/mutation.pay-booking.ts
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket.ts
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/api/src/modules/ticketing/types/registration.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/api/src/modules/ticketing/utils/tickets.ts
  packages/api/src/server/booking-pdf.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/components/InputScale.svelte
  packages/app/src/lib/components/PickMajor.svelte
  packages/app/src/lib/display.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.gql
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
  packages/app/src/routes/(app)/events/[id]/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/mutations.ts
  packages/db/prisma/migrations/20240904193844_/migration.sql
  packages/db/prisma/migrations/20240904194212_/migration.sql
  packages/db/prisma/migrations/20240905161312_/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(frappe): make all graphql requests @blocking
  packages/app/src/routes/(app)/documents/+page.gql
  packages/app/src/routes/(app)/documents/[major]/+page.ts
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/+page.ts
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/+page.ts
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/[document]/+page.ts
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/[document]/edit/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown
