Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(prisma): rebase migrations for current branch
  packages/db/prisma/migrations/20241112090225_event_add_show_capacity/migration.sql
Due: prettier --write --ignore-unknown

feat(ticketing): allow hiding ticket capacities
  .changeset/eleven-donkeys-end.md
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
  packages/db/prisma/migrations/20241106203412_event_add_show_capacity/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(event managers): show inherited event managers from group memberships on event managers page
  .changeset/mighty-suits-burn.md
  packages/api/src/modules/events/resolvers/event.inherited-managers.ts
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/types/event-manager-maybe-inherited.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/events/types/inherited-event-manager.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/lib/components/GroupMember.svelte
  packages/app/src/lib/components/InputSelectOneDropdown.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemManager.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(tickets): clarify when displayed places count is due to having additional permissions
  .changeset/short-goats-cover.md
  packages/app/src/lib/components/CardTicket.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing)!: use the Capacity scalar properly
  .changeset/happy-dragons-yell.md
  packages/api/src/lib/builder.ts
  packages/api/src/modules/events/types/capacity.ts
  packages/api/src/modules/ticketing/resolvers/event.places-left.ts
  packages/api/src/modules/ticketing/resolvers/ticket.places-left.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/components/TextTicketSummary.svelte
  packages/app/src/lib/display.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor(app): remove unused Component & data request in CardEvent
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/lib/components/CardFeedEvent.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app/ticketing): improve help modals
  packages/app/src/lib/components/CardTicket.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): only allow Edit-level managers to bypass place count visibility
  .changeset/strong-pumpkins-hammer.md
  packages/api/src/modules/ticketing/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(api): extract number|typeof CapacityUnlimitedValue to type alias and use it where necessary
  packages/api/src/lib/builder.ts
  packages/api/src/modules/ticketing/resolvers/event.places-left.ts
  packages/api/src/modules/ticketing/resolvers/ticket.places-left.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: revert git submodule handling
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(volta): clone notella submodule
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: fix ci
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(notifications): set message id in queueNotification, not at its callsites
  packages/api/src/modules/notifications/utils/notella.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article-v2.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(notifications): add notella support (wip)
  .gitmodules
  packages/api/package.json
  packages/api/scripts/generate-barrelsby-config.ts
  packages/api/src/modules/notifications/index.ts
  packages/api/src/modules/notifications/utils/index.ts
  packages/api/src/modules/notifications/utils/notella.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

WIP: continue
  packages/api/barrelsby.config.json
  packages/api/scripts/generate-barrelsby-config.ts
  packages/api/src/modules/global/index.ts
  packages/api/src/modules/global/types/pictured.ts
  packages/api/src/modules/global/utils/index.ts
  packages/api/src/modules/global/utils/pictures.ts
  packages/api/src/modules/notifications/index.ts
  packages/api/src/modules/notifications/utils/notella.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article-v2.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: don't use a submodule, use @inp-net/notella instead
  packages/api/package.json
  packages/api/src/modules/notifications/utils/notella.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(notifications): completely switch to notella
  .env.example
  packages/api/package.json
  packages/api/src/env.ts
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
  packages/api/src/modules/events/utils/notifications.ts
  packages/api/src/modules/notifications/resolvers/mutation.send-notification.ts
  packages/api/src/modules/notifications/resolvers/mutation.test-notification.ts
  packages/api/src/modules/notifications/utils/index.ts
  packages/api/src/modules/notifications/utils/notella.ts
  packages/api/src/modules/notifications/utils/push-notification.ts
  packages/api/src/modules/notifications/utils/schedule.ts
  packages/api/src/modules/notifications/utils/send.ts
  packages/api/src/modules/notifications/utils/vapid.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article.ts
  packages/api/src/modules/posts/utils/index.ts
  packages/api/src/modules/posts/utils/notifications.ts
  packages/api/src/modules/users/resolvers/mutation.answer-godparent-request.ts
  packages/api/src/modules/users/resolvers/mutation.complete-signup.ts
  packages/api/src/modules/users/resolvers/mutation.login.ts
  packages/api/src/modules/users/resolvers/mutation.upsert-godparent-request.ts
  packages/api/src/server/lydia.ts
  packages/api/src/server/notifications-rescheduler.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): update to notella v0.8.1
  docker-compose.yml
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

build: upgrade @inp-net/notella
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(docker compose): avoid network_mode=host
  docker-compose.yml
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: remove leftovers from submodule architecture
  .gitmodules
  packages/api/scripts/generate-barrelsby-config.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(devx): integrate notella in dev env of churros, as optional profile
  .env.example
  CONTRIBUTING.md
  docker-compose.yml
  nats-dev-server.conf
Due: prettier --write --ignore-unknown

fix: dumb mistakes in notella.ts
  packages/api/src/modules/notifications/utils/notella.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(notella): make NATS URL env-configurable
  .env.example
  packages/api/src/env.ts
  packages/api/src/modules/notifications/utils/notella.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(posts): cannot send a post in the future
  packages/api/src/modules/posts/types/post-input.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(notifications): schedule new post notification to publication date
  packages/api/src/modules/posts/utils/notifications.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(devx): pin nats image version
  docker-compose.yml
Due: prettier --write --ignore-unknown

chore(deps): use git url for notella because npm is apparently drunk
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/purple-chefs-heal.md
Due: prettier --write --ignore-unknown

feat(healthcheck): add notella to healthchecks, remove websocket check from frontend
  .env.example
  packages/api/src/env.ts
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/modules/health-checks/utils/checks.ts
  packages/api/src/modules/notifications/utils/notella.ts
  packages/app/schema.graphql
  packages/app/src/routes/(external)/health/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): remove firebase-admin
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(notifications): implement scheduling shotgun notifications with duplicates avoidance
  packages/api/package.json
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/events/utils/notifications.ts
  packages/api/src/modules/notifications/utils/notella.ts
  packages/api/src/modules/posts/resolvers/mutation.create-post.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article-v2.ts
  packages/api/src/modules/posts/utils/index.ts
  packages/api/src/modules/posts/utils/notifications.ts
  packages/api/src/modules/ticketing/resolvers/mutation.create-ticket.ts
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(posts): remove notifiedAt
  .changeset/fair-coats-talk.md
  packages/api/src/modules/posts/resolvers/mutation.upsert-article-v2.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article.ts
  packages/api/src/modules/posts/types/article.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/posts/[id]/+page.gql
  packages/app/src/routes/(app)/posts/[id]/edit/visibility/+page.gql
  packages/app/src/routes/(app)/posts/[id]/edit/visibility/+page.svelte
  packages/db/prisma/migrations/20241105100001_remove_notified_at/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(prisma): rebase migrations for current branch
  packages/db/prisma/migrations/20241112091345_remove_notified_at/migration.sql
Due: prettier --write --ignore-unknown

chore(contributing): mention prisma studio & vscode develop task (closes #1186)
  CONTRIBUTING.md
Due: prettier --write --ignore-unknown

feat(users): make gdpr data download button work (closes #1222)
  .changeset/bright-poems-wink.md
  packages/api/src/mail-templates/gdpr-export-ready.mjml
  packages/api/src/mail-templates/props.ts
  packages/api/src/modules/global/types/errors.ts
  packages/api/src/modules/users/resolvers/index.ts
  packages/api/src/modules/users/resolvers/mutation.create-gdpr-export.ts
  packages/api/src/modules/users/resolvers/user.gdpr-export.ts
  packages/api/src/modules/users/utils/gdpr.ts
  packages/api/src/modules/users/utils/index.ts
  packages/app/schema.graphql
  packages/app/src/lib/loading.ts
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/db/prisma/migrations/20241112144600_user_rename_reservation_to_bookings/migration.sql
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(app): don't argumentize User.fullName...
  packages/api/src/modules/users/types/user.ts
  packages/api/src/modules/users/utils/names.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(users): fix user deletion cascade constraints
  packages/db/prisma/migrations/20241112150348_user_fix_deletion_cascades/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

build(app): fix build
  packages/app/src/lib/loading.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
