Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

feat(logs): allow filtering by action
  .changeset/fifty-beds-appear.md
  packages/api/src/modules/logs/resolvers/query.logs.ts
  packages/app/src/routes/(app)/logs/+page.gql
  packages/app/src/routes/(app)/logs/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(devel): indent log payloads for console in development
  packages/api/src/lib/logger.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(ticketing): rework and debug userIsBookedToEvent
  .changeset/odd-dolphins-warn.md
  packages/api/src/modules/ticketing/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(app): don't import Sentry in svelte code
  packages/api/src/server/log.ts
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(graphql): update schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

fix: add .env in contribuing
  CONTRIBUTING.md
Due: prettier --write --ignore-unknown

fix: better with good order
  CONTRIBUTING.md
Due: prettier --write --ignore-unknown

fix: diplay correct root actions when not connected
  packages/app/src/lib/navigation.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: hide graduation year if not in major
  packages/app/src/routes/(app)/users/[uid]/edit/curriculum/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(registration): do not allow custom username
  .changeset/four-candles-rest.md
  packages/api/src/modules/users/resolvers/mutation.start-signup.ts
  packages/app/schema.graphql
  packages/app/src/routes/check-uid/[uid]/+server.ts
  packages/app/src/routes/signup/FormSignup.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(api): drop oauth generated module
  packages/api/src/modules/oauth/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(ci): rename docs job
  ci/docker.gitlab-ci.yml
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/four-candles-rest.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

add changeset
  .changeset/angry-peas-try.md
Due: prettier --write --ignore-unknown

add changeset
  .changeset/easy-pets-cough.md
Due: prettier --write --ignore-unknown

fix: diplay correct root actions when not connected
  .changeset/angry-peas-try.md
  packages/app/src/lib/navigation.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: hide graduation year if not in major
  .changeset/easy-pets-cough.md
  packages/app/src/routes/(app)/users/[uid]/edit/curriculum/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: bump ldap7 to v1.0.10
  .changeset/famous-mails-cheer.md
  packages/api/package.json
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: bump ldap7 to v1.0.11
  .changeset/famous-mails-cheer.md
  packages/api/package.json
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/angry-peas-try.md
  .changeset/easy-pets-cough.md
  .changeset/famous-mails-cheer.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
Due: prettier --write --ignore-unknown

chore: bump ldap7 to v1.0.12
  .changeset/pink-bananas-rush.md
  packages/api/package.json
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/pink-bananas-rush.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
Due: prettier --write --ignore-unknown

WIP: api tests
  packages/api-tests/.vscode/settings.json
  packages/api-tests/Dockerfile
  packages/api-tests/README.md
  packages/api-tests/package.json
  packages/api-tests/schema.graphql
  packages/api-tests/src/dataleaks.test.ts
  packages/api-tests/src/graphql-env.d.ts
  packages/api-tests/src/graphql.ts
  packages/api-tests/src/users.test.ts
  packages/api-tests/todo.issurge
  packages/api-tests/tsconfig.json
  packages/api/package.json
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

fix: family tree
  packages/app/src/lib/components/TreePersons.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(docs): fix API URL
  packages/api/.graphinx.yaml
Due: prettier --write --ignore-unknown

chore(docs): fix build by quoting generated config values
  scripts/generate-buildinfo.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(docs): fix intro markdown markup
  packages/api/.graphinx.yaml
Due: prettier --write --ignore-unknown

chore(docs): fix site not being published
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(docs): migrate to Graphinx v0.12
  .yarn/patches/@graphql-tools-utils-npm-10.5.4-34df6bb3a5.patch
  package.json
  packages/api/.graphinx.yaml
  packages/api/CONTRIBUTING.md
  packages/api/README.md
  packages/api/package.json
  packages/api/src/lib/builder.ts
  packages/api/src/lib/graphinx.ts
  packages/api/src/lib/index.ts
  packages/api/src/lib/ratelimit.ts
  packages/api/src/modules/changelogs/types/index.ts
  packages/api/src/modules/changelogs/types/release-changes-maps.ts
  packages/api/src/modules/events/types/even-search-result.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/forms/resolvers/form.answers-export.ts
  packages/api/src/modules/forms/types/answers-export-formats.ts
  packages/api/src/modules/forms/types/index.ts
  packages/api/src/modules/global/README.md
  packages/api/src/modules/global/resolvers/query.build-info.ts
  packages/api/src/modules/groups/resolvers/index.ts
  packages/api/src/modules/groups/resolvers/mutation.set-goup-room-open-state.ts
  packages/api/src/modules/groups/resolvers/mutation.set-group-join-policy.ts
  packages/api/src/modules/groups/resolvers/mutation.upsert-group.ts
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/modules/links/resolvers/mutation.add-links.ts
  packages/api/src/modules/payments/types/profits-breakdown.ts
  packages/api/src/modules/posts/resolvers/query.article.ts
  packages/api/src/modules/shop/resolvers/index.ts
  packages/api/src/modules/shop/resolvers/mutation.update-item-picture.ts
  packages/api/src/modules/shop/resolvers/query.shop-item.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings.ts
  packages/api/src/modules/ticketing/types/index.ts
  packages/api/src/modules/ticketing/types/registrations-counts.ts
  packages/api/src/schema.ts
  packages/app/package.json
  packages/app/schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(logs/ticketing): log lydia phone used when paying bookings
  packages/api/src/modules/ticketing/resolvers/mutation.pay-booking.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(ticketing): add deduplicateBookings mutation
  .changeset/happy-bags-invent.md
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.deduplicate-bookings.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(registration): do not allow custom username
  .changeset/four-candles-rest.md
Due: prettier --write --ignore-unknown

fix(profile): crash sometimes when getting to page (see #1157)
  packages/app/src/lib/components/FormPicture.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): churro à la place de churros sur petit ecran (closes #1155)
  packages/app/src/lib/components/NavigationTop.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown
