Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore(graphql): update schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

chore: format code
  packages/app/src/routes/(app)/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(release): v1.68.5
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

feat(logins): temporarily don't log login failures for n7tv
  packages/api/src/modules/users/resolvers/mutation.login.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): don't crash whole api when SMTP connection fails
  CHANGELOG.md
  packages/api/src/lib/mail.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(healthcheck): make LDAP and SMTP health checks resilient
  packages/api/src/lib/ldap.ts
  packages/api/src/modules/health-checks/resolvers/query.healthcheck.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(seeding): prevent unique constraint errors on generated Page.path's
  packages/db/seed/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): v1.68.6
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

feat(uid): add table to manually ban specific UIDs
  CHANGELOG.md
  packages/api/src/lib/uid.ts
  packages/db/prisma/migrations/20240731185508_add_blocked_uid/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(sync): create a new project
  packages/sync/README.md
  packages/sync/package.json
  packages/sync/src/index.ts
  packages/sync/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(prettier): remove deprecated config
  .prettierrc.json
Due: prettier --write --ignore-unknown

feat(db): add ldap_gid_number on groups + drop schoolId and make StudentAssociationId non-nullable
  packages/db/prisma/migrations/20240803153733_add_ldap_gid_number_and_non_optional_student_asso/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(git): fix husky warning msg
  .husky/commit-msg
Due: prettier --write --ignore-unknown

feat(sync/ldap): add ldap module
  packages/sync/package.json
  packages/sync/src/modules/ldap/groups.ts
  packages/sync/src/modules/ldap/index.ts
  packages/sync/src/modules/ldap/schools.ts
  packages/sync/src/modules/ldap/users.ts
  packages/sync/src/modules/module.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(sync/ldap): entry point + env vars
  .env.example
  packages/sync/src/index.ts
  packages/sync/tsconfig.json
  packages/sync/types/environment.d.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(api): bump ldap7 version
  packages/api/package.json
  packages/api/src/lib/markdown.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): support for latest database changes
  packages/api/src/modules/groups/resolvers/mutation.upsert-group.ts
  packages/api/src/modules/shop/resolvers/group.shop-items.ts
  packages/api/src/modules/shop/resolvers/query.shop.ts
  packages/api/src/modules/shop/utils/permissions.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): bump ldap7 version
  packages/api/package.json
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(build): dockerfile + ci for sync
  Dockerfile
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

feat(api): update user password in ldap at login
  packages/api/src/global.d.ts
  packages/api/src/modules/health-checks/resolvers/query.healthcheck.ts
  packages/api/src/modules/users/resolvers/mutation.login.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

fix(ci/volta): generate before building
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(sync/ldap): improve prisma typing
  packages/sync/src/modules/ldap/groups.ts
  packages/sync/src/modules/ldap/users.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(sync/docs): better documentation
  .env.example
  packages/sync/README.md
  packages/sync/types/environment.d.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(sync): better error handling for modules
  packages/sync/src/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api/groups): set school as deprecated instead of removing
  packages/api/src/modules/groups/resolvers/mutation.upsert-group.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api/groups): check if studentaAssociationUid is not undefined at during group creation
  packages/api/src/modules/groups/resolvers/mutation.upsert-group.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(ci): do not depend on build for sync + fix tag deployment
  Dockerfile
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(api/health): check health in background
  packages/api/package.json
  packages/api/src/modules/health-checks/resolvers/query.healthcheck.ts
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/server/express.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): drop old ldap support
  packages/api/src/lib/index.ts
  packages/api/src/lib/ldap.ts
  packages/api/src/modules/users/resolvers/mutation.complete-registration.ts
  packages/api/src/modules/users/resolvers/mutation.login.ts
  packages/api/src/modules/users/resolvers/mutation.reset-password.ts
  packages/api/src/modules/users/resolvers/mutation.sync-user-ldap.ts
  packages/api/src/modules/users/resolvers/mutation.update-user.ts
  packages/api/src/modules/users/resolvers/mutation.use-password-reset.ts
  packages/api/src/modules/users/utils/uid.ts
  packages/api/src/server/lydia.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: globally run yarn format && yarn lintfix
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/BaseInputText.svelte
  packages/app/src/lib/components/FormEvent.svelte
  packages/app/src/lib/components/FormPage.svelte
  packages/app/src/lib/components/InputSelectOne.svelte
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/+page.ts
  packages/app/src/routes/(app)/forms/[form]/edit/+page.svelte
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  packages/app/src/routes/(app)/register/[[quickSignupCode]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): restore @-moz-document
  packages/app/src/lib/components/InputSelectOne.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(api): move health-check logic in separate file
  packages/api/barrelsby.config.json
  packages/api/src/modules/health-checks/index.ts
  packages/api/src/modules/health-checks/resolvers/query.healthcheck.ts
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/modules/health-checks/utils/checks.ts
  packages/api/src/modules/health-checks/utils/index.ts
  packages/api/src/server/express.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api/login): improve ldap error logging
  packages/api/src/modules/users/resolvers/mutation.login.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): avoid importing index.ts
  packages/api/src/server/express.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changelog): @churros/sync related changes
  CHANGELOG.md
Due: prettier --write --ignore-unknown

fix(api/healthchecks): improve ldap check
  packages/api/src/modules/health-checks/utils/checks.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): v1.69.0
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

fix(ci): allow to run manually
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(docker): add ca-certificates on some pods
  Dockerfile
Due: prettier --write --ignore-unknown

fix(docker): working sync build
  Dockerfile
Due: prettier --write --ignore-unknown
