Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

fix(docker): install openssl for migrator image's runtime too
  Dockerfile
Due: prettier --write --ignore-unknown

chore(changesets): prepare hotfix release for @churros/db
  .changeset/migrator-runtime-issue.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/migrator-runtime-issue.md
  CHANGELOG.md
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
Due: prettier --write --ignore-unknown

feat(signups): redesign signups management
  .changeset/eighty-frogs-hug.md
  .changeset/fluffy-flowers-act.md
  .changeset/new-readers-yell.md
  packages/api/src/modules/users/resolvers/mutation.accept-user-candidate.ts
  packages/api/src/modules/users/resolvers/mutation.refuse-user-candidate.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-candidate.ts
  packages/api/src/modules/users/resolvers/query.user-candidates.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/components/InputMajor.svelte
  packages/app/src/lib/components/InputNumber.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/signups/+layout.gql
  packages/app/src/routes/(app)/signups/+layout.svelte
  packages/app/src/routes/(app)/signups/+page.svelte
  packages/app/src/routes/(app)/signups/+page.ts
  packages/app/src/routes/(app)/signups/ModalRefuseReason.svelte
  packages/app/src/routes/(app)/signups/edit/[email]/+page.gql
  packages/app/src/routes/(app)/signups/edit/[email]/+page.svelte
  packages/app/src/routes/(app)/signups/edit/[email]/+page.ts
  packages/app/src/routes/(app)/signups/shared.ts
  packages/app/src/routes/(app)/users/[uid]/edit/curriculum/+page.svelte
  packages/app/src/routes/signup/FormSignup.svelte
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ticketing): forcer visibilité publique/privée/non répertoriée quand billet exté (closes #1231)
  .changeset/quiet-suits-collect.md
  packages/api/src/modules/events/resolvers/mutation.set-event-visibility.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/utils/visibility.ts
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket-constraints.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/InputRadios.svelte
  packages/app/src/lib/scroll.ts
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/visibility/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changelog): remove duplicate 4.0.0 entry
  CHANGELOG.md
Due: prettier --write --ignore-unknown

build(app): remove duplicate import
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(users): allow deleting accounts
  .changeset/eighty-walls-end.md
  .env.example
  packages/api/src/env.ts
  packages/api/src/modules/users/resolvers/mutation.delete-user.ts
  packages/api/src/modules/users/resolvers/user.deletion-consequences.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/delete-account/+page.gql
  packages/app/src/routes/(app)/delete-account/+page.svelte
  packages/app/src/routes/(app)/logout/+page.server.ts
  packages/app/src/routes/(app)/logout/+page.svelte
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/+layout.server.ts
  packages/app/vite.config.js
  packages/db/prisma/migrations/20241112162939_user_fix_deletion_cascades/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(api): remove leftover conflict marker
  packages/api/src/env.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(app): fix fragment names in imports
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/ItemBooking.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(api): remove leftover barrel files
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(app): remove leftover reference to old fragment name
  packages/app/src/routes/(app)/events/[id]/bookings/+page.gql
Due: prettier --write --ignore-unknown

ci(changelog): don't add version entry when not release a new @churros/app version
  scripts/release-user-facing-changelog.js
Due: eslint --fix, prettier --write --ignore-unknown

build(app): fix build
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(db): move merged migrations atop latest deployed one
  packages/db/prisma/migrations/20241114080737_registration_add_fuzzy_search_columns/migration.sql
  packages/db/prisma/migrations/20241114081222_registration_add_internal_beneficiary_to_searchvector/migration.sql
  packages/db/prisma/migrations/20241114081527_/migration.sql
  packages/db/prisma/migrations/20241114082526_registration_make_fuzzysearch_columns_nullable/migration.sql
  packages/db/prisma/migrations/20250125125357_registration_add_fuzzy_search/migration.sql
Due: prettier --write --ignore-unknown

fix(bookigs): put search bar above tabs
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(db): redo migrations atop main
  packages/db/prisma/migrations/20241110220155_registration_add_point_of_contact/migration.sql
  packages/db/prisma/migrations/20241111013537_registration_add_author_name/migration.sql
  packages/db/prisma/migrations/20250125132808_registration_add_author_name_and_point_of_contact/migration.sql
Due: prettier --write --ignore-unknown

chore(db): redo migrations atop main
  packages/db/prisma/migrations/20241107220036_add_event_manager_invites/migration.sql
  packages/db/prisma/migrations/20241107222903_event_manager_invite_add_permissions/migration.sql
  packages/db/prisma/migrations/20241112090225_event_add_show_capacity/migration.sql
  packages/db/prisma/migrations/20250125133103_add_event_manager_invites/migration.sql
Due: prettier --write --ignore-unknown

chore(seeding): move from deprecated faker.internet.userName
  packages/db/seed/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(app): all inputs deriving from BaseInputText had autofocus set
  .changeset/five-sheep-heal.md
  packages/app/src/lib/components/BaseInputText.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(scripts): barrelize in pre:dev
  package.json
Due: prettier --write --ignore-unknown

fix(app): overflow menu buttons showed red dot even if responsible item was hidden/deactivated
  .changeset/curly-goats-compare.md
  packages/app/src/lib/components/OverflowMenu.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(sync): install openssl to churros/sync's runtime
  .changeset/seven-pillows-talk.md
  Dockerfile
Due: prettier --write --ignore-unknown

chore(docker): use dependency proxy for image bases
  Dockerfile
Due: prettier --write --ignore-unknown

chore(docker): authenticate for dependency proxy and don't hardcode prefix
  Dockerfile
  ci/build.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(docker): try with CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX
  ci/build.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changelog): prepare changelog
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore(docker): make Dockerfile renovate-friendly
  Dockerfile
  ci/build.gitlab-ci.yml
Due: prettier --write --ignore-unknown

build(api): fix missing import, remove Mutation.upsertRegistration
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/api/src/modules/ticketing/types/ticket.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(docker): fix undeclared dependency proxy
  Dockerfile
  ci/build.gitlab-ci.yml
Due: prettier --write --ignore-unknown

build(api): fix build
  packages/api/src/modules/ticketing/resolvers/user.can-book-ticket.ts
  packages/api/src/modules/ticketing/types/ticket.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(api): fix build
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(event managers): add managers invite system
  .changeset/great-ladybugs-drive.md
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/events/resolvers/event-manager.used-invite.ts
  packages/api/src/modules/events/resolvers/mutation.create-event.ts
  packages/api/src/modules/events/resolvers/mutation.delete-event-manager-invite.ts
  packages/api/src/modules/events/resolvers/mutation.delete-event-manager.ts
  packages/api/src/modules/events/resolvers/mutation.remove-event-manager.ts
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/events/resolvers/mutation.upsert-event-manager-invite.ts
  packages/api/src/modules/events/resolvers/mutation.use-event-manager-invite.ts
  packages/api/src/modules/events/resolvers/query.event-manager-invite.ts
  packages/api/src/modules/events/resolvers/query.event.ts
  packages/api/src/modules/events/types/event-manager-invite.ts
  packages/api/src/modules/events/types/event-manager-power-level.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/utils/invites.ts
  packages/api/src/modules/events/utils/permissions.ts
  packages/api/src/modules/ticketing/resolvers/booking.qr-code.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/InputDateTime.svelte
  packages/app/src/lib/components/InputNumber.svelte
  packages/app/src/lib/components/InputTextGhost.svelte
  packages/app/src/lib/components/LoadingText.svelte
  packages/app/src/lib/display.ts
  packages/app/src/lib/errors.ts
  packages/app/src/lib/mutations.ts
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemInvite.svelte
  packages/app/src/routes/(app)/events/[id]/edit/managers/ItemManager.svelte
  packages/app/src/routes/(app)/join-managers/[code]/+page.svelte
  packages/db/prisma/migrations/20241106203412_event_add_show_capacity/migration.sql
  packages/db/prisma/migrations/20250125133103_add_event_manager_invites/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): update dependency @babel/core to ^7.26.7
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency @sentry/sveltekit to ^8.51.0
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

build: remove unused import
  packages/api/src/lib/builder.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changelog): prepare release
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/afraid-hounds-sing.md
  .changeset/breezy-clouds-behave.md
  .changeset/curly-goats-compare.md
  .changeset/curvy-dancers-juggle.md
  .changeset/eighty-frogs-hug.md
  .changeset/eighty-walls-end.md
  .changeset/eleven-donkeys-end.md
  .changeset/five-sheep-heal.md
  .changeset/fluffy-flowers-act.md
  .changeset/good-brooms-invite.md
  .changeset/great-ladybugs-drive.md
  .changeset/happy-dragons-yell.md
  .changeset/late-llamas-attack.md
  .changeset/loud-cups-wonder.md
  .changeset/mighty-suits-burn.md
  .changeset/new-readers-yell.md
  .changeset/poor-mice-push.md
  .changeset/quiet-suits-collect.md
  .changeset/selfish-boxes-enjoy.md
  .changeset/seven-pillows-talk.md
  .changeset/short-goats-cover.md
  .changeset/silly-bananas-scream.md
  .changeset/spotty-cows-kneel.md
  .changeset/strong-pumpkins-hammer.md
  .changeset/stupid-files-bake.md
  .changeset/tall-taxis-peel.md
  .changeset/two-toys-rush.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: regen lockfile
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: remove prisma-client.sh from dockerfile
  Dockerfile
Due: prettier --write --ignore-unknown
