Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

ci(changesets): fix trigger condition
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/c8-10.x.md
  .changeset/iconify-json-material-symbols-light-1.x.md
  .changeset/iconify-json-simple-icons-1.x.md
  .changeset/jsonwebtoken-9.x.md
Due: prettier --write --ignore-unknown

chore(deps): update dependency @sveltejs/adapter-node to ^5.2.12
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/sveltejs-adapter-node-5.x.md
Due: prettier --write --ignore-unknown

chore(deps): update dependency chokidar to ^4.0.3
  package.json
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(prisma): reorder migrations
  .changeset/yellow-bags-sip.md
  packages/db/prisma/migrations/20241106203412_event_add_show_capacity/migration.sql
  packages/db/prisma/migrations/20241112144600_user_rename_reservation_to_bookings/migration.sql
  packages/db/prisma/migrations/20241112162939_user_fix_deletion_cascades/migration.sql
  packages/db/prisma/migrations/20250126172601_event_add_show_capacity/migration.sql
  packages/db/prisma/migrations/20250126172741_user_rename_reservation_to_bookings/migration.sql
  packages/db/prisma/migrations/20250126172834_user_fix_deletion_cascades/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

chore(db): mark 4.1.0 as yanked
  packages/db/CHANGELOG.md
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/babel-monorepo.md
  .changeset/c8-10.x.md
  .changeset/carbon-charts-svelte-1.x.md
  .changeset/iconify-json-material-symbols-1.x.md
  .changeset/iconify-json-material-symbols-light-1.x.md
  .changeset/iconify-json-mdi-1.x.md
  .changeset/iconify-json-simple-icons-1.x.md
  .changeset/jsonwebtoken-9.x.md
  .changeset/sentry-javascript-monorepo.md
  .changeset/sveltejs-adapter-node-5.x.md
  .changeset/test.md
  .changeset/yellow-bags-sip.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/arborist/CHANGELOG.md
  packages/arborist/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(prisma): reorder migration user_last_seen_at
  .changeset/gold-poets-complain.md
  packages/db/prisma/migrations/20241112104505_user_add_last_seen_at/migration.sql
  packages/db/prisma/migrations/20250126174923_user_add_last_seen_at/migration.sql
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/gold-poets-complain.md
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
Due: prettier --write --ignore-unknown

chore(deps): update dependency prettier-plugin-jsdoc to ^1.3.2
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency prettier-plugin-svelte to ^3.3.3
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(prisma): remove superfluouos event_add_show_capacity migration
  .changeset/fast-garlics-smile.md
  packages/db/prisma/migrations/20250126172601_event_add_show_capacity/migration.sql
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/fast-garlics-smile.md
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
Due: prettier --write --ignore-unknown

chore(deps): update dependency svelte-check to ^4.1.4
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(users): deletionConsequences: don't try to count comments
  .changeset/stale-seas-chew.md
  CHANGELOG.md
  packages/api/src/modules/users/resolvers/user.deletion-consequences.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(event managers): dedupe group membership mamangers section, put invite links section above group membership section
  .changeset/spicy-trainers-tell.md
  CHANGELOG.md
  packages/app/src/routes/(app)/events/[id]/edit/managers/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(prisma): re-add prod-applied migration
  packages/db/prisma/migrations/20241112090225_event_add_show_capacity/migration.sql
Due: prettier --write --ignore-unknown

chore(graphql): regen schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

chore(changesets): mention a52fd4fb
  .changeset/many-cars-double.md
Due: prettier --write --ignore-unknown

ci(prisma): ensure that migrations are consistent with main (MRs) or prod (deployments)
  .changeset/modern-taxis-rescue.md
  .gitlab-ci.yml
  ci/test.gitlab-ci.yml
  ci/test/db.gitlab-ci.yml
  packages/api/src/server/devtools.ts
  packages/api/src/server/express.ts
  packages/api/src/server/gdpr.ts
  packages/db/scripts/check-migrations-coherence.js
Due: eslint --fix, prettier --write --ignore-unknown

ci(migrations coherence): make MRs check against main, and check against tag in main
  ci/test/db.gitlab-ci.yml
  packages/db/scripts/check-migrations-coherence.js
Due: eslint --fix, prettier --write --ignore-unknown

ci(migrations coherence): check with prod on changeset release MRs too, make the test bypassable
  ci/test/db.gitlab-ci.yml
Due: prettier --write --ignore-unknown

build(api): fix typing in devtools.ts
  packages/api/src/server/devtools.ts
Due: eslint --fix, prettier --write --ignore-unknown

Enforce db migrations coherence
  .changeset/modern-taxis-rescue.md
  .gitlab-ci.yml
  ci/test.gitlab-ci.yml
  ci/test/db.gitlab-ci.yml
  packages/api/src/server/devtools.ts
  packages/api/src/server/express.ts
  packages/api/src/server/gdpr.ts
  packages/db/scripts/check-migrations-coherence.js
Due: eslint --fix, prettier --write --ignore-unknown

ci(migrations coherence): fix rule for testing on changeset release MR
  ci/test/db.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(migrations coherence): fix changeset mr rule
  ci/test/db.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(changesets renovate): run every time on main
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/many-cars-double.md
  .changeset/modern-taxis-rescue.md
  .changeset/spicy-trainers-tell.md
  .changeset/stale-seas-chew.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(prisma): redo migration atop main
  packages/db/prisma/migrations/20250126223309_remove_notified_at/migration.sql
Due: prettier --write --ignore-unknown

ci(migrations coherence): check with latest tag on changeset release mr too
  ci/test/db.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/chokidar-4.x.md
  .changeset/svelte-check-4.x.md
Due: prettier --write --ignore-unknown

ci(changesets renovate): pull before pushing
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(migrations coherence): explicitly switch to origin/main instead of main
  packages/db/scripts/check-migrations-coherence.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(changesets renovate): pull explicitly from main
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(migration coherence): fix git switch main invocation
  packages/db/scripts/check-migrations-coherence.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(migrations coherence): fix git switch main invocation
  packages/db/scripts/check-migrations-coherence.js
Due: eslint --fix, prettier --write --ignore-unknown
