Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore(docs): migrate to Graphinx v0.12
  .yarn/patches/@graphql-tools-utils-npm-10.5.4-34df6bb3a5.patch
  package.json
  packages/api/.graphinx.yaml
  packages/api/CONTRIBUTING.md
  packages/api/README.md
  packages/api/package.json
  packages/api/src/lib/builder.ts
  packages/api/src/lib/graphinx.ts
  packages/api/src/lib/index.ts
  packages/api/src/lib/ratelimit.ts
  packages/api/src/modules/changelogs/types/index.ts
  packages/api/src/modules/changelogs/types/release-changes-maps.ts
  packages/api/src/modules/events/types/even-search-result.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/forms/resolvers/form.answers-export.ts
  packages/api/src/modules/forms/types/answers-export-formats.ts
  packages/api/src/modules/forms/types/index.ts
  packages/api/src/modules/global/README.md
  packages/api/src/modules/global/resolvers/query.build-info.ts
  packages/api/src/modules/groups/resolvers/index.ts
  packages/api/src/modules/groups/resolvers/mutation.set-goup-room-open-state.ts
  packages/api/src/modules/groups/resolvers/mutation.set-group-join-policy.ts
  packages/api/src/modules/groups/resolvers/mutation.upsert-group.ts
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/modules/links/resolvers/mutation.add-links.ts
  packages/api/src/modules/payments/types/profits-breakdown.ts
  packages/api/src/modules/posts/resolvers/query.article.ts
  packages/api/src/modules/shop/resolvers/index.ts
  packages/api/src/modules/shop/resolvers/mutation.update-item-picture.ts
  packages/api/src/modules/shop/resolvers/query.shop-item.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings.ts
  packages/api/src/modules/ticketing/types/index.ts
  packages/api/src/modules/ticketing/types/registrations-counts.ts
  packages/api/src/schema.ts
  packages/app/package.json
  packages/app/schema.graphql
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(docs): fix build by quoting generated config values
  scripts/generate-buildinfo.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(app): make login/done prettier
  .changeset/dull-cycles-flash.md
  packages/app/src/routes/(app)/login/done/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/big-grapes-refuse.md
  .changeset/fifty-beds-appear.md
  .changeset/four-candles-rest.md
  .changeset/happy-bags-invent.md
  .changeset/odd-dolphins-warn.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(docs): fix site not being published
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/angry-peas-try.md
  .changeset/easy-pets-cough.md
  .changeset/famous-mails-cheer.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
Due: prettier --write --ignore-unknown

chore: bump ldap7 to v1.0.10
  .changeset/famous-mails-cheer.md
  packages/api/package.json
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Various fixes
  .changeset/big-grapes-refuse.md
  .changeset/fifty-beds-appear.md
  .changeset/four-candles-rest.md
  .changeset/happy-bags-invent.md
  .changeset/odd-dolphins-warn.md
  CHANGELOG.md
  packages/api/src/lib/logger.ts
  packages/api/src/modules/logs/resolvers/query.logs.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.deduplicate-bookings.ts
  packages/api/src/modules/ticketing/resolvers/mutation.pay-booking.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/api/src/modules/users/resolvers/mutation.request-email-change.ts
  packages/api/src/server/log.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardDocument.svelte
  packages/app/src/lib/components/FormPicture.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/params/uid.ts
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
  packages/app/src/routes/(app)/documents/+page.gql
  packages/app/src/routes/(app)/documents/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/[document]/+page.ts
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/[document]/edit/+page.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
  packages/app/src/routes/(app)/logs/+page.gql
  packages/app/src/routes/(app)/logs/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: hide graduation year if not in major
  .changeset/easy-pets-cough.md
Due: prettier --write --ignore-unknown

fix: specialcase birthday when it's today
  .changeset/spotty-countries-perform.md
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(docs): fix API URL
  packages/api/.graphinx.yaml
Due: prettier --write --ignore-unknown

chore: bump ldap7 to v1.0.12
  .changeset/pink-bananas-rush.md
  packages/api/package.json
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: bump ldap7 to v1.0.11
  .changeset/famous-mails-cheer.md
  packages/api/package.json
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/hip-islands-begin.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/arborist/CHANGELOG.md
  packages/arborist/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/oauth-client/CHANGELOG.md
  packages/oauth-client/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): upgrade dependencies
  .changeset/hip-islands-begin.md
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  packages/api/.graphinx.yaml
  packages/api/package.json
  packages/api/src/modules/forms/resolvers/form.answers-by-user.ts
  packages/app/package.json
  packages/app/src/lib/buildinfo.ts
  packages/app/src/lib/components/InputPickObjects.svelte
  packages/app/src/lib/scroll.ts
  packages/app/src/lib/subscriptions.ts
  packages/app/svelte.config.js
  packages/app/vite.config.js
  packages/arborist/package.json
  packages/arborist/tsconfig.json
  packages/db/package.json
  packages/mock-n7-ldap/package.json
  packages/oauth-client/package.json
  packages/oauth-client/tsconfig.json
  packages/sync/package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: style and link
  packages/app/src/lib/components/TreePersons.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: wtf
  packages/app/src/lib/components/TreePersons.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: graph
  packages/app/src/lib/components/TreePersons.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Add changeset
  .changeset/swift-showers-exist.md
Due: prettier --write --ignore-unknown

feat(groups): rework members UI
  packages/api/src/modules/groups/resolvers/index.ts
  packages/api/src/modules/groups/resolvers/mutation.add-group-member-v2.ts
  packages/api/src/modules/groups/resolvers/mutation.add-group-member.ts
  packages/api/src/modules/groups/resolvers/mutation.update-group-member.ts
  packages/api/src/modules/groups/resolvers/mutation.upsert-group-member.ts
  packages/api/src/modules/groups/types/group-member-input.ts
  packages/api/src/modules/groups/types/group-member.ts
  packages/api/src/modules/groups/types/group.ts
  packages/api/src/modules/groups/types/index.ts
  packages/api/src/modules/groups/utils/permissions.ts
  packages/api/src/modules/posts/types/index.ts
  packages/api/src/schema.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/components/GroupMember.svelte
  packages/app/src/lib/components/Submenu.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/dates.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/typing.ts
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/edit/members/+page.ts
  packages/app/src/routes/(app)/groups/[uid]/members/+page.gql
  packages/app/src/routes/(app)/groups/[uid]/members/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/members/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(groups): modal to view/edit group memberships
  packages/api/src/modules/groups/types/group-member.ts
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/components/GroupMember.svelte
  packages/app/src/lib/components/InputDateTime.svelte
  packages/app/src/lib/components/InputTextGhost.svelte
  packages/app/src/lib/display.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/members/+page.gql
  packages/app/src/routes/(app)/groups/[uid]/members/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/members/ModalGroupMemberDetails.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

style: nodes borders
  packages/app/src/lib/components/TreePersons.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: family tree style
  .changeset/swift-showers-exist.md
  packages/app/src/lib/components/TreePersons.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.gql
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(ci): do not use a yarn script
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(ci): do not use a yarn script
  ci/changesets.gitlab-ci.yml
  scripts/update-versions.sh
Due: prettier --write --ignore-unknown

fix(ci): symlink node_modules folder
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(ci): try to fix @changesets/changelog-git
  .changeset/config.json
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(ci): install before version bump
  .changeset/config.json
  scripts/update-versions.sh
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/swift-showers-exist.md
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

feat(groups): implement group member edit/add/delete
  packages/api/src/modules/groups/resolvers/index.ts
  packages/api/src/modules/groups/resolvers/mutation.add-group-member-v2.ts
  packages/api/src/modules/groups/resolvers/mutation.delete-group-member.ts
  packages/api/src/modules/groups/resolvers/query.group-member.ts
  packages/api/src/modules/groups/types/group-member-input.ts
  packages/api/src/modules/groups/types/group-member.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/components/GroupMember.svelte
  packages/app/src/lib/components/InputSearchQuery.svelte
  packages/app/src/lib/components/ModalSearchUser.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/members/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/members/ModalGroupMemberDetails.svelte
  packages/app/src/routes/(app)/groups/[uid]/members/mutations.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(groups): add search bar on group members list, allow adding to group from user profile
  packages/api/src/modules/groups/resolvers/group.search-members.ts
  packages/api/src/modules/groups/resolvers/index.ts
  packages/api/src/modules/groups/resolvers/user.can-add-members-to.ts
  packages/api/src/modules/groups/types/group-member-search-result.ts
  packages/api/src/modules/groups/types/group-member.ts
  packages/api/src/modules/groups/utils/permissions.ts
  packages/api/src/modules/users/resolvers/query.search-users.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/InputSearchQuery.svelte
  packages/app/src/routes/(app)/[uid=uid]/+layout.gql
  packages/app/src/routes/(app)/[uid=uid]/+layout.svelte
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/members/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(groups): remove old members edit page
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/InputLongText.svelte
  packages/app/src/routes/(app)/groups/[uid]/edit/+layout.svelte
  packages/app/src/routes/(app)/groups/[uid]/edit/members/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/edit/members/+page.ts
  packages/app/src/routes/(app)/groups/[uid]/edit/members/bulk/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/members/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/funny-radios-press.md
Due: prettier --write --ignore-unknown

fix(groups): update navigation top bar
  packages/app/src/lib/navigation.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(prometheus): use envelop plugin to expose prometheus counters
  packages/api/package.json
  packages/api/src/lib/builder.ts
  packages/api/src/lib/prometheus.ts
  packages/api/src/lib/ratelimit.ts
  packages/api/src/server/graphql.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

WIP
  packages/app/src/lib/components/InputColor.svelte
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(settings): allow changing theme
  .env.example
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/theme.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/(app)/settings/theme/+page.gql
  packages/app/src/routes/(app)/settings/theme/+page.svelte
  packages/app/src/routes/(app)/settings/theme/ThemePreviewCard.svelte
  packages/app/src/routes/(app)/themes.css/+server.ts
  packages/app/src/routes/+layout.svelte
  packages/app/static/colors.css
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(api): drop bar weeks
  .changeset/sweet-bugs-explode.md
  packages/api/barrelsby.config.json
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/bar-weeks/README.md
  packages/api/src/modules/bar-weeks/icon.svg
  packages/api/src/modules/bar-weeks/index.ts
  packages/api/src/modules/bar-weeks/resolvers/group.bar-weeks.ts
  packages/api/src/modules/bar-weeks/resolvers/index.ts
  packages/api/src/modules/bar-weeks/resolvers/mutation.delete-bar-week.ts
  packages/api/src/modules/bar-weeks/resolvers/mutation.upsert-bar-week.ts
  packages/api/src/modules/bar-weeks/resolvers/query.bar-week-now.ts
  packages/api/src/modules/bar-weeks/resolvers/query.bar-week.ts
  packages/api/src/modules/bar-weeks/resolvers/query.bar-weeks.ts
  packages/api/src/modules/bar-weeks/types/bar-week.ts
  packages/api/src/modules/bar-weeks/types/index.ts
  packages/api/src/schema.ts
  packages/app/schema.graphql
  packages/app/src/lib/typenames.ts
  packages/db/prisma/migrations/20240923083644_drop_bar_weeks/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(packages): remove oauth client packages
  packages/oauth-client-python/README.md
  packages/oauth-client-python/churros/client/__init__.py
  packages/oauth-client-python/churros/client/__pycache__/__init__.cpython-311.pyc
  packages/oauth-client-python/dist/churros-0.5.0-py3-none-any.whl
  packages/oauth-client-python/dist/churros-0.5.0.tar.gz
  packages/oauth-client-python/dist/churros-0.6.0-py3-none-any.whl
  packages/oauth-client-python/dist/churros-0.6.0.tar.gz
  packages/oauth-client-python/poetry.lock
  packages/oauth-client-python/pyproject.toml
  packages/oauth-client/CHANGELOG.md
  packages/oauth-client/README.md
  packages/oauth-client/index.ts
  packages/oauth-client/package.json
  packages/oauth-client/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown
