Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

fix(profile): add text to profile badges (closes #1091)
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(frappe): no solutions warning was green
  packages/app/src/lib/components/CardDocument.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(frappe): ensure data is loaded on page load
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/[document]/+page.ts
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/[document]/edit/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(app): la frappe ne marche pas "no group found" (closes #1162)
  packages/app/src/params/uid.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(email changes): create request for target email's user, not logged in user
  packages/api/src/modules/users/resolvers/mutation.request-email-change.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(ticketing): duplication de billet lors de la création (closes #1150)
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): update changeset
  .changeset/big-grapes-refuse.md
Due: prettier --write --ignore-unknown

chore(changelog): communicate frappe fix to end users
  CHANGELOG.md
Due: prettier --write --ignore-unknown

feat(frappe): refresh UI of list pages
  packages/app/src/routes/(app)/documents/+page.gql
  packages/app/src/routes/(app)/documents/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Various fixes
  .changeset/big-grapes-refuse.md
  .changeset/fifty-beds-appear.md
  .changeset/four-candles-rest.md
  .changeset/happy-bags-invent.md
  .changeset/odd-dolphins-warn.md
  CHANGELOG.md
  packages/api/src/lib/logger.ts
  packages/api/src/modules/logs/resolvers/query.logs.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.deduplicate-bookings.ts
  packages/api/src/modules/ticketing/resolvers/mutation.pay-booking.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/api/src/modules/users/resolvers/mutation.request-email-change.ts
  packages/api/src/server/log.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardDocument.svelte
  packages/app/src/lib/components/FormPicture.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/params/uid.ts
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
  packages/app/src/routes/(app)/bookings/[code]/ModalPay.svelte
  packages/app/src/routes/(app)/documents/+page.gql
  packages/app/src/routes/(app)/documents/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/+page.svelte
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/[document]/+page.ts
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/[subject]/[document]/edit/+page.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
  packages/app/src/routes/(app)/logs/+page.gql
  packages/app/src/routes/(app)/logs/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/big-grapes-refuse.md
  .changeset/fifty-beds-appear.md
  .changeset/four-candles-rest.md
  .changeset/happy-bags-invent.md
  .changeset/odd-dolphins-warn.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: prettier --write --ignore-unknown

chore(docs): add GOVERNANCE.md
  GOVERNANCE.md
Due: prettier --write --ignore-unknown

chore(governance): add section for major features
  GOVERNANCE.md
Due: prettier --write --ignore-unknown

chore(governance): add section to keep dependencies up to date
  GOVERNANCE.md
Due: prettier --write --ignore-unknown

chore(governance): add section for keeping docs up to date
  GOVERNANCE.md
Due: prettier --write --ignore-unknown

feat(posts): implement image editing
  packages/api/src/modules/pictures/resolvers/mutation.set-picture.ts
  packages/app/src/lib/components/FormPicture.svelte
  packages/app/src/routes/(app)/posts/[id]/edit/picture/+page.gql
  packages/app/src/routes/(app)/posts/[id]/edit/picture/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor(api): refactor Mutation.setPicture
  packages/api/src/lib/pictures.ts
  packages/api/src/modules/pictures/resolvers/mutation.set-picture.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(posts): improve image display on post page
  packages/app/package.json
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(posts): cap max height of post card image
  packages/app/src/lib/components/CardArticle.houdini.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(posts): posts navigation
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(posts): pad content of notifications warning modal
  packages/app/src/routes/(app)/posts/[id]/edit/visibility/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(posts): fix typing of EventSelect{Item,List}
  packages/app/src/routes/(app)/posts/[id]/edit/event/EventSelectItem.svelte
  packages/app/src/routes/(app)/posts/[id]/edit/event/EventSelectList.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changeset): add changeset
  .changeset/giant-bugs-chew.md
Due: prettier --write --ignore-unknown

feat(services): rework UI to improve touch targets (closes #1163)
  .changeset/five-grapes-smoke.md
  packages/app/src/lib/components/CardService.houdini.svelte
  packages/app/src/routes/(app)/services/+page.gql
  packages/app/src/routes/(app)/services/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): make login/done prettier
  .changeset/dull-cycles-flash.md
  packages/app/src/routes/(app)/login/done/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(services): improve services management UI, allow deleting services
  packages/api/src/modules/services/resolvers/mutation.delete-service.ts
  packages/api/src/modules/services/resolvers/mutation.upsert-service.ts
  packages/api/src/modules/services/resolvers/query.services.ts
  packages/api/src/modules/services/types/service.ts
  packages/api/src/modules/services/utils/permissions.ts
  packages/api/src/modules/student-associations/types/student-association.ts
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/Avatar.svelte
  packages/app/src/lib/components/ButtonSecondary.svelte
  packages/app/src/lib/components/CardService.houdini.svelte
  packages/app/src/lib/components/ModalConfirmDelete.svelte
  packages/app/src/lib/components/ModalDeleteCustomPage.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/longpress.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/backrooms/+page.svelte
  packages/app/src/routes/(app)/backrooms/services/+page.svelte
  packages/app/src/routes/(app)/backrooms/services/+page.ts
  packages/app/src/routes/(app)/services/[id]/edit/+page.svelte
  packages/app/src/routes/(app)/services/[id]/edit/+page.ts
  packages/app/src/routes/(app)/services/create/+page.svelte
  packages/app/src/routes/(app)/services/manage/+page.gql
  packages/app/src/routes/(app)/services/manage/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(search): implement mixed search
  packages/api/barrelsby.config.json
  packages/api/src/modules/documents/resolvers/query.search-documents.ts
  packages/api/src/modules/events/resolvers/query.search-events.ts
  packages/api/src/modules/events/types/even-search-result.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/global/resolvers/index.ts
  packages/api/src/modules/global/resolvers/query.search.ts
  packages/api/src/modules/global/types/index.ts
  packages/api/src/modules/global/types/mixed-search-result.ts
  packages/api/src/modules/posts/resolvers/query.search-articles.ts
  packages/api/src/modules/posts/types/article-search-result.ts
  packages/api/src/modules/posts/types/index.ts
  packages/api/src/modules/search/README.md
  packages/api/src/modules/search/index.ts
  packages/api/src/modules/search/resolvers/index.ts
  packages/api/src/modules/search/resolvers/query.search.ts
  packages/api/src/modules/search/types/index.ts
  packages/api/src/modules/search/types/search-result.ts
  packages/api/src/modules/search/types/searchable-resources.ts
  packages/api/src/schema.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardArticle.houdini.svelte
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/routes/(app)/search/[[q]]/+page.gql
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(search): make it reactive
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changeset): add changeset
  .changeset/many-kids-smell.md
Due: prettier --write --ignore-unknown

fix(search): back button did not preserve search query
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build: fix build
  packages/api/src/modules/documents/resolvers/query.search-documents.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(search): add fallback icons for posts and events
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix: specialcase birthday when it's today
  .changeset/spotty-countries-perform.md
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(api): deprecate Mutation.upsertArticle
  packages/api/src/modules/posts/resolvers/mutation.upsert-article.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

build: fix schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

build(app): regenerate schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

feat(services): redo service edition page
  packages/api/barrelsby.config.json
  packages/api/src/modules/services/index.ts
  packages/api/src/modules/services/resolvers/index.ts
  packages/api/src/modules/services/resolvers/mutation.upsert-service-v2.ts
  packages/api/src/modules/services/resolvers/mutation.upsert-service.ts
  packages/api/src/modules/services/types/index.ts
  packages/api/src/modules/services/types/service-input.ts
  packages/api/src/modules/services/utils/index.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/AvatarSchool.svelte
  packages/app/src/lib/components/BaseInputText.svelte
  packages/app/src/lib/components/InputNumber.svelte
  packages/app/src/lib/components/ModalDialog.svelte
  packages/app/src/lib/components/PickSchool.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/lib/longpress.ts
  packages/app/src/routes/(app)/services/[id]/edit/+page.gql
  packages/app/src/routes/(app)/services/[id]/edit/+page.svelte
  packages/app/src/routes/(app)/services/[id]/edit/+page.ts
  packages/app/src/routes/(app)/services/[id]/edit/mutations.ts
  packages/app/src/routes/(app)/services/manage/+page.gql
  packages/app/src/routes/(app)/services/manage/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown
