Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore(deps): update dependency graphql-zeus to v7
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency svelte-store2storage to v2
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(events): make school-restricted events visible to other school's students if some tickets are opened to them
  .changeset/wise-jobs-help.md
  packages/api/src/modules/events/utils/permissions.ts
  packages/api/src/modules/forms/utils/permissions.ts
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/api/src/permissions/events.ts
  packages/api/src/permissions/manager.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): update dependency stylelint to ^16.11.0
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @sveltejs/kit to ^2.9.0
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update pothos monorepo
  packages/api/package.json
  packages/db/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency stylelint-config-standard-scss to v14
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency eslint-plugin-svelte to ^2.46.1
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency graphql-yoga to ^5.10.4
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(changelog): update changelog
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore(changelog): add script to make changeset bot update changelog when releasing
  scripts/release-user-facing-changelog.js
  scripts/update-versions.sh
Due: eslint --fix, prettier --write --ignore-unknown

fix(changelog): fix URLs to releases for versions >= 2.0.0
  CHANGELOG.md
  scripts/release-user-facing-changelog.js
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): update dependency execa to ^9.5.1
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency concurrently to ^9.1.0
  package.json
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(changelog): fix erroneous 3.1.0 section
  CHANGELOG.md
Due: prettier --write --ignore-unknown

fix(changelog): fix release-user-facing-changelog script
  scripts/release-user-facing-changelog.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(deps): update dependency cookie to ^1.0.2
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/bright-poems-wink.md
  .changeset/bright-sheep-swim.md
  .changeset/curvy-lamps-rescue.md
  .changeset/dull-cooks-worry.md
  .changeset/fair-wasps-shave.md
  .changeset/giant-rice-exercise.md
  .changeset/great-wolves-flow.md
  .changeset/lucky-tomatoes-reflect.md
  .changeset/perfect-rats-train.md
  .changeset/real-bears-matter.md
  .changeset/thirty-kangaroos-yawn.md
  CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/arborist/CHANGELOG.md
  packages/arborist/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update node.js to v22
  Dockerfile
  package.json
  packages/api/package.json
  packages/arborist/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/material-symbols to ^1.2.9
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/material-symbols-light to ^1.2.9
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/simple-icons to ^1.2.14
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @types/pdfmake to ^0.2.10
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @vizdom/vizdom-ts-node to ^0.1.18
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency dotenv to ^16.4.7
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/material-symbols-light to ^1.2.10
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/simple-icons to ^1.2.15
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

refactor!: remove /reports/ pages and gitlab issues listing api (closes #1244)
  .changeset/curly-wombats-hang.md
  .changeset/poor-boats-search.md
  packages/api/.graphinx.yaml
  packages/api/barrelsby.config.json
  packages/api/src/modules/gitlab/README.md
  packages/api/src/modules/gitlab/icon.svg
  packages/api/src/modules/gitlab/resolvers/issue.comments.ts
  packages/api/src/modules/gitlab/resolvers/query.code-contributors.ts
  packages/api/src/modules/gitlab/resolvers/query.issue.ts
  packages/api/src/modules/gitlab/resolvers/query.issues-by-user.ts
  packages/api/src/modules/gitlab/types/issue-comment.ts
  packages/api/src/modules/gitlab/types/issue-state.ts
  packages/api/src/modules/gitlab/types/issue.ts
  packages/api/src/modules/gitlab/utils/gitlab-api.ts
  packages/api/src/modules/gitlab/utils/labels.ts
  packages/api/src/modules/global/resolvers/mutation.create-gitlab-issue.ts
  packages/api/src/schema.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/components/Alert.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/display.ts
  packages/app/src/lib/theme.ts
  packages/app/src/routes/(app)/+error.svelte
  packages/app/src/routes/(app)/credits/+page.svelte
  packages/app/src/routes/(app)/credits/+page.ts
  packages/app/src/routes/(app)/reports/+page.svelte
  packages/app/src/routes/(app)/reports/+page.ts
  packages/app/src/routes/(app)/reports/[number]/+page.svelte
  packages/app/src/routes/(app)/reports/[number]/+page.ts
  packages/app/src/routes/+error.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(prisma): make sure migration SQL files only contain real changes
  .changeset/gold-mangos-rest.md
  packages/db/prisma/migrations/20241123005143_id_generation_use_explicit_typecasts/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

refactor(kiosk): move /kiosk to Houdini, remove kioskReload subscription support
  .changeset/few-jars-visit.md
  .changeset/stale-jobs-shake.md
  packages/api/src/modules/events/resolvers/mutation.kiosk-reload.ts
  packages/api/src/modules/events/resolvers/subscription.kiosk-reload.ts
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/client.ts
  packages/app/src/lib/components/Alert.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/theme.ts
  packages/app/src/routes/(app)/+error.svelte
  packages/app/src/routes/(external)/kiosk/+page.svelte
  packages/app/src/routes/(external)/kiosk/+page.ts
  packages/app/src/routes/+error.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/material-symbols to ^1.2.10
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency prettier to ^3.4.2
  package.json
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency svelte-check to ^4.1.1
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency @carbon/charts-svelte to ^1.22.7
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency dataloader to ^2.2.3
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(gdpr): exports fail to be created
  .changeset/four-lamps-bow.md
  packages/api/src/modules/users/utils/gdpr.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changelog): remove comment, it creates a parse error for changelog API integration
  CHANGELOG.md
  scripts/release-user-facing-changelog.js
Due: eslint --fix, prettier --write --ignore-unknown
