Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

feat(users): allow deleting accounts
  .changeset/eighty-walls-end.md
  .env.example
  packages/api/src/env.ts
  packages/api/src/modules/users/resolvers/index.ts
  packages/api/src/modules/users/resolvers/mutation.delete-user.ts
  packages/api/src/modules/users/resolvers/user.deletion-consequences.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/mutations.ts
  packages/app/src/routes/(app)/delete-account/+page.gql
  packages/app/src/routes/(app)/delete-account/+page.svelte
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/db/prisma/migrations/20241112162939_user_fix_deletion_cascades/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(profile): paiement en attente sur le profil d'ae quand loggedout (closes #1176)
  .changeset/wet-eggs-begin.md
  packages/api/src/modules/student-associations/types/student-association.ts
  packages/api/src/modules/student-associations/utils/permissions.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(family): migrate from zeus to houdini on search input query (see #1177)
  packages/app/src/lib/components/InputPerson.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor(ticketing)!: remove deprecated Mutation.upsertRegistration
  .changeset/spotty-cows-kneel.md
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

fix(mails): only show point of contact on booking email when there's one
  packages/api/src/mail-templates/booking.mjml
Due: prettier --write --ignore-unknown

chore(changesets): add changesets
  .changeset/afraid-hounds-sing.md
  .changeset/breezy-clouds-behave.md
  .changeset/good-brooms-invite.md
  .changeset/silly-bananas-scream.md
Due: prettier --write --ignore-unknown

feat(events): implement points of contact, improve event bookings list page
  packages/api/src/mail-templates/booking.mjml
  packages/api/src/mail-templates/props.ts
  packages/api/src/modules/events/resolvers/mutation.update-event.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/mutation.book-event.ts
  packages/api/src/modules/ticketing/resolvers/mutation.verify-booking.ts
  packages/api/src/modules/ticketing/types/registration.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/app.d.ts
  packages/app/src/lib/components/AvatarUser.svelte
  packages/app/src/lib/components/BookingBeneficiary.svelte
  packages/app/src/lib/components/BookingPaymentMethod.svelte
  packages/app/src/lib/dates.ts
  packages/app/src/lib/download.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.gql
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/events/[id]/ModalBookTicket.svelte
  packages/app/src/routes/(app)/events/[id]/bookings.csv/+server.ts
  packages/app/src/routes/(app)/events/[id]/bookings/+page.gql
  packages/app/src/routes/(app)/events/[id]/bookings/+page.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/ItemBooking.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/ModalBookingDetails.svelte
  packages/app/src/routes/(app)/events/[id]/bookings/csv.ts
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.gql
  packages/app/src/routes/(app)/events/[id]/edit/tickets/+page.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/mutations.ts
  packages/db/prisma/migrations/20241110220155_registration_add_point_of_contact/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(bookings): make accountless bookings enter their name alongside their email address
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/mutation.book-event.ts
  packages/api/src/modules/ticketing/types/registration.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/BookingAuthor.svelte
  packages/app/src/lib/components/BookingBeneficiary.svelte
  packages/app/src/routes/(app)/events/[id]/ModalBookTicket.svelte
  packages/db/prisma/migrations/20241111013537_registration_add_author_name/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(ticketing): allow setting 4th yeartier on graduation year constraint (closes #1194)
  .changeset/real-bears-matter.md
  packages/app/src/lib/components/Submenu.svelte
  packages/app/src/lib/components/SubmenuItem.svelte
  packages/app/src/routes/(app)/events/[id]/edit/tickets/[ticket]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP: comments refresh
  packages/api/src/modules/comments/resolvers/comment.replies.ts
  packages/api/src/modules/comments/resolvers/mutation.delete-comment.ts
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
  packages/api/src/modules/comments/types/comment.ts
  packages/api/src/modules/comments/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardCommentV2.svelte
  packages/db/prisma/migrations/20241112194642_comment_add_thread_root/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Apply 1 suggestion(s) to 1 file(s)
  PRIVACY.md
Due: prettier --write --ignore-unknown

chore: more comprehensive privacy policy
  PRIVACY.md
Due: prettier --write --ignore-unknown

WIP
  .env.example
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/comments/resolvers/index.ts
  packages/api/src/modules/comments/resolvers/mutation.delete-comment.ts
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
  packages/api/src/modules/comments/resolvers/query.comment.ts
  packages/api/src/modules/comments/types/comment.ts
  packages/api/src/modules/comments/types/commentable.ts
  packages/api/src/modules/groups/resolvers/query.group.ts
  packages/api/src/modules/posts/resolvers/query.article.ts
  packages/api/src/modules/posts/resolvers/query.homepage.ts
  packages/api/src/permissions/article.ts
  packages/app/package.json
  packages/app/schema.graphql
  packages/app/src/lib/components/AreaComments.houdini.svelte
  packages/app/src/lib/components/AvatarUser.svelte
  packages/app/src/lib/components/CardCommentMutations.ts
  packages/app/src/lib/components/CardCommentV2.svelte
  packages/app/src/routes/(app)/posts/[id]/+page.gql
  packages/app/vite.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(ci): see runner space just before yarn install
  Dockerfile
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(ci): see runner space just before yarn install
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(ci): make yarn install verbose, also check runner space after (in case it works...)
  Dockerfile
Due: prettier --write --ignore-unknown

chore(ci): yarn install verbose does not exist anymore, maybe one job at a time works better?
  Dockerfile
Due: prettier --write --ignore-unknown

chore(ci): seems to work when only running one job at a time
  Dockerfile
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(api/env): allow postgresql:// along side postgres:// for database url
  .changeset/tough-ligers-work.md
  packages/api/src/env.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci: remove manual rule for deploy_* jobs
  ci/docker.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/tough-ligers-work.md
  packages/api/CHANGELOG.md
  packages/api/package.json
Due: prettier --write --ignore-unknown

chore(api docs): fix uncategorized items
  packages/api/.graphinx.yaml
  packages/api/src/modules/events/types/event-search-result.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/mutation.update-ticket-constraints.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(api docs): update logo
  packages/api/docs/logo-masked-dark.png
Due: prettier --write --ignore-unknown

chore: version packages
  .changeset/four-candles-rest.md
Due: prettier --write --ignore-unknown

feat(android): make back gesture/button go back in history
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(uid): remove bar-weeks from softbanned uids
  packages/app/src/routes/check-uid/[uid]/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(notifications): implement sending notifications to native-issued subscription endpoints
  .env.example
Due: prettier --write --ignore-unknown

feat(app): add rudimentary haptics support on native
  package.json
  packages/app/src/lib/vibration.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): make /logout work
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/logout/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): make logout work
  packages/app/src/routes/(app)/logout/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(capacitor): make oauth login work‼️
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(capacitor): remove serverside code for bookings and login, make local login work!
  packages/app/android/app/src/main/java/app/churros/MainActivity.java
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/client.ts
  packages/app/src/lib/env.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/login/+page.server.ts
  packages/app/src/routes/(app)/login/+page.svelte
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(native): handle push notifications (wip)
  packages/app/package.json
  packages/app/src/lib/components/AnalyticsTracker.svelte
  packages/app/src/lib/notifications.ts
  packages/app/src/routes/(app)/notifications/+page.gql
  packages/app/src/routes/(app)/notifications/+page.svelte
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor: add native sources as submodules
  .gitmodules
Due: prettier --write --ignore-unknown
