Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(healthcheck): make SMTP healthcheck nullable, add features healthcheck
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/modules/health-checks/utils/checks.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat(env): make validation errors pretty✨
  packages/api/package.json
  packages/api/src/lib/env.ts
  packages/api/src/lib/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(env): turn ENV().FOO into ENV.FOO by using a Proxy
  packages/api/src/env.ts
  packages/api/src/lib/apple-wallet.ts
  packages/api/src/lib/builder.ts
  packages/api/src/lib/google-wallet.ts
  packages/api/src/lib/ldap-school.ts
  packages/api/src/lib/mail.ts
  packages/api/src/lib/prometheus.ts
  packages/api/src/lib/pubsub.ts
  packages/api/src/lib/redis.ts
  packages/api/src/lib/storage.ts
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
  packages/api/src/modules/documents/resolvers/mutation.delete-document.ts
  packages/api/src/modules/forms/resolvers/mutation.mail-form-answers.ts
  packages/api/src/modules/gitlab/resolvers/mutation.create-gitlab-issue.ts
  packages/api/src/modules/gitlab/resolvers/query.code-contributors.ts
  packages/api/src/modules/global/types/pictured.ts
  packages/api/src/modules/groups/resolvers/query.groups.ts
  packages/api/src/modules/health-checks/utils/checks.ts
  packages/api/src/modules/mails/utils/mailing-lists.ts
  packages/api/src/modules/notifications/utils/vapid.ts
  packages/api/src/modules/pages/types/page.ts
  packages/api/src/modules/search/resolvers/query.search.ts
  packages/api/src/modules/ticketing/resolvers/mutation.create-apple-wallet-pass.ts
  packages/api/src/modules/ticketing/resolvers/mutation.create-google-wallet-pass.ts
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/api/src/modules/users/resolvers/mutation.create-password-reset.ts
  packages/api/src/modules/users/resolvers/mutation.login.ts
  packages/api/src/modules/users/resolvers/mutation.register-google-credential.ts
  packages/api/src/modules/users/resolvers/mutation.start-signup.ts
  packages/api/src/modules/users/resolvers/mutation.update-user.ts
  packages/api/src/modules/users/utils/passwords.ts
  packages/api/src/modules/users/utils/registration.ts
  packages/api/src/server/auth/logout.ts
  packages/api/src/server/auth/oauth2.ts
  packages/api/src/server/auth/session.ts
  packages/api/src/server/booking-pdf.ts
  packages/api/src/server/express.ts
  packages/api/src/server/graphql.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(env): undo weird workaround attempts
  packages/api/barrelsby.config.json
  packages/api/scripts/generate-barrelsby-config.ts
  packages/api/src/env.ts
  packages/api/src/lib/builder.ts
  packages/api/src/lib/env.ts
  packages/api/src/lib/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(healthcheck): remove FeaturesHealthCheck.masterPassword
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/modules/health-checks/utils/checks.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

chore(api): fix imports that didn't use aliases, remove commented-out code blokcs
  packages/api/src/env.ts
  packages/api/src/modules/forms/resolvers/mutation.mail-form-answers.ts
  packages/api/src/modules/health-checks/utils/checks.ts
  packages/api/src/modules/ticketing/resolvers/mutation.upsert-registration.ts
  packages/api/src/modules/users/resolvers/mutation.create-password-reset.ts
  packages/api/src/modules/users/resolvers/mutation.login.ts
  packages/api/src/modules/users/resolvers/mutation.update-user.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(env): use ENV in lydia & notifications
  packages/api/package.json
  packages/api/src/env.ts
  packages/api/src/modules/notifications/utils/send.ts
  packages/api/src/modules/payments/utils/lydia/accounts.ts
  packages/api/src/modules/payments/utils/lydia/pay.ts
  packages/api/src/modules/payments/utils/lydia/transactions.ts
  packages/api/src/modules/payments/utils/paypal/transactions.ts
  packages/api/src/server/auth/oauth2.ts
Due: eslint --fix, prettier --write --ignore-unknown

docs(env): fix path to env.ts in yarn sync-with-example-dotenv
  scripts/sync-with-example-dotenv.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(lydia): update permission check for Mutation.upsertLydiaAccount
  packages/api/src/modules/payments/resolvers/mutation.upsert-lydia-account.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(lydia)!: make Mutation.upsertLydiaAccount return a Result
  packages/api/src/modules/payments/resolvers/mutation.upsert-lydia-account.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat(lydia): surface errors to users when search/adding lydia accounts
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(k8s): scale up postgres
  kubernetes/postgresql/cluster.yaml
Due: prettier --write --ignore-unknown

fix(app): correctly forward readonly prop to baseinput (closes #1207)
  .changeset/dry-jars-whisper.md
  packages/app/src/lib/components/BaseInputText.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

build(shop): remove shop-specific components
  packages/app/src/lib/components/FormPictureItem.svelte
  packages/app/src/lib/components/FormShopItem.svelte
  packages/app/src/lib/components/ItemBuyingTable.svelte
  packages/app/src/lib/components/ItemOrder.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(prometheus): use envelop plugin to expose prometheus counters
  packages/api/package.json
  packages/api/src/lib/builder.ts
  packages/api/src/lib/prometheus.ts
  packages/api/src/lib/ratelimit.ts
  packages/api/src/server/graphql.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(deps): add helloasso dependency
  packages/api/package.json
Due: prettier --write --ignore-unknown

feat(helloasso): setup env vars, add functions to create events and get orders
  .env.example
  packages/api/package.json
  packages/api/prisma/migrations/20240526135926_add_helloasso/migration.sql
  packages/api/src/global.d.ts
  packages/api/src/modules/payments/utils/helloasso/auth.ts
  packages/api/src/modules/payments/utils/helloasso/create.ts
  packages/api/src/modules/payments/utils/helloasso/index.ts
  packages/api/src/modules/payments/utils/helloasso/order.ts
  packages/api/src/modules/payments/utils/index.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/index.ts
  packages/api/src/modules/ticketing/utils/naming.ts
  packages/api/src/modules/ticketing/utils/uid.ts
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

feat(helloasso): include banner image when creating event
  packages/api/src/modules/payments/utils/helloasso/create.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(prisma): rebase migration
  packages/db/prisma/migrations/20241008134056_add_helloasso/migration.sql
Due: prettier --write --ignore-unknown

feat: continue helloasso integration
  packages/api/package.json
  packages/api/src/modules/payments/utils/helloasso/auth.ts
  packages/api/src/modules/payments/utils/helloasso/create.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/index.ts
  packages/api/src/modules/ticketing/utils/naming.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): set icon & splash screen
  packages/app/package.json
  packages/app/static/logo-dark.svg
  packages/app/static/logo.svg
  yarn.lock
Due: prettier --write --ignore-unknown

chore(app): remove unused lib/*.ts files
  packages/app/src/lib/longpress.ts
  packages/app/src/lib/markdown.ts
  packages/app/src/lib/permissions.ts
  packages/app/src/lib/sorting.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(app): remove old unused static PNGs
  packages/app/static/ChurrosBer7ker.png
  packages/app/static/ChurrosBer7kerWordmark.png
  packages/app/static/ChurrosPan7on.png
  packages/app/static/ChurrosPan7onTelBas.png
  packages/app/static/ChurrosPan7onTelHaut.png
  packages/app/static/ChurrosPan7onWordmark.png
  packages/app/static/ChurrosPan7onv6.png
  packages/app/static/ChurrosPcPan7on.png
  packages/app/static/LogoBer7kerReverse.png
  packages/app/static/b7kheader.png
  packages/app/static/dessinBer7ker.png
  packages/app/static/gd7t-bg.jpg
  packages/app/static/gd7t-bottom.png
  packages/app/static/gd7t-logo.png
  packages/app/static/gd7t-top.png
  packages/app/static/gd7t-wordmark.png
  packages/app/static/noel-bottombar.png
  packages/app/static/noel-loading-logo.png
  packages/app/static/noel-logo.png
  packages/app/static/noel-topbar.png
  packages/app/static/noel-wordmark.png
Due: prettier --write --ignore-unknown

feat(app): add rudimentary haptics support on native
  package.json
  packages/app/src/lib/vibration.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(app): update logo
  packages/app/static/logo.png
Due: prettier --write --ignore-unknown

feat(ticketing): improve default constraints (closes #1212)
  .changeset/silent-walls-eat.md
  packages/db/prisma/migrations/20241022095108_improve_default_ticket_constraints/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

feat(lydia): improve bank accounts management page, allow deleting lydia accounts
  packages/api/src/modules/payments/resolvers/index.ts
  packages/api/src/modules/payments/resolvers/mutation.delete-lydia-account.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(android): make back gesture/button go back in history
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): make /logout work
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/logout/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(capacitor): remove serverside code for bookings and login, make local login work!
  packages/app/android/app/src/main/java/app/churros/MainActivity.java
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/client.ts
  packages/app/src/lib/env.ts
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/login/+page.server.ts
  packages/app/src/routes/(app)/login/+page.svelte
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(native): store token across app restarts
  packages/app/android/app/capacitor.build.gradle
  packages/app/android/capacitor.settings.gradle
  packages/app/package.json
  packages/app/src/lib/oauth.ts
  packages/app/src/lib/session.ts
  packages/app/src/routes/(app)/login/+page.ts
  packages/app/src/routes/(app)/logout/+page.server.ts
  packages/app/src/routes/+layout.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(capacitor): make oauth login work‼️
  packages/app/android/app/build.gradle
  packages/app/android/app/capacitor.build.gradle
  packages/app/android/app/src/main/AndroidManifest.xml
  packages/app/android/capacitor.settings.gradle
  packages/app/android/variables.gradle
  packages/app/ios/App/App/Info.plist
  packages/app/ios/App/Podfile
  packages/app/package.json
  packages/app/src/lib/oauth.ts
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/four-candles-rest.md
Due: prettier --write --ignore-unknown

fix(registration): do not allow custom username
  .changeset/four-candles-rest.md
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
