Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

chore: regenerate yarn lockfile
  yarn.lock
Due: prettier --write --ignore-unknown

feat(capacitor): make oauth login work‼️
  packages/app/src/routes/(app)/login/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(native): make logout work
  packages/app/src/routes/(app)/logout/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

docs(dotenv): mention that 10.0.2.2 only works on AVDs, not physical devices. facilitate ngrok usage
  .env.example
  .ngrok.yaml
  package.json
Due: prettier --write --ignore-unknown

feat(uid): remove bar-weeks from softbanned uids
  packages/app/src/routes/check-uid/[uid]/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: add native sources as submodules
  .gitmodules
Due: prettier --write --ignore-unknown

feat(native): set icon & splash screen
  packages/app/package.json
  packages/app/static/logo-dark.svg
  packages/app/static/logo.svg
  yarn.lock
Due: prettier --write --ignore-unknown

feat(native): handle push notifications (wip)
  packages/app/package.json
  packages/app/src/lib/components/AnalyticsTracker.svelte
  packages/app/src/lib/notifications.ts
  packages/app/src/routes/(app)/notifications/+page.gql
  packages/app/src/routes/(app)/notifications/+page.svelte
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(native): notifications fkn work!!! (tested with a real APK)
  .eslintignore
  packages/app/capacitor.config.ts
  packages/app/src/lib/notifications.ts
  packages/app/src/routes/(app)/notifications/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(notifications): implement sending notifications to native-issued subscription endpoints
  .env.example
Due: prettier --write --ignore-unknown

chore(app): update logo
  packages/app/static/logo.png
Due: prettier --write --ignore-unknown

feat(app): add rudimentary haptics support on native
  package.json
  packages/app/src/lib/vibration.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(vscode): make "Setup environment" VSCode task actually work
  .vscode/tasks.json
Due: prettier --write --ignore-unknown

refactor(app): handle login redirection idiosyncrasies in one place
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(login): only do full-page redirection on /login when using oauth
  packages/app/src/routes/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/wicked-lands-doubt.md
Due: prettier --write --ignore-unknown

feat(modals): improve open/close animations, add title prop and narrow prop
  packages/app/src/lib/components/ModalDialog.svelte
  packages/app/src/lib/components/ModalOrDrawer.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/small-days-pull.md
Due: prettier --write --ignore-unknown

feat(lydia): surface errors to users when search/adding lydia accounts
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(lydia): improve linked accounts list, use password input for password, minor style fixes
  packages/api/src/modules/payments/types/lydia-account.ts
  packages/app/schema.graphql
  packages/app/src/lib/i18n.ts
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.gql
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): improve skeleton UI appearance
  .changeset/wicked-seals-tie.md
  packages/app/src/lib/components/LoadingText.svelte
  packages/app/static/colors.css
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(profile): make group members link point to group/user pages instead of group member edition modal
  .changeset/gorgeous-islands-draw.md
  packages/app/src/routes/(app)/[uid=uid]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(lydia): improve bank accounts management page, allow deleting lydia accounts
  .changeset/small-days-pull.md
  packages/api/src/modules/payments/resolvers/index.ts
  packages/api/src/modules/payments/resolvers/mutation.delete-lydia-account.ts
  packages/api/src/modules/payments/resolvers/mutation.upsert-lydia-account.ts
  packages/api/src/modules/payments/types/lydia-account.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/ModalDialog.svelte
  packages/app/src/lib/components/ModalOrDrawer.svelte
  packages/app/src/lib/i18n.ts
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.gql
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/dry-jars-whisper.md
  .changeset/gorgeous-islands-draw.md
  .changeset/pink-hounds-bake.md
  .changeset/silent-walls-eat.md
  .changeset/small-days-pull.md
  .changeset/wild-cycles-eat.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(settings): allow changing theme
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP
  packages/api/src/modules/themes/resolvers/index.ts
  packages/api/src/modules/themes/resolvers/mutation.set-theme-value.ts
  packages/api/src/modules/themes/resolvers/mutation.upsert-theme.ts
  packages/api/src/modules/themes/resolvers/query.theme.ts
  packages/api/src/modules/themes/resolvers/user.can-create-themes-on.ts
  packages/api/src/modules/themes/types/theme.ts
  packages/api/src/modules/themes/utils/defaults.ts
  packages/api/src/modules/themes/utils/index.ts
  packages/api/src/modules/themes/utils/permissions.ts
  packages/app/houdini.config.js
  packages/app/schema.graphql
  packages/app/src/lib/components/NavigationTabs.svelte
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
  packages/app/src/lib/display.ts
  packages/app/src/lib/theme.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/(app)/settings/theme/+page.gql
  packages/app/src/routes/(app)/settings/theme/+page.svelte
  packages/app/src/routes/(app)/settings/theme/ThemePreviewCard.svelte
  packages/app/src/routes/+layout.gql
  packages/app/src/routes/+layout.svelte
  packages/app/src/routes/+layout.ts
  packages/app/src/service-worker.ts
  packages/db/prisma/migrations/20241010000756_themes_make_dates_optional/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(prisma): rebase migration
  packages/db/prisma/migrations/20241024023321_themes_make_dates_optional/migration.sql
Due: prettier --write --ignore-unknown

chore(changeset): add changeset
  .changeset/dull-cooks-worry.md
  .changeset/lucky-tomatoes-reflect.md
Due: prettier --write --ignore-unknown

feat(themes): finish :3
  packages/api/src/modules/themes/resolvers/index.ts
  packages/api/src/modules/themes/resolvers/mutation.delete-theme.ts
  packages/api/src/modules/themes/types/theme.ts
  packages/api/src/modules/themes/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/AvatarGroup.houdini.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
  packages/app/src/lib/theme.ts
  packages/app/src/routes/(app)/+layout.gql
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/(app)/settings/theme/+page.gql
  packages/app/src/routes/(app)/settings/theme/+page.svelte
  packages/app/src/routes/(app)/settings/theme/ThemePreviewCard.svelte
  packages/app/src/routes/(app)/themes.css/+server.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(themes editor): add basic a11y checks, debounce updating values in API
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
  packages/app/src/routes/(app)/settings/theme/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(theme editor): improve wording on image url explanation
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(scripts): prevent annoying formatting problems when updating id prefix -> typename map
  packages/api/scripts/update-id-prefix-to-typename-map.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(dev): add watchers for cp-env, mail templates type, id prefix/typenames map, barrel files
  package.json
  packages/api/package.json
  packages/api/scripts/watch-barrels.ts
  packages/api/scripts/watch-id-prefixes.ts
  packages/api/scripts/watch-mail-templates.ts
  scripts/watch-env.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(scripts): barrelize first & fix manual barrels generation
  packages/api/package.json
  packages/api/scripts/generate-barrelsby-config.ts
Due: eslint --fix, prettier --write --ignore-unknown
