Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.{js,ts,svelte}": "eslint --fix",
  "*.{css,scss,svelte}": "stylelint --fix",
  "*": "prettier --write --ignore-unknown"
}

feat(app): drop /bar-weeks
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/routes/(app)/bar-weeks/+page.svelte
  packages/app/src/routes/(app)/bar-weeks/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(posts): redesign posts UI
  packages/app/schema.graphql
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
  packages/app/src/routes/(app)/posts/[id]/edit/event/EventSelectItem.svelte
  packages/app/src/routes/(app)/posts/[id]/edit/visibility/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(posts): pad content of notifications warning modal
  packages/app/src/routes/(app)/posts/[id]/edit/visibility/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(posts): improve image display on post page
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(posts): posts navigation
  packages/app/src/lib/navigation.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(posts): fix typing of EventSelect{Item,List}
  packages/app/src/routes/(app)/posts/[id]/edit/event/EventSelectItem.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changeset): add changeset
  .changeset/giant-bugs-chew.md
Due: prettier --write --ignore-unknown

feat(profile): click avatar to enlarge it (closes #1159)
  packages/app/src/design/app.scss
  packages/app/src/lib/components/Avatar.svelte
  packages/app/src/lib/components/AvatarMajor.svelte
  packages/app/src/lib/components/AvatarSchool.svelte
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(search): implement showing rank & similarity values in debug mode
  .changeset/purple-rats-visit.md
  packages/api/src/modules/documents/types/document-search-result.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/search/[[q]]/+page.gql
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(app): can't clear search field (closes #1171)
  .changeset/ninety-olives-deliver.md
  packages/app/src/routes/(app)/search/[[q]]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(search): favoriser groupes & personnes dans les resultats de recherche (closes #1169)
  .changeset/shiny-berries-kiss.md
  packages/api/src/modules/search/resolvers/query.search.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(app): fix graphql schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

build(app): fix double declarations after merge conflicts
  packages/app/src/lib/components/CardEvent.svelte
  packages/app/src/routes/(app)/posts/[id]/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore!: drop useless stuff
  .changeset/sweet-bugs-explode.md
  packages/api/barrelsby.config.json
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/bar-weeks/README.md
  packages/api/src/modules/bar-weeks/icon.svg
  packages/api/src/modules/bar-weeks/index.ts
  packages/api/src/modules/bar-weeks/resolvers/group.bar-weeks.ts
  packages/api/src/modules/bar-weeks/resolvers/index.ts
  packages/api/src/modules/bar-weeks/resolvers/mutation.delete-bar-week.ts
  packages/api/src/modules/bar-weeks/resolvers/mutation.upsert-bar-week.ts
  packages/api/src/modules/bar-weeks/resolvers/query.bar-week-now.ts
  packages/api/src/modules/bar-weeks/resolvers/query.bar-week.ts
  packages/api/src/modules/bar-weeks/resolvers/query.bar-weeks.ts
  packages/api/src/modules/bar-weeks/types/bar-week.ts
  packages/api/src/modules/bar-weeks/types/index.ts
  packages/api/src/schema.ts
  packages/app/schema.graphql
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/bar-weeks/+page.svelte
  packages/app/src/routes/(app)/bar-weeks/+page.ts
  packages/db/prisma/migrations/20240923083644_drop_bar_weeks/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
  packages/oauth-client-python/README.md
  packages/oauth-client-python/churros/client/__init__.py
  packages/oauth-client-python/churros/client/__pycache__/__init__.cpython-311.pyc
  packages/oauth-client-python/dist/churros-0.5.0-py3-none-any.whl
  packages/oauth-client-python/dist/churros-0.5.0.tar.gz
  packages/oauth-client-python/dist/churros-0.6.0-py3-none-any.whl
  packages/oauth-client-python/dist/churros-0.6.0.tar.gz
  packages/oauth-client-python/poetry.lock
  packages/oauth-client-python/pyproject.toml
  packages/oauth-client/CHANGELOG.md
  packages/oauth-client/README.md
  packages/oauth-client/index.ts
  packages/oauth-client/package.json
  packages/oauth-client/tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(governance): move from Releaser to Core Team
  GOVERNANCE.md
Due: prettier --write --ignore-unknown

chore(governance): add expiration for Core Team membership
  GOVERNANCE.md
Due: prettier --write --ignore-unknown

Apply 1 suggestion(s) to 1 file(s)
  GOVERNANCE.md
Due: prettier --write --ignore-unknown

chore(api): update CONTRIBUTING.md
  packages/api/CONTRIBUTING.md
Due: prettier --write --ignore-unknown

fix(posts): le body d'un post n'est jamais sauvegardé (closes #1175)
  .changeset/metal-snails-sparkle.md
  packages/app/src/routes/(app)/posts/[id]/edit/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

Added issue template
  .gitlab/issue_templates/template.md
Due: prettier --write --ignore-unknown

Changed (renamed) issue template for the default one
  .gitlab/issue_templates/Default.md
Due: prettier --write --ignore-unknown

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/Default.md
Due: prettier --write --ignore-unknown

feat(profile): enlarge picture on click
  .changeset/giant-bugs-chew.md
  packages/app/src/design/app.scss
  packages/app/src/lib/components/Avatar.svelte
  packages/app/src/lib/components/AvatarMajor.svelte
  packages/app/src/lib/components/AvatarSchool.svelte
  packages/app/src/routes/(app)/[uid=uid]/Header.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: add default issue template
  .gitlab/issue_templates/Default.md
Due: prettier --write --ignore-unknown

chore(governance): add modification process section
  GOVERNANCE.md
Due: prettier --write --ignore-unknown

chore(changesets): fix giant-bugs-chew.md
  .changeset/giant-bugs-chew.md
Due: prettier --write --ignore-unknown

chore(deps): add helloasso dependency
  packages/api/package.json
Due: prettier --write --ignore-unknown

feat(helloasso): setup env vars, add functions to create events and get orders
  .env.example
  packages/api/package.json
  packages/api/prisma/migrations/20240526135926_add_helloasso/migration.sql
  packages/api/src/global.d.ts
  packages/api/src/modules/payments/utils/helloasso/auth.ts
  packages/api/src/modules/payments/utils/helloasso/create.ts
  packages/api/src/modules/payments/utils/helloasso/index.ts
  packages/api/src/modules/payments/utils/helloasso/order.ts
  packages/api/src/modules/payments/utils/index.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/index.ts
  packages/api/src/modules/ticketing/utils/naming.ts
  packages/api/src/modules/ticketing/utils/uid.ts
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

feat(helloasso): include banner image when creating event
  packages/api/src/modules/payments/utils/helloasso/create.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: continue helloasso integration
  packages/api/package.json
  packages/api/src/modules/payments/utils/helloasso/auth.ts
  packages/api/src/modules/payments/utils/helloasso/create.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/api/src/modules/ticketing/utils/index.ts
  packages/api/src/modules/ticketing/utils/naming.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(prisma): rebase migration
  packages/db/prisma/migrations/20241008134056_add_helloasso/migration.sql
Due: prettier --write --ignore-unknown

refactor(api): fix small errors in services/ and student-associations/
  packages/api/src/modules/services/utils/permissions.ts
  packages/api/src/modules/student-associations/types/student-association.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(app): remove HelloAsso PaymentMethod that somehow got into the schema
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

build(api): fix circular import services <-> student-associations
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
  packages/api/src/modules/groups/types/index.ts
  packages/api/src/modules/services/resolvers/index.ts
  packages/api/src/modules/services/resolvers/student-association.can-create-services.ts
  packages/api/src/modules/student-associations/types/student-association.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(env): don't use zod-validate-env
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/lib/env.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown
