Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove AreaComments
  packages/app/src/lib/components/AreaComments.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(deps): update dependency @changesets/cli to ^2.27.12
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/material-symbols to ^1.2.13
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/mdi to ^1.2.3
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(deps): update dependency @carbon/charts-svelte to ^1.22.15
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: rename AvatarGroup
  packages/app/src/lib/components/AvatarGroup.houdini.svelte
  packages/app/src/lib/components/AvatarGroup.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: remove Mutation.upsertComment resolver
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: redo migration
  packages/db/prisma/migrations/20241112091345_remove_notified_at/migration.sql
  packages/db/prisma/migrations/20250125201405_remove_notified_at/migration.sql
  packages/db/prisma/schema.prisma
Due: prettier --write --ignore-unknown

chore: regen lockfile
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/material-symbols-light to ^1.2.13
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @iconify-json/simple-icons to ^1.2.21
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @types/jsonwebtoken to ^9.0.8
  packages/api/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(deps): update dependency @types/lodash to ^4.17.14
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(docker): clearly separate each stage with comments
  Dockerfile
Due: prettier --write --ignore-unknown

chore(changesets): generate for renovate MRs (Closes #1250)
  scripts/generate-renovate-changesets.js
  scripts/update-versions.sh
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): mention changeset/renovate automation
  .changeset/test.md
  scripts/generate-renovate-changesets.js
Due: eslint --fix, prettier --write --ignore-unknown

fix(changesets): commit renovate changesets before versioning
  scripts/generate-renovate-changesets.js
Due: eslint --fix, prettier --write --ignore-unknown

chore(changesets): try pushing after renovate changeset generation
  scripts/update-versions.sh
Due: prettier --write --ignore-unknown

chore(changesets): run renovate generator on renovate mr merges instead
  ci/changesets.gitlab-ci.yml
  scripts/update-versions.sh
Due: prettier --write --ignore-unknown

fix(ci): fix config
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(ci): specify image
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(ci): don't npm install
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(changesets): use esm in renovate generator
  scripts/generate-renovate-changesets.js
Due: eslint --fix, prettier --write --ignore-unknown

ci: first try at android building
  Dockerfile
  ci/build.gitlab-ci.yml
  ci/build/android.gitlab-ci.yml
  packages/app/package.json
  packages/app/svelte.config.js
Due: eslint --fix, prettier --write --ignore-unknown

ci: recurse android submodule
  ci/build/android.gitlab-ci.yml
Due: prettier --write --ignore-unknown

fix(changesets): fix renovate generator
  scripts/generate-renovate-changesets.js
Due: eslint --fix, prettier --write --ignore-unknown

ci: force https for submodules
  ci/build/android.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(changesets): set git author
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(changesets): specify push destination
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(changesets): add gitlab origin, authed with changeset's token
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci: change remote name
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(changesets): load more commits
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

ci(changesets): don't fail if remote alraedy exists
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(changesets): add changesets for renovate branches
  .changeset/babel-monorepo.md
  .changeset/carbon-charts-svelte-1.x.md
  .changeset/iconify-json-material-symbols-1.x.md
  .changeset/iconify-json-mdi-1.x.md
  .changeset/sentry-javascript-monorepo.md
Due: prettier --write --ignore-unknown

chore(deps): update dependency c8 to ^10.1.3
  packages/arborist/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

ci(changesets): fix trigger condition
  ci/changesets.gitlab-ci.yml
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
