Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(api): don't redefine the subscription type twice
  packages/api/src/lib/builder.ts
  packages/api/src/lib/ratelimit.ts
Due: eslint --fix, prettier --write --ignore-unknown

wip: posts create/edit working again
  packages/api/src/modules/groups/resolvers/index.ts
  packages/api/src/modules/groups/resolvers/query.groups.ts
  packages/api/src/modules/groups/resolvers/user.can-create-posts-on.ts
  packages/api/src/modules/groups/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/posts/[[group]]/create/+page.gql
  packages/app/src/routes/(app)/posts/[[group]]/create/+page.svelte
  packages/app/src/routes/(app)/posts/[group]/[uid]/edit/+page.gql
  packages/app/src/routes/(app)/posts/[group]/[uid]/edit/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat: implement client credentials oauth flow, gives access to upsertArticle
  packages/api/src/lib/context.ts
  packages/api/src/modules/oauth/resolvers/mutation.authorize.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article.ts
Due: eslint --fix, prettier --write --ignore-unknown

wip: reorganize dependencies between events and ticketing, continue refactoring schema
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
  packages/api/src/lib/global-id.ts
  packages/api/src/modules/events/resolvers/index.ts
  packages/api/src/modules/events/resolvers/mutation.upsert-event.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/events/types/index.ts
  packages/api/src/modules/events/types/ticket-group-input.ts
  packages/api/src/modules/events/types/ticket-input.ts
  packages/api/src/modules/events/utils/permissions.ts
  packages/api/src/modules/events/utils/uid.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-counts.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings-csv.ts
  packages/api/src/modules/ticketing/resolvers/event.bookings.ts
  packages/api/src/modules/ticketing/resolvers/event.can-see-bookings.ts
  packages/api/src/modules/ticketing/resolvers/event.my-bookings.ts
  packages/api/src/modules/ticketing/resolvers/event.my-soonest-shotgun-opens-at.ts
  packages/api/src/modules/ticketing/resolvers/event.places-left.ts
  packages/api/src/modules/ticketing/resolvers/event.search-bookings.ts
  packages/api/src/modules/ticketing/resolvers/event.tickets.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
  packages/api/src/modules/ticketing/resolvers/query.ticket-by-uid.ts
  packages/api/src/modules/ticketing/resolvers/query.ticket.ts
  packages/api/src/modules/ticketing/resolvers/query.tickets-of-event.ts
  packages/api/src/modules/ticketing/resolvers/ticket.places-left.ts
  packages/api/src/modules/ticketing/types/index.ts
  packages/api/src/modules/ticketing/utils/uid.ts
  packages/app/src/lib/buildinfo.ts
  packages/app/src/lib/typenames.ts
  packages/app/svelte.config.js
  packages/db/prisma/migrations/20240702004115_ticket_make_slug_unique_per_event/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

chore(graphinx): update to v0.11.0
  packages/api/src/lib/builder.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(db): rename uid to slug where relevant, and deprecate corresponding API fields
  packages/api/src/modules/bar-weeks/types/bar-week.ts
  packages/api/src/modules/curriculum/types/minor.ts
  packages/api/src/modules/curriculum/types/subject.ts
  packages/api/src/modules/documents/types/document.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/posts/types/article.ts
  packages/api/src/modules/schools/types/school.ts
  packages/db/prisma/migrations/20240630200137_uid_to_slug/migration.sql
  packages/db/prisma/migrations/20240630201244_/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, prettier --write --ignore-unknown

wip: continue
  packages/app/src/lib/typenames.ts
  packages/app/src/routes/(app)/groups/[uid]/shop/[itemUid]/edit/+page.ts
  packages/app/src/routes/(app)/groups/[uid]/shop/orders/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/shop/orders/+page.ts
  packages/app/src/routes/(app)/groups/[uid]/shop/sales/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/shop/sales/+page.ts
  packages/app/src/routes/(app)/groups/[uid]/shop/sales/[itemUid]/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

wip: continue
  .zed/settings.json
  check.log
  ci/docker.gitlab-ci.yml
  packages/api/src/lib/builder.ts
  packages/api/src/lib/context.ts
  packages/api/src/modules/announcements/resolvers/mutation.upsert-announcement.ts
  packages/api/src/modules/events/types/event.ts
  packages/api/src/modules/forms/types/form.ts
  packages/api/src/modules/posts/resolvers/mutation.upsert-article.ts
  packages/api/src/modules/posts/resolvers/query.article.ts
  packages/api/src/modules/schools/types/school.ts
  packages/api/src/modules/shop/resolvers/group.shop-items.ts
  packages/api/src/modules/ticketing/resolvers/event.my-soonest-shotgun-opens-at.ts
  packages/api/src/modules/ticketing/resolvers/ticket.places-left.ts
  packages/api/src/schema.ts
  packages/app/src/lib/components/CardArticle.houdini.svelte
  packages/app/src/lib/dates.ts
  packages/app/src/routes/(app)/documents/+page.gql
  packages/app/src/routes/(app)/documents/+page.svelte
  packages/app/src/routes/(app)/documents/+page.ts
  packages/app/src/routes/(app)/documents/[major]/[yearTier=display_year_tier]/+page.ts
  packages/app/src/routes/(app)/events/[group]/[uid]/Header.svelte
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

ci(api docs): fix build path
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(git): add mailmap
  .mailmap
Due: prettier --write --ignore-unknown

chore(git): fix mailmap
  .mailmap
Due: prettier --write --ignore-unknown

chore(git): update .mailmap
  .mailmap
Due: prettier --write --ignore-unknown

chore(api): update modules import graph
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
Due: prettier --write --ignore-unknown

ci(github): update workflow
  .github/workflows/build.yml
Due: prettier --write --ignore-unknown

refactor(houdini): houdinify FormPicture
  .eslintrc.cjs
  packages/api/src/modules/groups/resolvers/mutation.delete-group-picture.ts
  packages/api/src/modules/groups/resolvers/mutation.update-group-picture.ts
  packages/api/src/modules/schools/resolvers/mutation.delete-school-picture.ts
  packages/api/src/modules/schools/resolvers/mutation.update-school-picture.ts
  packages/api/src/modules/users/resolvers/mutation.delete-user-picture.ts
  packages/api/src/modules/users/resolvers/mutation.update-user-picture.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/FormPicture.svelte
  packages/app/src/lib/components/FormPicture.ts
  packages/app/src/lib/components/FormPicture.tsunsafe.ts
  packages/app/src/lib/session.ts
  packages/app/src/lib/zeus.ts
  packages/app/src/routes/(app)/+layout.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(api): add end to end testing
  .graphqlrc.yaml
  packages/api/package.json
  packages/api/scripts/generate-barrelsby-config.ts
  packages/api/src/modules/users/tests/login.hurl
  packages/api/src/modules/users/tests/search.hurl
  packages/api/src/modules/users/tests/user.hurl
  packages/db/seed/index.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

feat(wip): implement view transitions
  packages/app/src/app.d.ts
  packages/app/src/design/app.scss
  packages/app/src/lib/components/NavigationBottom.svelte
  packages/app/src/lib/components/NavigationSide.svelte
  packages/app/src/lib/components/NavigationTabs.svelte
  packages/app/src/lib/components/NavigationTop.svelte
  packages/app/src/lib/view-transitions.ts
  packages/app/src/routes/(app)/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

docs(readme): add status badges
  README.md
Due: prettier --write --ignore-unknown

feat(log): log oauth token errors
  CHANGELOG.md
  packages/api/src/lib/context.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changelog): prepare for 1.66.0 release
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore(release): v1.66.0
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

fix(users): don't crash api when school ldap query fails
  packages/api/src/modules/users/utils/uid.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(oauth): add yeartier and graduationyear (closes #957)
  CHANGELOG.md
  packages/app/src/routes/(external)/identity/+server.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(api): log failed user from token context calls in api stderr
  packages/api/src/lib/context.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(release): v1.67.0
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

fix(auth): try to accomodate for double "Bearer" keywords in authorization header…
  packages/api/src/lib/context.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(docs): upgrade template
  packages/api/.graphinx.yaml
Due: prettier --write --ignore-unknown

feat(sessions): switch from in-memory sessions cache to redis
  docker-compose.yml
  packages/api/src/lib/context.ts
  packages/api/src/lib/index.ts
  packages/api/src/lib/sessioncache.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(homepage): clicking on posts when content was retrieved from cache did nothing
  packages/app/src/lib/components/CardArticle.houdini.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changelog): prepare changelog
  CHANGELOG.md
Due: prettier --write --ignore-unknown

chore(release): v1.67.1-rc.0
  CHANGELOG.md
  package.json
Due: prettier --write --ignore-unknown

fix(sessions): use SADD instead of LPUSH
  packages/api/src/lib/sessioncache.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci(docs): trigger docs re-build via commit "header", not manual trigger
  ci/volta.gitlab-ci.yml
Due: prettier --write --ignore-unknown

chore(docs): upgrade template
  packages/api/.graphinx.yaml
Due: prettier --write --ignore-unknown

fix(ticketing): fix can{Scan,See}bookings
  packages/api/src/modules/ticketing/resolvers/event.can-scan-bookings.ts
  packages/api/src/modules/ticketing/resolvers/event.can-see-bookings.ts
  packages/api/src/modules/ticketing/resolvers/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(api): add LocalID scalar and Node.localID
  packages/api/src/lib/builder.ts
  packages/api/src/modules/comments/resolvers/mutation.upsert-comment.ts
  packages/api/src/modules/global/resolvers/index.ts
  packages/api/src/modules/global/resolvers/node.local-id.ts
  packages/api/src/modules/global/types/index.ts
  packages/api/src/modules/global/types/local-id.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
