Repository inp-net/churros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(healthcheck): make SMTP healthcheck nullable, add features healthcheck
  packages/api/src/modules/health-checks/types/health-check.ts
  packages/api/src/modules/health-checks/utils/checks.ts
  packages/app/schema.graphql
Due: eslint --fix, prettier --write --ignore-unknown

feat(search): make rank bumps env-configurable
  .changeset/shiny-berries-kiss.md
  .env.example
  package.json
  packages/api/src/global.d.ts
  packages/api/src/modules/search/resolvers/query.search.ts
  packages/api/src/modules/search/types/searchable-resources.ts
Due: eslint --fix, prettier --write --ignore-unknown

WIP: l'ux me satisfait pas du tt pr l'instant
  packages/app/src/lib/components/InputPickUser.svelte
  packages/app/src/routes/(app)/users/[uid]/edit/family/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: add governance
  GOVERNANCE.md
Due: prettier --write --ignore-unknown

chore: added template FR from associations
  .gitlab/issue_templates/FR-assos.md
Due: prettier --write --ignore-unknown

feat(services): add toggle to hide/show a service
  packages/api/src/modules/services/resolvers/mutation.upsert-service-v2.ts
  packages/api/src/modules/services/resolvers/query.services.ts
  packages/api/src/modules/services/types/service-input.ts
  packages/api/src/modules/services/types/service.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/services/[id]/edit/+page.gql
  packages/app/src/routes/(app)/services/[id]/edit/+page.svelte
  packages/app/src/routes/(app)/services/[id]/edit/mutations.ts
  packages/app/src/routes/(app)/services/manage/+page.gql
  packages/app/src/routes/(app)/services/manage/+page.svelte
  packages/db/prisma/migrations/20241009153918_service_add_hidden/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

refactor(services): use upsertServiceV2 for service creation
  packages/app/src/routes/(app)/services/manage/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(services): allow pinning services
  packages/api/src/modules/services/resolvers/query.services.ts
  packages/api/src/modules/services/types/service.ts
  packages/api/src/modules/services/utils/index.ts
  packages/api/src/modules/services/utils/pins.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/CardService.houdini.svelte
  packages/app/src/lib/pins.ts
  packages/app/src/routes/(app)/services/+page.svelte
  packages/app/src/routes/(app)/services/[id]/edit/+page.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore: add feature request template for external requests
  .gitlab/issue_templates/FR-assos.md
Due: prettier --write --ignore-unknown

chore(changesets): update changeset
  .changeset/friendly-moose-dance.md
Due: prettier --write --ignore-unknown

fix(docs): improve description of Service.canEdit
  packages/api/src/modules/services/types/service.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(services): refactor prisma query for Query.services
  packages/api/src/modules/services/resolvers/query.services.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(services): refactor Query.services again
  packages/api/src/modules/services/resolvers/query.services.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(profile): allow admis to see email change requets
  packages/api/src/modules/users/types/user.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(search): make rank bumps env-configurable
  packages/app/schema.graphql
Due: prettier --write --ignore-unknown

feat(settings): allow changing theme
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP
  packages/api/src/modules/themes/resolvers/index.ts
  packages/api/src/modules/themes/resolvers/query.theme.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/NavigationTabs.svelte
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
  packages/app/src/lib/display.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/+layout.gql
  packages/app/src/routes/+layout.svelte
  packages/app/src/service-worker.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP
  packages/api/src/modules/themes/resolvers/mutation.set-theme-value.ts
  packages/app/houdini.config.js
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
  packages/app/src/lib/display.ts
  packages/app/src/lib/theme.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/(app)/settings/theme/ThemePreviewCard.svelte
  packages/app/src/routes/+layout.gql
  packages/app/src/routes/+layout.svelte
  packages/app/src/routes/+layout.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP
  packages/api/src/modules/groups/resolvers/mutation.add-group-member-v2.ts
  packages/api/src/modules/groups/resolvers/mutation.update-group-member.ts
  packages/api/src/modules/groups/types/index.ts
  packages/api/src/modules/themes/resolvers/index.ts
  packages/api/src/modules/themes/resolvers/mutation.upsert-theme.ts
  packages/api/src/modules/themes/resolvers/user.can-create-themes-on.ts
  packages/api/src/modules/themes/utils/defaults.ts
  packages/api/src/modules/themes/utils/index.ts
  packages/api/src/modules/themes/utils/permissions.ts
  packages/app/schema.graphql
  packages/app/src/lib/components/ThemesEditorSidebar.svelte
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/theme/+page.gql
  packages/app/src/routes/(app)/settings/theme/+page.svelte
  packages/app/src/routes/(app)/settings/theme/ThemePreviewCard.svelte
  packages/db/prisma/migrations/20241010000756_themes_make_dates_optional/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(members): purge user session cache when changing memberships
  .changeset/lemon-masks-leave.md
  packages/api/src/modules/groups/resolvers/mutation.add-group-member-v2.ts
  packages/api/src/modules/groups/resolvers/mutation.update-group-member.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: version packages
  .changeset/five-grapes-smoke.md
  .changeset/friendly-moose-dance.md
  .changeset/funny-radios-press.md
  .changeset/giant-bugs-chew.md
  .changeset/lemon-masks-leave.md
  .changeset/lucky-planets-type.md
  .changeset/metal-snails-sparkle.md
  .changeset/ninety-olives-deliver.md
  .changeset/purple-rats-visit.md
  .changeset/shiny-berries-kiss.md
  .changeset/sweet-bugs-explode.md
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/sync/CHANGELOG.md
  packages/sync/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix(lydia): bank accounts could not be registered
  packages/app/schema.graphql
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.gql
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

chore(changesets): add changeset
  .changeset/thick-meals-rest.md
Due: prettier --write --ignore-unknown

feat(simpps): add Mutation.createSpecialOfferCodes and fix displayed paid price on booking page
  .changeset/fast-pugs-fix.md
  .changeset/nice-dodos-leave.md
  .changeset/rare-fans-fry.md
  packages/api/src/modules/events/resolvers/mutation.create-event.ts
  packages/api/src/modules/payments/resolvers/index.ts
  packages/api/src/modules/payments/resolvers/mutation.create-special-offer-codes.ts
  packages/api/src/modules/payments/resolvers/query.special-offers.ts
  packages/api/src/modules/payments/utils/index.ts
  packages/api/src/modules/payments/utils/permissions.ts
  packages/api/src/modules/payments/utils/promotions.ts
  packages/api/src/modules/ticketing/types/ticket.ts
  packages/app/schema.graphql
  packages/app/src/lib/navigation.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.gql
  packages/app/src/routes/(app)/bookings/[code]/+page.svelte
  packages/app/src/routes/(app)/claim-code/[code]/+page.svelte
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/db/prisma/migrations/20241014160840_promotion_add_default_applicable_offers/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/seed/index.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(app): allow disabling splash screen
  .env.example
  packages/app/src/app.html
  packages/app/src/hooks.server.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): add changeset
  .changeset/tame-waves-eat.md
Due: prettier --write --ignore-unknown

fix(lydia): bank accounts could not be registered
  .changeset/thick-meals-rest.md
  packages/app/schema.graphql
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.gql
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.svelte
  packages/app/src/routes/(app)/groups/[uid]/edit/bank-accounts/+page.ts
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

feat(settings): allow changing theme
  packages/app/src/lib/ROUTES.ts
  packages/app/src/lib/navigation.ts
  packages/app/src/lib/theme.ts
  packages/app/src/routes/(app)/+layout.svelte
  packages/app/src/routes/(app)/settings/+layout.svelte
  packages/app/src/routes/(app)/settings/theme/+page.gql
  packages/app/src/routes/(app)/settings/theme/+page.svelte
  packages/app/src/routes/(app)/settings/theme/ThemePreviewCard.svelte
  packages/app/src/routes/(app)/themes.css/+server.ts
  packages/app/src/routes/+layout.svelte
  packages/app/static/colors.css
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

WIP
  packages/app/src/lib/components/InputColor.svelte
  packages/app/src/routes/(app)/settings/+layout.gql
  packages/app/src/routes/(app)/settings/+layout.svelte
Due: eslint --fix, stylelint --fix, prettier --write --ignore-unknown

fix(api): properly set CORS headers
  packages/api/src/server/express.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(bookings): make Mutation.checkIfBookingIsPaid return a Result<Registration>
  packages/api/src/modules/ticketing/resolvers/mutation.check-if-booking-is-paid.ts
  packages/app/schema.graphql
  packages/app/src/routes/(app)/bookings/[code]/+page.server.ts
  packages/app/src/routes/(app)/bookings/[code]/+page.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(capacitor): make oauth login work‼️
  packages/api/src/server/auth/oauth2.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(notifications): properly catch expired native subscription token errors
  packages/api/package.json
  packages/api/src/modules/notifications/utils/send.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

fix(api): remove import cycle
  packages/api/scripts/modules-import-graph.dot
  packages/api/scripts/modules-import-graph.png
  packages/api/src/modules/posts/resolvers/index.ts
  packages/api/src/modules/posts/resolvers/mutation.change-post-owner.ts
  packages/api/src/modules/users/resolvers/index.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(firebase): prevent crash when $FIREBASE_ADMIN_SERVICE_ACCOUNT_KEY is not set
  packages/api/src/modules/notifications/utils/send.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat(notifications): implement sending notifications to native-issued subscription endpoints
  .env.example
  packages/api/package.json
  packages/api/src/global.d.ts
  packages/api/src/modules/notifications/utils/send.ts
  yarn.lock
Due: eslint --fix, prettier --write --ignore-unknown

chore(changeset): add changesets
  .changeset/honest-shoes-tell.md
  .changeset/slow-days-grab.md
  .changeset/three-candles-sniff.md
Due: prettier --write --ignore-unknown

refactor(ticketing): refactor Mutation.checkIfBookingIsPaid
  packages/api/src/modules/payments/utils/lydia/pay.ts
  packages/api/src/modules/payments/utils/lydia/transactions.ts
  packages/api/src/modules/ticketing/resolvers/mutation.check-if-booking-is-paid.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  stylelint --fix: any of: *.{css,scss,svelte}
  prettier --write --ignore-unknown: any of: *
